@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,section,canvas {
    padding: 0;
    margin: 0;
}
li{ list-style: none;}

html,body {
    font-size: 22px;
    color: #000;
    font-family: 'Microsoft YaHei', Arial;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #ebebeb;
    -webkit-touch-callout:none; /* 禁用长触弹出的下载图片菜单 */
    -webkit-user-select:none; /* 禁用长触选择文字等功能 */
}

.hide{ display: none;}

.main{ width: 100%; height: 100%; position: relative;}
/*.main .top{ width: 100%; height: 67px; border: 1px solid #e8e7ec; background: #f0eff5;}*/
/*.top .tct{ width: 80%; height: 42px; border: 1px solid #e8e7ec; border-radius:5px; background: #FFFFFF;margin: 0 auto;}*/

.content{width: 100%; height: auto}
/*.content .message{width: 100%; position: relative;}*/
.content .message{width: 640px; position: relative; float:left;}
.message>div{position: relative;}
.message .head{float: left; margin:32px 0 0 15px;}
.message .head>img{width: 64px; height: 64px;}
.message .voice{float: left; margin: 32px 0 0 17px;}
.message .time{float: left; margin:62px 0 0 10px; color: #848484; font-size: 20px;}
.message .point{float: left; margin:29px 0 0 -20px; background: #eb4d4b; width: 13px; height: 13px; border-radius:50%;}
.message .hua{float: left; margin:32px 0 0 15px;}
.message .hongbao{float: left; margin:32px 0 0 15px;}
.message .hbtext{position: absolute; margin:61px 0 0 205px; font-size: 22px; color:#ffffff;}
.message .tutu{float: left; margin: 32px 0 0 15px;}

.hua .mcla{ padding: 17px; border: 1px solid #dadada; max-width: 400px; left: 20px; background-color: white; margin-left: 13px;}
.hua .jb{ position: absolute; top: 17px}
.hua .radioBox{ border-radius: 8px; -webkit-border-radius: 8px;}
.hua .radioBox img{ width:25; height: 25px; vertical-align: middle;}

.bottom2{margin:0 0 0 -320px; position: fixed; left: 50%; bottom: 0px; height: 76px;}
