html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: Helvetica,STHeiti,"Microsoft YaHei",Verdana,Arial,Tahoma,sans-serif;
}
.sku-group input[type=text] {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
a,button{outline: none;}
a{text-decoration: none;}
.sku-group {
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    border: 1px solid #e5e5e5;
}
.sku-group h3.sku-group-title {
    position: relative;
    padding: 7px 0 7px 10px;
    margin: 0;
    color: #666;
    background-color: #f8f8f8;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
}
.btn {
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #333;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
	-webkit-appearance: button;
}

.btn, .btn-group, .btn-group-vertical {
    display: inline-block;
}

.btn, .pagination-centered {
    text-align: center;
}

.alert .close, .btn, .close, .dropdown-menu>li>a, .nav-header {
    line-height: 20px;
}

.sku-group h3.sku-group-title {
    position: relative;
    padding: 7px 0 7px 10px;
    margin: 0;
    color: #666;
    background-color: #f8f8f8;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
}

.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.select2-container, .select2-drop, .select2-search, .select2-search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #eee));
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}
.select2-container .select2-choice>.select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;
    font-size: 1px;
    text-decoration: none;
    border: 0;
    background: url("../image/select2.png") right top no-repeat;
    cursor: pointer;
    outline: 0;
}
.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #aaa;
    border-radius: 0 4px 4px 0;
    background-clip: padding-box;
    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), color-stop(60%, #eee));
    background-image: -webkit-linear-gradient(top, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(top, #ccc 0%, #eee 60%);
    background-image: linear-gradient(to bottom, #ccc 0%, #eee 60%);
}
.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../image/select2.png") no-repeat 0 1px;
}
.sku-group .addImg-radio {
    display: inline-block;
    margin: 3px 0px 0 30px;
}
.sku-group .addImg-radio input {
    vertical-align: 0px;
    margin-right: 6px;
}
.sku-group .remove-sku-group {
    display: none;
    position: absolute;
    top: 12px;
    right: 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 16px;
    background: rgba(153,153,153,0.6);
    border-radius: 10px;
    text-indent: 0;
}
.sku-group .sku-sub-group:hover .remove-sku-group{display:block}
.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.sku-group input[type=text]{
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
    background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #eee));
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}
.select2-display-none {
    display: none;
}
.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 1100;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.15);
    box-shadow: 0 4px 5px rgba(0,0,0,0.15);
}
.select2-drop-active {
    border: 1px solid #5897fb;
    border-top: none;
}
.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
    text-decoration: underline;
}
.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    z-index: 100;
    white-space: nowrap;
}
.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px solid #aaa;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff url("../image/select2.png") no-repeat 100% -22px;
    background: url("../image/select2.png") no-repeat 100% -22px,-webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url("../image/select2.png") no-repeat 100% -22px,-webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url("../image/select2.png") no-repeat 100% -22px,-moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url("../image/select2.png") no-repeat 100% -22px,linear-gradient(to bottom, #fff 85%, #eee 99%);
}

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}
.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}
.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
}

.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: transparent;
}

.sku-group input[type=text]{
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}
input[type=text]:focus{
	border-color: rgba(82,168,236,.8);
	outline:0;
}
.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 1098;
    background-color: #fff;
    filter: alpha(opacity=0);
}
.select2-dropdown-open .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    -webkit-filter: none;
    filter: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}
.sku-group .sku-group-cont {
    padding: 10px;
    margin-bottom: 10px;
    padding-left:25px
}
.sku-atom-list {
    display: inline-block;
}
.add-sku {
    display: inline-block;
    padding: 0 5px;
    margin: 9px 5px 0 5px;
    vertical-align: top;
    color: #38f;
    text-decoration: none;
}

.help-desc {
    opacity: 0.6;
    line-height: 14px;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 0;
    color: #999;
}
.ui-popover {
    position: absolute;
    z-index: 1010;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
}
.ui-popover.top-left, .ui-popover.top-center, .ui-popover.top-right {
    margin-top: 10px;
}
.ui-popover .ui-popover-inner {
    position: relative;
    background: #fff;
    border-radius: 2px;
    padding: 10px 20px;
    z-index: 2;
}
.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(to bottom, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(to bottom, #eee 1%, #fff 15%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}
.select2-container-multi .select2-choices {
    min-height: 26px;
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent !important;
}
.select2-container, .select2-drop, .select2-search, .select2-search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}
.ui-btn {
    display: inline-block;
    border-radius: 2px;
    height: 26px;
    line-height: 26px;
    padding: 0 12px;
    cursor: pointer;
    color: #333;
    background: #f8f8f8;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.ui-btn-primary {
    color: #fff;
    background: #07d;
    border-color: #006cc9;
}
.ui-popover .arrow {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    z-index: 1;
}
.ui-popover.top-left .arrow, .ui-popover.top-center .arrow, .ui-popover.top-right .arrow {
    top: 0;
    -webkit-transform: rotate(45deg) translateY(-50%);
    -moz-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.ui-popover.top-center .arrow {
    left: 50%;
    -webkit-transform: rotate(45deg) translateX(-50%) translateY(-50%);
    -moz-transform: rotate(45deg) translateX(-50%) translateY(-50%);
    -ms-transform: rotate(45deg) translateX(-50%) translateY(-50%);
    transform: rotate(45deg) translateX(-50%) translateY(-50%);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 18px 3px 5px;
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 1px;
    outline: none;
    background: url("../image/select2.png") right top no-repeat;
}
.select2-container-multi .select2-search-choice-close {
    right: 3px;
}
.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.sku-atom {
    border: 1px solid #AAA;
    padding: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 80px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    border-radius: 4px;
}
.sku-atom span {
    display: block;
    width: 74px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.close-modal {
    position: absolute;
    z-index: 2;
    top: -9px;
    right: -9px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: rgba(153,153,153,0.6);
    border-radius: 10px;
}
.close-modal.small {
    top: -8px;
    right: -8px;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 9px;
}



.sku-atom .close-modal {
    display: none;
}

.sku-atom .upload-img-wrap {
    position: absolute;
    top: 36px;
    left: 0;
    padding: 2px;
    width: 84px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
}
.sku-atom .upload-img-wrap .arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: -5px;
    left: 44%;
    border-style: solid;
    border-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000000;
}

.sku-atom .upload-img-wrap .add-image {
    width: 84px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    background: #fff;
    font-size: 30px;
    color: #e5e5e5;
    cursor: pointer;
}

.select2-results .select2-selected {
    display: none;
}

.sku-atom:hover .js-remove-sku-atom{display: block;}

.sku-atom.active {
    margin-bottom: 100px;
}
.hide{display: none;}

.sku-atom .upload-img-wrap .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: -10px;
    margin-left: -10px;
    border-bottom-color: #fff;
    border-top-width: 0;
    border-width: 10px;
    content: "";
}
#modelFixed{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background: #000;
    opacity: 0.7;
}

#imgUploadCon{position: fixed;width: 600px;height: 300px;left: 50%;top: 50%;margin: -150px 0 0 -300px;z-index: 1050;background: #FFFFFF;display: none}
#imgUploadCon>div.title{padding: 6px 0 6px 15px;margin-right: 20px;border-bottom: 1px solid #e5e5e5;}
#imgUploadCon>div.title span{line-height: 28px;}
#imgUploadCon .close{float: right;font-size: 32px;font-weight: 700;color: #000;text-shadow: 0 1px 0 #fff;opacity: .2;filter: alpha(opacity=20);text-decoration: none;margin-top: 5px;}
#imgUploadCon .close:hover{opacity: .4;filter: alpha(opacity=40);}
#imgUploadCon .local-image-region{margin: 0 20px;padding: 30px 10px;zoom: 1;overflow: hidden;}
#imgUploadCon .local-image-region .title {float: left;font-size: 14px;font-weight: bold;width: 150px;text-align: right;}
#imgUploadCon .local-image-region .content {float: left;width: 300px;margin-left: 10px;}
#imgUploadCon .local-image-region .add-local-image-button {position: relative;display: inline-block;width: 80px;height: 80px;margin-bottom: 20px;border: 2px dashed #ddd;line-height: 71px;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 36px;
    color: #ddd;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
#imgUploadCon .local-image-region .add-local-image-button input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    direction: rtl;
    font-size: 23px;
    opacity: 0;
    cursor: pointer;
}
.widget-attachment .modal-footer {
    position: relative;
    
}
.modal-footer {
    padding: 15px 15px 4px;
    background: #fff;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}
.modal-footer .text-center{text-align: center;}
.modal-footer:after, .modal-footer:before {
    display: table;
    line-height: 0;
    content: "";
}
.modal-footer .ui-btn {
    font: 13.3333px Arial;
    height: 30px;
    line-height: 30px;
    min-width: 84px;
    color: #999;
    background: #f0f0f0;
    border-color: #ddd;
}
.modal-footer .ui-btn-primary {
    color: #fff;
    background: #07d;
    border-color: #006cc9;
}
.upload-local-image-item {
    position: relative;
    float: left;
    margin: 0 20px 20px 0px;
    width: 80px;
    height: 80px;
    list-style-type: none;
}
.image-box {
    background: #ccc;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: 50% 50%;
}
.close-modal.small {
    top: -8px;
    right: -8px;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 9px;
    display: none;
}
.upload-local-image-item:hover .close-modal.small{
	display: block;
}

.ui-btn-disabled{
	pointer-events: none;
}

.notifications {
    position: fixed;
    z-index: 10000;
    top: -48px;
    left: 50%;
    margin-left: -225px;
    transition:all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.notifications>div {
    width: 400px;
    position: relative;
    text-align: center;
    z-index: 10001;
    margin: 5px 0px;
}
.fade.in {
    opacity: 1;
}
.notifications .alert {
    padding: 10px 35px 10px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    text-shadow: none;
}

.notifications .alert-error {
    background: #ff4343;
    border: 1px solid #e23333;
}

.sku-atom .upload-img-wrap .img-edit {
    cursor: pointer;
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #fff;
    opacity: 0.5;
    background: #000;
}
.js-enter-wrap .js-btn-close{display: none;}
.js-enter-wrap .js-btn-edit{display: none;}
.js-enter-wrap:hover .js-btn-close{display: block}
.js-enter-wrap:hover .js-btn-edit{display: block}
.js-img-preview{width: 80px;height: 80px;}


