
.top-header-menu{
	width: 100%;
	height: 61px;
	background-color: #1f4e7c;
}

.top-header-menu .top-menu-cont{
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 990px;
}

.top-header-menu .top-menu-cont .top-logo{
	height: 50px;
    width: 130px;
    float: left;
    _display: inline;
}

.top-header-menu .top-menu-cont .top-logo .top-logo-link{
    background: url("/static/css/method/img/T1AE8EFfJfXXb5L2o_-130-19.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    height: 19px;
    margin-top: 21px;
    text-decoration: none;
    width: 130px;
    _background-image:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src="http://img02.taobaocdn.com/tps/i2/T1AE8EFfJfXXb5L2o_-130-19.png", sizingMethod=scale); 

}

.top-header-menu .top-menu-cont .top-logo .top-logo-link .top-logo-title{
    font-family: Microsoft YaHei;
    font-size: 24px;
    font-weight: normal;
    height: 50px;
    line-height: 40px;
}

.top-header-menu .top-menu-cont .top-logo .top-logo-link .top-logo-url{
    font-family: Arial;
    font-size: 12px;
    height: 14px;
    letter-spacing: 3px;
    line-height: 14px;
    margin-top: 7px;
}

.top-header-menu .top-menu-cont .top-nav-menu {
    height: 100%;
    float: left;
    _display: inline;
}

.top-header-menu .top-menu-cont .top-nav-menu li {
    float: left;
    display: inline-block;
    _display: inline;
    _width: 70px;
    height: 100%;
    _overflow: hidden;
    position: relative;
    line-height: 100%;
    font-family: Microsoft YaHei;
    font-size: 14px;
}

.top-header-menu .top-menu-cont .top-nav-menu li:hover{
    background-color: #417bb6;
    /*border-radius: 8px;*/
}

.top-header-menu .top-menu-cont .top-nav-menu li a{
    color: #fff;
    display: block;
    line-height: 61px;
    padding: 0 18px;
    text-decoration: none;
    zoom: 1;
}

.top-header-menu .top-menu-cont .top-nav-menu li:hover a{
    text-decoration: none;
    color: #fff;
}
.top-header-menu .top-menu-cont .top-nav-menu li.selected {
    background-color: #417bb6;
}
.top-header-menu .top-menu-cont .top-nav-menu li.selected a{
    text-decoration: none;
    color: #fff;
}

.clearfix:after{content:'\0020';display:block;height:0;clear:both;}

.clearfix{zoom:1;}

.hidden { display: none;}

/*header*/
#site-nav {
    background-color: #1F4E7C;
    min-width: 950px;
    width: auto;
    border: 0;
}
/*footer*/
#footer {
    background: none repeat scroll 0 0 #F3F3F3;
    border-top: 1px solid #e6e6e6;
    color: #898989;
    font-size: 12px;
/*    height: 45px;*/
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow: hidden;
    margin-top: 20px;
}
#footer h4 {
    color: #666;
    height: 36px;
    line-height: 36px;
}
#footer .footer {
    width: 990px;
    margin: 0 auto;
}
#footer .footer a, #footer .footer .email {
    font-size: 12px;
    color: #7B7B7B;
    cursor: pointer;
}
#footer .footer a:hover, #footer .footer .email:hover  {
    font-size: 12px;
    color: #F27B04;
    text-decoration: none;
}
#footer .footer span a {
    color: #898989;
    padding-left: 8px;
}
#footer .open-nav {
    padding: 11px 0 20px;
    border-bottom: 1px solid #E0E0E0;
}
#footer li {
    float: left;
}
#footer li a {
    width: 80px; 
    display: inline-block;
}
#footer li.guide {
    width: 208px;
}
#footer li.doc {
    width: 187px;
}
#footer li.doc a {
    width: 70px;
}
#footer li.rule {
    width: 165px;
}
#footer li.rule a {
    width: 70px;
}
#footer li.open {
    width: 245px;
    background: url(/static/css/method/img/T1QXC2XfprXXXXXXXX-1-17.png) repeat-y right 0;
}
#footer li.open a {
    width: 110px;
}
#footer li.help {
    width: 140px; 
    padding-left: 40px; 
    font-weight: bold;
}

#footer .about{
    padding: 10px 0;
    position: relative;
}

#footer .contact{
    border-bottom: 1px solid #e1e1e1;
    color: #898989;
    font-size: 12px;
    margin-top: 22px;
    padding-bottom: 22px;
    width: 100%;
}

#footer .contact .weibo{
    background: url("/static/css/method/img/T17fDqXcxXXXbikWna-17-82.png") no-repeat scroll 1px -23px transparent;
    height: 20px;
    line-height: 20px;
    margin-right: 20px;
    padding-left: 22px;
}

#footer .contact .weibo:hover{
    background-position: 1px -68px;
}

#footer .contact .email{
    background: url("/static/css/method/img/T17fDqXcxXXXbikWna-17-82.png") no-repeat scroll 1px 1px transparent;
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
    margin-right: 15px;
}

#footer .contact .email:hover{
    background-position: 1px -44px;
}

#footer .copyright {
    color: #999999;
    font-family: tahoma;
}
#footer .about .links{
    position: absolute;
    right: 0;
    top: 10px; _top: 7px;
}
#footer .about .sep {
    padding-left: 12px;
}


/*
以下是改版新增的样式：
@time 2013-07-10
@auther wb-rujianfang
*/
.top-search-wrap {
    float: left;
    margin-left: 55px;
    display: inline-block;
    *display: inline;
    width: 290px;
    position: relative;
}
.top-search-wrap .top-search {
    margin-top: 18px;
}
.top-search .default {
    position: absolute;
    top: 18px;
    left: 3px;
    line-height: 24px;
    color: #B3B3B3;
    z-index: 9;
    font-family: 'Microsoft Yahei';
}
.top-search .actived {
    position: relative;
    width: 260px;
}
.top-search .actived .searchText {
    width: 256px;
    height: 24px;
    padding: 0 2px;
    line-height: 24px;
    border: none;
}
.top-search .actived .sBtn,
.top-login .triangle,
.top-login .menu-hd i,
.top-nav-menu .reddot {
    background: url('/static/css/method/img/T1u7JFFhJeXXbGPljd-16-106.png') no-repeat;
    /*_background-image:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src="http://img01.taobaocdn.com/tps/i1/T1u7JFFhJeXXbGPljd-16-106.png", sizingMethod=scale); 
    _background-repeat: no-repeat;*/
}
.top-search .actived .sBtn {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 2px;
    top: 0;
    _top: 3px;
    background-position: 7px -17px;
}
.top-login {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 210px;
    min-width: 120px;
    height: 61px;
}
.top-login:hover {
    background-color: #417bb6;
}
.top-login:hover .top-menu-bd {
    display: block;
}
.top-login .triangle {
    position: absolute;
    left: 48%;
    bottom: -7px;
    _bottom: -8px;
    display: block;
    width: 14px;
    height: 10px;
    _overflow: hidden;
    background-position: 0 -98px;
}
.top-login .ico-down {
    background: url(/static/css/method/img/T1CN0UFiJfXXX_dxDf-39-16.png) no-repeat;
    background-position: -31px 0;
    width: 8px;
    height: 4px;
    display: block;
    position: absolute;
    right: 17px;
    top: 10px;
}
.top-login .menu-hd {
    display: block;
    position: relative;
    margin: 20px auto;
    padding: 0 34px 0 17px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
#open-login {
    padding: 0 17px;
}
#open-login .ico-down {
    display: none;
}
.top-login .menu-hd i {
    background-position: 0 -57px;
    height: 14px;
    width: 16px;
    margin-right: 8px;
    display: inline-block;
}
.top-nav-menu .reddot {
    position: absolute;
    top: 20px;
    right: 8px;
    width: 6px;
    height: 6px;
    _overflow: hidden;
    background-position: 0 0;
}
.top-menu-bd {
    width: auto;
    position: relative;
    z-index: 19;
    display: none;
}
.top-menu-bd li {
    background-color: #417bb6;
    height: 60px;
    border-top: 1px solid #fff;
}
.top-menu-bd li a {
    display: block;
    overflow: hidden;
    margin: 20px 0 0 38px;
    color: #fff;
    font-size: 14px;
}
/*
开发平台前台改版：
@time 2013-7-10;
@auther wb-rujianfang
*/
.level-clean {

}
.level-clean li {
    height: 30px;
}
.level-clean li a {
    color: #666;
    line-height: 30px;
    font-size: 12px;
    width: 170px;
    padding-left: 10px;
}
.level-clean li a:hover {
    background-color: #eee;
}
.level-clean li.selected a {
    color: #057cb2;
    display: block;
    overflow: hidden;
}
/*修改搜索框样式*/
.search-wrap {
    float: left;
    margin-left: 55px;
    display: inline-block;
    *display: inline;
    width: 290px;
    position: relative;
}
.search-wrap .search {
    margin-top: 18px;
}
#search {
    height: 24px;
    position: absolute;
    top: 19px;
    left: 0;
    width: 260px;
    cursor: pointer;
}
#search .default {
    color: #B3B3B3;
    background: #fff;
    width: 100%;
    height: 100%;
}
#search .actived {
    color: black;
    background: #fff;
    width: 100%;
    height: 100%;
    display: none;
}
#search .initText {
    font-size: 12px;
    line-height: 24px;
    margin-left: 6px;
    vertical-align: top;
}
#search .searchText {
    border: 0 none;
    font-size: 12px;
    height: 20px;
    left: 0px;
    top: 0;
    position: absolute;
    line-height: 20px;
    vertical-align: middle;
    width: 16em;
    padding: 2px 0 2px 4px;
    outline: none;
}
#search .sBtn {
    background: none;
    display: block;
    height: 24px;
    padding-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
}
.apisuggest_bg {
    width: 258px!important;
}
.ks-suggest-container{
    background:white;
    border:1px solid #999;
    z-index:99999
}
.ks-suggest-container li {
    line-height: 24px!important;
    border-top: 1px solid #E6ECF1;
}
.ks-suggest-container .ks-selected {
    background: #D6EAF6 url(/static/css/method/img/T1Lqt.Xd4IXXX_WV6a-5-10.gif) no-repeat 96% 50%!important;
}
.ks-suggest-container .ks-selected span {
    color: #404040!important;
}
#search .default,
#search .actived,
#search .sBtn:active {
    background: #fff url('/static/css/method/img/T1u7JFFhJeXXbGPljd-16-106.png') no-repeat;
    background-position: right -17px;
}