<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="email=no">
        <title>体质调理处方</title>
        <link rel="stylesheet" type="text/css" href="$!webPath/resources/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="$!webPath/resources/css/tijian.css" />
	    <script>
    		var screenWidth=window.innerWidth||document.documentElement.clientWidth;
			document.documentElement.style.fontSize = parseInt(screenWidth /7.5 ) + "px";
	    </script>
	</head>
	<body>
		<div class="tjHolder">
			<div class="topImg">
				<a href="$!webPath/v1/cm/queList" class="reCheck">重评&nbsp;></a>
			</div>
			<div class="yangsheng">
				<div class="title">养生指导</div>
				<div class="content">
					保持足够的睡眠，但不可过于安逸，以免气机郁滞而致血行不畅，可进行有助于气血运行的运动项目和保健按摩，及时消除不良情绪，保持心情愉快。可常食黑豆、黄豆、萝卜、山楂、三七、丹参等活血、散结、行气、疏肝解郁作用的食物；尽量少吃滋腻肥厚之物。
				</div>
			</div>
			<div class="yangshengList">
				<div class="title">心理</div>
				<div class="content">每天保持好心情</div>
				<div class="title">起居</div>
				<div class="content">清晨忌吸烟</div>
				<div class="title">活动</div>
				<div class="content">每天坚持12000步</div>
				<div class="title">饮食</div>
				<div class="content">空腹忌喝牛奶，多喝白粥</div>
			</div>
			<div class="tuijian">
	            <div class="title">精华推荐</div>
	            <div class="area groom">
	                <div class="p_filter fc_title">
	                    <div class="dd"><a href="javascript:m1.titleClickEvent(0);" class="selected"><i></i>帖子</a></div>
	                    <div class="dd"><a href="javascript:m1.titleClickEvent(1);" class=""><i></i>商品</a></div>
	                    <div class="dd"><a href="javascript:m1.titleClickEvent(2);" class=""><i></i>服务</a></div>
	                </div>
	                <div id="fc_con" class="m_touch">
	                    <div class="touch_content">
	                        <div class="touch_con">
	                            <div class="touch_tab">
	                                <ul class="list_con tiezi">
	                                    <li>
	                                        <a href="#">
	                                            <img src="images/tiezi.png">
	                                            <div class="content">
	                                                <p class="tit">头发很油怎么办？</p>
	                                                <div class="bot">
	                                                    <p>秋冬天气干燥头发容易秋冬天气干燥头发容易</p>
	                                                    <span>人气532</span>
	                                                </div>
	                                            </div>
	                                        </a>
	                                    </li>
	                                    <li>
	                                        <a href="#">
	                                            <img src="images/tiezi.png">
	                                            <div class="content">
	                                                <p class="tit">头发很油怎么办？</p>
	                                                <div class="bot">
	                                                    <p>秋冬天气干燥头发容易秋冬天气干燥头发容易</p>
	                                                    <span>人气532</span>
	                                                </div>
	                                            </div>
	                                        </a>
	                                    </li>
	                                    <li>
	                                        <a href="#">
	                                            <img src="images/tiezi.png">
	                                            <div class="content">
	                                                <p class="tit">头发很油怎么办？</p>
	                                                <div class="bot">
	                                                    <p>秋冬天气干燥头发容易秋冬天气干燥头发容易</p>
	                                                    <span>人气532</span>
	                                                </div>
	                                            </div>
	                                        </a>
	                                    </li>
	                                    <li>
	                                        <a href="#">
	                                            <img src="images/tiezi.png">
	                                            <div class="content">
	                                                <p class="tit">头发很油怎么办？</p>
	                                                <div class="bot">
	                                                    <p>秋冬天气干燥头发容易秋冬天气干燥头发容易</p>
	                                                    <span>人气532</span>
	                                                </div>
	                                            </div>
	                                        </a>
	                                    </li>
	                                    <li>
	                                        <a href="#">
	                                            <img src="images/tiezi.png">
	                                            <div class="content">
	                                                <p class="tit">头发很油怎么办？</p>
	                                                <div class="bot">
	                                                    <p>秋冬天气干燥头发容易秋冬天气干燥头发容易</p>
	                                                    <span>人气532</span>
	                                                </div>
	                                            </div>
	                                        </a>
	                                    </li>
	                                </ul>
	                            </div>
	                            <div class="touch_tab">
	                                <ul class="list_con goods">
	                                    <li>
	                                        <a href="#">
	                                            <div class="goodsdiv">
	                                                <img src="images/goods.jpg">
	                                                <p class="tit">胡庆余堂 固元膏果仁阿胶片280克*2女士阿胶</p>
	                                                <span class="price"><span class="fn-rmb">￥</span>236.00</span>
	                                            </div>
	                                        </a>
	                                    </li>
	                                    <li>
	                                        <a href="#">
	                                            <div class="goodsdiv">
	                                                <img src="images/goods.jpg">
	                                                <p class="tit">胡庆余堂 固元膏果仁阿胶片280克*2女士阿胶</p>
	                                                <span class="price"><span class="fn-rmb">￥</span>236.00</span>
	                                            </div>
	                                        </a>
	                                    </li>
	                                    <li>
	                                        <a href="#">
	                                            <div class="goodsdiv">
	                                                <img src="images/goods.jpg">
	                                                <p class="tit">胡庆余堂 固元膏果仁阿胶片280克*2女士阿胶</p>
	                                                <span class="price"><span class="fn-rmb">￥</span>236.00</span>
	                                            </div>
	                                        </a>
	                                    </li>
	                                    <li>
	                                        <a href="#">
	                                            <div class="goodsdiv">
	                                                <img src="images/goods.jpg">
	                                                <p class="tit">胡庆余堂 固元膏果仁阿胶片280克*2女士阿胶</p>
	                                                <span class="price"><span class="fn-rmb">￥</span>236.00</span>
	                                            </div>
	                                        </a>
	                                    </li>
	                                </ul>
	                            </div>
	                            <div class="touch_tab">
	                                <ul class="list_con service">
	                                    <li>
	                                        <a href="#">
	                                            <img src="images/tiezi.png">
	                                            <div class="right">
	                                                <p class="tit">金砖奶茶</p>
	                                                <p class="star"><span class="rate_score"><em data-width="4.5"></em></span><span class="star_num">4.5</span></p>
	                                                <span class="price"><span class="fn-rmb">￥</span>25</span>
	                                                <div class="pos">
	                                                    <p class="icon_p">341km</p>
	                                                    <p>[已售125]</p>
	                                                </div>
	                                            </div>
	                                        </a>
	                                    </li>
	                                    <li>
	                                        <a href="#">
	                                            <img src="images/tiezi.png">
	                                            <div class="right">
	                                                <p class="tit">金砖奶茶</p>
	                                                <p class="star"><span class="rate_score"><em data-width="3.6"></em></span><span class="star_num">3.6</span></p>
	                                                <span class="price"><span class="fn-rmb">￥</span>25</span>
	                                                <div class="pos">
	                                                    <p class="icon_p">341km</p>
	                                                    <p>[已售125]</p>
	                                                </div>
	                                            </div>
	                                        </a>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	        </div>
	            
	        </div>
		</div>
		<script src="$!webPath/resources/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="$!webPath/resources/js/touchSlider.js" type="text/javascript" charset="utf-8"></script>
        <script src="$!webPath/resources/js/tools.js" type="text/javascript" charset="utf-8"></script>
        <script src="$!webPath/resources/js/common.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
	         jQuery("em").each(function(){
	                var num=jQuery(this).attr("data-width");
	                jQuery(this).width((22*Math.floor(num)+(num-Math.floor(num))*12)+"%");
	         });
	         var m1=new m_Touch("fc_con","fc_title");
        </script>
	</body>
</html>
