<link href="${staticPath}/static/app/assets/css/normalize.css" rel="stylesheet" type="text/css">
<link href="${staticPath}/static/app/assets/css/font.css" rel="stylesheet" type="text/css">
<link href="${staticPath}/static/app/assets/css/style.css" rel="stylesheet" type="text/css">
<script>
    var isAndroid, isiOS;
    (function() {
        var u = navigator.userAgent, app = navigator.appVersion;
        isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
        isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    }());
</script>