<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinco.carnation.sys.mapper.IntegralRegMapper">
	<resultMap id="BaseResultMap" type="com.sinco.carnation.sys.model.IntegralReg">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="delete_status" property="deleteStatus"
			jdbcType="BIT" />
		<result column="display" property="display" jdbcType="BIT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="times_limit_type" property="timesLimitType"
			jdbcType="INTEGER" />
		<result column="times" property="times" jdbcType="INTEGER" />
		<result column="integral" property="integral" jdbcType="INTEGER" />
		<result column="sign_integral" property="signIntegral"
			jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="BOResultMap" type="com.sinco.carnation.sys.bo.IntegralRegBO"
		extends="BaseResultMap">
		<result column="today_times" property="today_times" jdbcType="INTEGER" />
		<result column="UFtimes" property="UFtimes" jdbcType="INTEGER" />
		<result column="UF" property="UF" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, delete_status, name, type, times, integral,
		sign_integral, add_time,
		display, times_limit_type
	</sql>
	<select id="selectByExample" parameterType="com.sinco.carnation.sys.model.IntegralRegExample"
		resultMap="BOResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from sys_integral_reg
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_integral_reg
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		sys_integral_reg
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.sinco.carnation.sys.model.IntegralRegExample">
		delete from sys_integral_reg
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.sinco.carnation.sys.model.IntegralReg"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_integral_reg (id,
		delete_status, name,
		type, times_limit_type, times, integral,
		sign_integral, display ,add_time)
		values (#{id,jdbcType=BIGINT},
		#{deleteStatus,jdbcType=BIT},
		#{name,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}, #{timesLimitType,jdbcType=INTEGER},
		#{times,jdbcType=INTEGER},
		#{integral,jdbcType=INTEGER},
		#{signIntegral,jdbcType=VARCHAR}, #{display,jdbcType=BIT},
		#{addTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.sinco.carnation.sys.model.IntegralReg"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_integral_reg
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="deleteStatus != null">
				delete_status,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="timesLimitType != null">
				times_limit_type,
			</if>
			<if test="times != null">
				times,
			</if>
			<if test="integral != null">
				integral,
			</if>
			<if test="signIntegral != null">
				sign_integral,
			</if>
			<if test="display != null">
				display,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="deleteStatus != null">
				#{deleteStatus,jdbcType=BIT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="timesLimitType != null">
				#{timesLimitType,jdbcType=INTEGER},
			</if>
			<if test="times != null">
				#{times,jdbcType=INTEGER},
			</if>
			<if test="integral != null">
				#{integral,jdbcType=INTEGER},
			</if>
			<if test="signIntegral != null">
				#{signIntegral,jdbcType=VARCHAR},
			</if>
			<if test="display != null">
				#{display,jdbcType=BIT},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.sinco.carnation.sys.model.IntegralRegExample"
		resultType="java.lang.Integer">
		select count(*) from sys_integral_reg
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update sys_integral_reg
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.deleteStatus != null">
				delete_status = #{record.deleteStatus,jdbcType=BIT},
			</if>
			<if test="record.display != null">
				display = #{record.display,jdbcType=BIT},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.type != null">
				type = #{record.type,jdbcType=VARCHAR},
			</if>
			<if test="record.timesLimitType != null">
				times_limit_type =
				#{record.timesLimitType,jdbcType=INTEGER},
			</if>
			<if test="record.times != null">
				times = #{record.times,jdbcType=INTEGER},
			</if>
			<if test="record.integral != null">
				integral = #{record.integral,jdbcType=INTEGER},
			</if>
			<if test="record.signIntegral != null">
				sign_integral = #{record.signIntegral,jdbcType=VARCHAR},
			</if>
			<if test="record.addTime != null">
				add_time = #{record.addTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update sys_integral_reg
		set id = #{record.id,jdbcType=BIGINT},
		delete_status = #{record.deleteStatus,jdbcType=BIT},
		display =
		#{record.display,jdbcType=BIT},
		name = #{record.name,jdbcType=VARCHAR},
		type = #{record.type,jdbcType=VARCHAR},
		times_limit_type =
		#{record.timesLimitType,jdbcType=INTEGER},
		times =
		#{record.times,jdbcType=INTEGER},
		integral =
		#{record.integral,jdbcType=INTEGER},
		sign_integral =
		#{record.signIntegral,jdbcType=VARCHAR},
		add_time =
		#{record.addTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.sinco.carnation.sys.model.IntegralReg">
		update sys_integral_reg
		<set>
			<if test="deleteStatus != null">
				delete_status = #{deleteStatus,jdbcType=BIT},
			</if>
			<if test="display != null">
				display = #{display,jdbcType=BIT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="timesLimitType != null">
				times_limit_type = #{timesLimitType,jdbcType=INTEGER},
			</if>
			<if test="times != null">
				times = #{times,jdbcType=INTEGER},
			</if>
			<if test="integral != null">
				integral = #{integral,jdbcType=INTEGER},
			</if>
			<if test="signIntegral != null">
				sign_integral = #{signIntegral,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sinco.carnation.sys.model.IntegralReg">
		update
		sys_integral_reg
		set delete_status = #{deleteStatus,jdbcType=BIT},
		display = #{display,jdbcType=BIT},
		name = #{name,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		times_limit_type =
		#{timesLimitType,jdbcType=INTEGER},
		times = #{times,jdbcType=INTEGER},
		integral = #{integral,jdbcType=INTEGER},
		sign_integral =
		#{signIntegral,jdbcType=VARCHAR},
		add_time =
		#{addTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectListByVO" resultMap="BOResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM sys_integral_reg so
		WHERE 1=1
		<if test="vo.name != null and vo.name !=''">
			AND so.name like concat('%',#{vo.name},'%')
		</if>
		ORDER BY so.add_time DESC
	</select>

	<select id="checkIntegral" resultMap="BOResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM sys_integral_reg so
		WHERE 1=1
		<if test="vo.id != null and vo.id !=''">
			<if test="vo.name != null and vo.name !=''">
				AND so.name = #{vo.name}
			<![CDATA[AND so.id <> #{vo.id}]]>
			</if>
			<if test="vo.type != null and vo.type !=''">
				AND so.type = #{vo.type}
			<![CDATA[AND so.id <> #{vo.id}]]>
			</if>
		</if>
		<if test="vo.id == null or vo.id ==''">
			<if test="vo.name != null and vo.name !=''">
				AND so.name = #{vo.name}
			</if>
			<if test="vo.type != null and vo.type !=''">
				AND so.type = #{vo.type}
			</if>
		</if>
	</select>
	<select id="selectRegByUserid" resultMap="BOResultMap">
		SELECT si.name,si.type,si.`times_limit_type`,si.`times`,si.`integral`,
		<![CDATA[ IFNULL(d.ct,0) today_times ,(si.`times`-IFNULL(d.ct,0)) UFtimes,]]>
		<![CDATA[ IF((si.`times`-IFNULL(d.ct,0))<=0,TRUE,FALSE) UF]]>
		FROM `sys_integral_reg` si
		<![CDATA[LEFT JOIN (
		SELECT
		sr.name,sr.type,sr.`times_limit_type`,sr.`times`,sr.`integral`,COUNT(content)
		ct FROM `sys_integral_reg` sr
		LEFT JOIN `user_integral_log` ul ON ul.type=sr.type ]]>
		WHERE sr.delete_status = 0
		AND ul.`integral_user_id` =
		#{userid,jdbcType=BIGINT}
		<![CDATA[ AND DATE_FORMAT(ul.addTime ,'%Y-%m-%d') = DATE_FORMAT(NOW() ,'%Y-%m-%d')
		GROUP BY sr.type
		ORDER BY sr.type DESC
		) d ON si.type=d.type ]]>
		WHERE si.`integral`>=0
		AND si.display = 1
		AND si.`times_limit_type` != 2
	</select>

	<select id="selectOtherRegByUserid" resultMap="BOResultMap">	
		<![CDATA[SELECT si.name,si.type,si.`times_limit_type`,si.`times`,si.`integral`,
		IFNULL(d.ct,0) today_times ,(si.`times`-IFNULL(d.ct,0)) UFtimes,
		IF((si.`times`-IFNULL(d.ct,0))<=0,TRUE,FALSE) UF
		FROM `sys_integral_reg` si
		LEFT JOIN (
		SELECT sr.name,sr.type,sr.`times_limit_type`,sr.`times`,sr.`integral`,COUNT(content) ct FROM `sys_integral_reg` sr
		LEFT JOIN `user_integral_log` ul ON ul.type=sr.type
		WHERE sr.delete_status = 0 ]]>
		AND ul.`integral_user_id` = #{userid,jdbcType=BIGINT}
		<![CDATA[GROUP BY sr.type
		ORDER BY sr.type DESC
		) d ON si.type=d.type
		WHERE si.`integral`>=0
		AND si.`times_limit_type` = 2 
		AND si.display = 1]]>
	</select>
	<update id="changeShow">
		<![CDATA[ 	UPDATE `shop_integral_goods` SET ig_show = FALSE WHERE ig_end_time < NOW() AND ig_time_type = TRUE ]]>
	</update>
	<select id="selectAllType" resultMap="BOResultMap">
		select * from sys_integral_reg
	</select>
		
</mapper>