<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/resources/css/main.css">
</head>
<body>
<div class="nav">
    <i class="icon icon-home"></i>您的位置：首页 > 我的二维码
</div>

<div class="main">
    <ul class="m-menu">
        <li><a href="/operator/main.htm" target="mainFrame">运营商信息</a> </li>
        <li><a href="/operator/statistics_relation.htm"   target="mainFrame">关系统计</a> </li>
        <li><a href="/operator/statistics_rebate.htm"  target="mainFrame">收益统计</a> </li>
        #if(!$isCN)
        <li><a href="/operator/change_password.htm" target="mainFrame">密码管理</a> </li>
        <li><a href="/operator/currency_password.htm" target="mainFrame">云豆密码管理</a> </li>
        #end
        <li><a href="/operator/change_mobile.html" target="mainFrame" >联系号码</a> </li>
        <li><a href="/operator/operator_article_list.htm" target="mainFrame" >云尚平台公告</a> </li>
        <li><a href="/operator/my_invitationInfo.htm" class="active" target="mainFrame">我的二维码</a> </li>
        <li><a href="/operator/my_invitation_list.htm" target="mainFrame" >邀请明细</a> </li>
        <li><a href="/operator/merchant_bind.htm" target="mainFrame" >为商户注册会员</a> </li>
    </ul>

    <div class="view-box">
        <div class="view-title">我的二维码</div>
     	
     	    <div class="common-container fn-clear">
        <div class="left_content">
            <div class="basicInfo">
            
              #if($!userCustomer.headImgPath)
               <span class="headimg"><img src="$!userCustomer.headImgPath" /></span>
              #else
             	<span class="headimg"><img src="$!webPath/resources/images/headimg.png" /></span>
              #end 
            
            <!-- $!webPath/resources/style/shop/images/store_invitationInfo/headimg.png -->
               <!--  <span class="headimg"><img src="$!userCustomer.headImgPath" /></span> -->
                <div class="nameCode">
                    <span class="nickname">$!userCustomer.nickname</span>
                    <span class="code">邀请码：<span class="inviteCode">$!user.invitationCode</span></span>
                </div>
            </div>
             <form action="/operator/my_invitationInfo_save.htm" method="post" name="ListForm" >
	            <div class="inviteWords">
	                <span>邀请好友时，想对TA说:</span>
	                <div class="text_area">
	                	<!-- sys_user_account 记录id -->
	                	 <input  type="hidden" id="id" value="$!userAccount.id" name="id"/>
	                    <textarea class="inviteWords_text" id="inviteWords_text" value="" name="appShareInfo">$!userAccount.appShareInfo</textarea>
	                    <label id="textlabel" for="inviteWords_text"></label>
	                     <input  type="hidden" id="appShareInfoId" value="$!userAccount.appShareInfo" />
	                </div>
	            </div>
	            
	             <div class="btns">
	             	<input type="submit" value="保存设置" class="btn2"  />
	                <!-- <a href="javascript:void(0)" onclick="saveForm();">保存设置</a> -->
	                <a class="-mob-share-open" href="#">立即分享</a>
	                <a href="/operator/my_invitation_downloadQrcode.htm">下载二维码</a>
	                
	                 <!-- <div class="-mob-share-open">分享</div> -->
					<div class="-mob-share-ui" style="display: none">
					    <ul class="-mob-share-list">
					     	<li class="-mob-share-qzone"><p>QQ空间</p></li>
					        <li class="-mob-share-weibo"><p>新浪微博</p></li>
					        <li class="-mob-share-weixin"><p>微信</p></li>
					        
					    </ul>
					    <div class="-mob-share-close">取消</div>
					</div>
					<div class="-mob-share-ui-bg"></div>
	            </div>
	           </form>
           
        </div>
        <div class="qrCode_content qrCodeSj">
            <div id="qrcode"></div>
            <span>扫一扫上面的二维码，邀请好友</span>
             <input  type="hidden" id="invitationCodeId" value="$!user.invitationCode" />
        </div>
    </div>
    </div>
</div>


<script src="/resources/js/jquery-1.8.2.js"></script>
<script src="/resources/js/qcode.js"></script>

<script>
	    var url = window.location.href;
	    var bool = url.indexOf("ysysgo.com");
	    var domain = 'http://shop.ysysgo.com';//global variable
	    
	    if(bool > -1){
	 		//window.location = "http://shop.ysysgo.com/mobile_register.htm?invitationCode=$!{request.getParameter("invitationCode")}";
	 		domain = 'http://shop.ysysgo.com';
	    }
		    
	</script>
<script type="text/javascript">
    window.onload =function(){
    
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width : 200,//设置宽高
            height : 200
        });
        qrcode.makeCode(domain+'/mobile_register.htm?invitationCode='+$("#invitationCodeId").val()+ location.hash.replace("#", ""));
    }

</script>
<script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=e4e564ad10a1"></script>
<script>
mobShare.config( {

    debug: true, // 开启调试，将在浏览器的控制台输出调试信息

    appkey: 'e4e564ad10a1', // appkey

    params: {
        url: domain+'/mobile_register.htm?invitationCode='+$("#invitationCodeId").val(), // 分享链接
        title: domain+'/mobile_register.htm?invitationCode='+$("#invitationCodeId").val(), // 分享标题
        description: $('#appShareInfoId').val(),//'邀请注册赚积分', // 分享内容$!{obj.groupClassName}
        pic: '', // 分享图片，使用逗号,隔开
    },

    /**
     * 分享时触发的回调函数
     * 分享是否成功，目前第三方平台并没有相关接口，因此无法知道分享结果
     * 所以此函数只会提供分享时的相关信息
     * 
     * @param {String} plat 平台名称
     * @param {Object} params 实际分享的参数 { url: 链接, title: 标题, description: 内容, pic: 图片连接 }
     */
    callback: function( plat, params ) {
    }

} );

</script>

</body>
</html>