<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/resources/css/main.css">
    <style type="text/css">
    	.txsm{display: inline-block;width: 100px;background: url("/resources/images/yys_txsm.png")no-repeat left center;text-indent: 17px;margin-left: 30px;cursor: pointer;}
    	.back_black{ display:none; width: 100%;left: 0px;top: 0px;height: 100%;position: fixed;-webkit-user-select: none; z-index: 1001;background-color: #000;opacity: 0.45;filter:alpha(opacity=45);-moz-opacity:0.45;}
		.warning{display:none; position:fixed; background:#fff;border:none; background:#ffffff;border-radius:6px;width:540px;height:525px;z-index:1002;left:0; right:0; margin:0 auto; top:12%; padding:0px 17px; }
    	.warning .warning_close{cursor:pointer; width:21px;height:24px;background:url('/resources/images/close_txsm.png')no-repeat center center; float:right;margin:25px 21px 0 0;}
		.warning .tit{z-index:-1; position:relative; font-size:20px;color:#464646;text-align：center; background:url('/resources/images/txsm_big.png')no-repeat 195px center;width: auto;padding-left:40px; height: 83px; line-height:82px;text-align:center;font-weight:bold; border-bottom: 1px solid #e2e2e2;}
		.mess{width: 100%;overflow: hidden;margin-top:26px; font-size:14px;color:#4a4a4a;letter-spacing:0px;line-height:20px;text-align:left;}
		.mess span{float: left;display: inline-block;border: 1px solid #fff;margin-right: 9px;/* height: 39px; */}.mess p{font-size: 14px;}
    </style>
</head>
<body>
<div class="nav">
    <i class="icon icon-home"></i>您的位置：首页 > 我要提现
</div>

<div class="main">
	<form class="form-control" action="/operator/operator_cash_save.htm" method="post" name="theForm" id="theForm">
        <ul>
            <li>
            	#if($!{availableBalance}&& $!{availableBalance}>0) #set($available = $!{availableBalance}) #else #set($available = 0) #end
				#if($!{recordBalance}&& $!{recordBalance}>0) #set($record = $!{recordBalance}) #else #set($record = 0) #end
				#if($!{cnBonus}&& $!{cnBonus}>0) #set($bonus = $!{cnBonus}) #else #set($bonus = 0) #end
				#set($money = $available + $bonus)
                <span class="txt-label"><span class="c_red">*</span> 云豆：</span>
                #if($money>0)  $money #else  0.00 #end
            </li>
            <li>
                <span class="txt-label"><span class="c_red">*</span> 可提余额：</span>
                ¥ $available
            </li>
            <li>
                <span class="txt-label"><span class="c_red">*</span> 提现金额：</span>
                <span style="position: absolute;line-height: 42px; margin-left: 5px;">¥</span>
                <input style="text-indent: 10px;font-size: 16px;" name="cashAmount" type="text" id="cash_amount"  class="txt" value=""/>
                <label class="cashAmounterror error"></label>
            </li>
            <li>
                <span class="txt-label"><span class="c_red">*</span> 提现方式：</span>
                <select name="cashPayment" id="cash_payment"  class="txt">
                   <option value="" selected="selected">请选择提现方式</option>                          
                   <option value="alipay">支付宝</option>
                   <option value="chinabank">网银在线</option>
                 </select>
            </li>
            
            <li id="cash_user_tr">
                <span class="txt-label"><span class="c_red">*</span> 收款人姓名：</span>
                <input name="cashUserName" type="text" id="cash_userName" class="txt"/>
            </li>
            <li>
                <span class="txt-label"><span class="c_red">*</span> 收款账号：</span>
                <input name="cashAccount" type="text" id="cash_account" class="txt"/>
            </li>
            <li id="cash_bank_tr">
                <span class="txt-label"><span class="c_red">*</span> 收款银行：</span>
                <input name="cashBank" type="text" id="cash_bank"   class="txt"/>
            </li>
            <li id="cash_branch_tr">
                <span class="txt-label"><span class="c_red">*</span> 收款支行：</span>
                <input name="cashSubbranch" type="text" id="collectionBranch" class="txt"/>
                <span style="color: #a3a3a3">如: **省**市***支行 (分行）</span>
            </li>
            <li>
                <span class="txt-label"> 提现备注：</span>
                <textarea style="box-shadow:2px 0px 5px #CCC; border:1px solid #CCC;" name="cashInfo" cols="40" rows="6" id="cash_info"></textarea>
            </li>
            <li>
                <span class="txt-label"><span class="c_red">*</span> 提现密码：</span>
                <input type="password" name="cashPassword" class="txt"/>
            </li>

            <li class="btns">
                <input type="submit" value="提交确认" class="btn btn-blue save"/>
                <span class="txsm" >提现说明</span>
            </li>
        </ul>

    </form>
</div>

<script src="/resources/js/jquery-1.8.2.js"></script>
<script src="/resources/js/jquery.validate.min.js"></script>
<script src="/resources/js/jquery.blockUI.dialog.js"></script>
<script>
jQuery(document).ready(function(){
	document.getElementById("theForm").reset();
	var submitFlag=true;
	$.validator.addMethod("cashAmountCheck",function(value,element,params){
		if(!isNaN(value)&&value%100==0){
			return true;
		}else{
			return false;
		}
	},"提现金额必须是100的整数倍");
	
	jQuery("#theForm").validate({
	    rules: {
				cashPayment:{required:true},
				cashAmount:{required:true,min:100,max:10000},
				cashUserName:{required:true},
				cashBank:{required:true},
				cashAccount:{required:true},
				collectionBranch:{required:true}
			  },
		   messages: {
			    cashPayment:{required:"支付方式不能为空"},
				cashAmount:{required:"提现金额不能为空",min:"单次提现最小金额为100",max:"单次提现最大金额为10000"},
				cashUserName:{required:"收款人不能为空"},
				cashBank:{required:"收款银行不能为空"},
				cashAccount:{required:"收款账号不能为空"},
				collectionBranch:{required:"收款支行不能为空"}
		     },
			 submitHandler:function(){				 
				if(!submitFlag) return;				
			 jQuery(".save").attr("disabled","disabled");
			   var data=jQuery("#theForm").serialize();
			   jQuery.ajax({type:'POST',url:'/operator/operator_cash_save.htm',data:data,
				   			async:false,
				   			beforeSend:function(){
				   				submitFlag=false;
				   			},
						   success:function(ret){
							   //jQuery(".save").removeAttr("disabled"); 
							   submitFlag=true;
							   $.alert({
		                           message: ret,
		                           onOk: function(){
		                        	   window.location.reload();
		                           },
		                           okText: "确定"
		                       });
						   }
				});
			}
	});
	jQuery("#cash_payment").change(function(){
	 	var val=jQuery(this).val();
		if(val=="chinabank"){
		  jQuery("li[id^=cash_]").show();
		  jQuery("li[id^=cash_] input").show();
		}else{
		  jQuery("li[id^=cash_]").hide();
		   jQuery("li[id^=cash_] input").hide();
		}
	})
//
	
})




</script>
<div class="back_black"></div>
<div class="warning">
	<span class="warning_close"></span>
	<div class="tit">提现说明</div>
	<div class="mess">
		<span>1.</span>
		<p>单笔提现金额最低100元，限100的整数倍提取，最高限1万元；单次提现1万元时，工作人员需电话核实，请保持手机畅通；</p>
	</div>
	<div class="mess">
		<span>2.</span>
		<p>使用支付宝或网银提现时，请确认收款名与认证名一致；否则将导致提现不成功；</p>
	</div>
	<div class="mess">
		<span>3.</span>
		<p>银行卡充值后提现时，请保持提现的账户与充值的账户一致，否则将导致提现不成功；</p>
	</div>
	<div class="mess">
		<span>4.</span>
		<p>本周工作日内的提现申请，于下周工作日到账，所有法定节假日（含周末）均不处理提现；</p>
	</div>
	<div class="mess">
		<span>5.</span>
		<p>请尽量使用支付宝提现；长假等因素导致提现业务量大或其它情况时，到账均有延迟；</p>
	</div>
	<div class="mess">
		<span>6.</span>
		<p>严禁使用信用卡套现、虚假交易等行为，一经发现，将对该帐户进行冻结处理；</p>
	</div>
	<div class="mess">
		<span>7.</span>
		<p>如遇银行系统、微信和支付宝系统升级等特殊原因，提现金额可能会延迟到帐。</p>
	</div>
</div>
<script>
$(".txsm").click(function(event) {
	$(".back_black").show();$(".warning").show();
});
$(".warning_close").click(function(event) {
	$(".back_black").hide();$(".warning").hide();
});
</script>
</body>
</html>