<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinco.carnation.goldEgg.mapper.GlodEggItemMapper">
	<resultMap id="BaseResultMap" type="com.sinco.carnation.goldEgg.model.GlodEggItem">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="total_money" property="totalMoney" jdbcType="DECIMAL" />
		<result column="total_count" property="totalCount" jdbcType="BIGINT" />
		<result column="current_get_count" property="currentGetCount"
			jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="BIGINT" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="modify_by" property="modifyBy" jdbcType="BIGINT" />
		<result column="glod_egg_id" property="glodEggId" jdbcType="BIGINT" />
	</resultMap>
	<resultMap id="BOResultMap" type="com.sinco.carnation.goldEgg.bo.GlodEggItemBO"
		extends="BaseResultMap" />
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, total_money, total_count, current_get_count, create_time, create_by,
		modify_time,
		modify_by, glod_egg_id
	</sql>
	<select id="selectByExample"
		parameterType="com.sinco.carnation.goldEgg.model.GlodEggItemExample"
		resultMap="BOResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from glod_egg_item
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			limit ${limit}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		from glod_egg_item
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from glod_egg_item
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.sinco.carnation.goldEgg.model.GlodEggItemExample">
		delete from glod_egg_item
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.sinco.carnation.goldEgg.model.GlodEggItem"
		useGeneratedKeys="true" keyProperty="id">
		insert into glod_egg_item (id, total_money, total_count,
		current_get_count, create_time, create_by,
		modify_time, modify_by, glod_egg_id
		)
		values (#{id,jdbcType=BIGINT}, #{totalMoney,jdbcType=DECIMAL},
		#{totalCount,jdbcType=BIGINT},
		#{currentGetCount,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT},
		#{modifyTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=BIGINT},
		#{glodEggId,jdbcType=BIGINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.sinco.carnation.goldEgg.model.GlodEggItem"
		useGeneratedKeys="true" keyProperty="id">
		insert into glod_egg_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="totalMoney != null">
				total_money,
			</if>
			<if test="totalCount != null">
				total_count,
			</if>
			<if test="currentGetCount != null">
				current_get_count,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
			<if test="modifyBy != null">
				modify_by,
			</if>
			<if test="glodEggId != null">
				glod_egg_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="totalMoney != null">
				#{totalMoney,jdbcType=DECIMAL},
			</if>
			<if test="totalCount != null">
				#{totalCount,jdbcType=BIGINT},
			</if>
			<if test="currentGetCount != null">
				#{currentGetCount,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				#{modifyBy,jdbcType=BIGINT},
			</if>
			<if test="glodEggId != null">
				#{glodEggId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.sinco.carnation.goldEgg.model.GlodEggItemExample"
		resultType="java.lang.Integer">
		select count(*) from glod_egg_item
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update glod_egg_item
		<trim prefix="set" suffixOverrides=",">
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.totalMoney != null">
				total_money = #{record.totalMoney,jdbcType=DECIMAL},
			</if>
			<if test="record.totalCount != null">
				total_count = #{record.totalCount,jdbcType=BIGINT},
			</if>
			<if test="record.currentGetCount != null">
				current_get_count = #{record.currentGetCount,jdbcType=BIGINT},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.createBy != null">
				create_by = #{record.createBy,jdbcType=BIGINT},
			</if>
			<if test="record.modifyTime != null">
				modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifyBy != null">
				modify_by = #{record.modifyBy,jdbcType=BIGINT},
			</if>
			<if test="record.glodEggId != null">
				glod_egg_id = #{record.glodEggId,jdbcType=BIGINT},
			</if>
		</trim>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update glod_egg_item
		set id = #{record.id,jdbcType=BIGINT},
		total_money = #{record.totalMoney,jdbcType=DECIMAL},
		total_count = #{record.totalCount,jdbcType=BIGINT},
		current_get_count = #{record.currentGetCount,jdbcType=BIGINT},
		create_time = #{record.createTime,jdbcType=TIMESTAMP},
		create_by = #{record.createBy,jdbcType=BIGINT},
		modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
		modify_by = #{record.modifyBy,jdbcType=BIGINT},
		glod_egg_id = #{record.glodEggId,jdbcType=BIGINT}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.sinco.carnation.goldEgg.model.GlodEggItem">
		update glod_egg_item
		<trim prefix="set" suffixOverrides=",">
			<if test="totalMoney != null">
				total_money = #{totalMoney,jdbcType=DECIMAL},
			</if>
			<if test="totalCount != null">
				total_count = #{totalCount,jdbcType=BIGINT},
			</if>
			<if test="currentGetCount != null">
				current_get_count = #{currentGetCount,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				modify_by = #{modifyBy,jdbcType=BIGINT},
			</if>
			<if test="glodEggId != null">
				glod_egg_id = #{glodEggId,jdbcType=BIGINT},
			</if>
		</trim>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sinco.carnation.goldEgg.model.GlodEggItem">
		update glod_egg_item
		set total_money = #{totalMoney,jdbcType=DECIMAL},
		total_count = #{totalCount,jdbcType=BIGINT},
		current_get_count = #{currentGetCount,jdbcType=BIGINT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		create_by = #{createBy,jdbcType=BIGINT},
		modify_time = #{modifyTime,jdbcType=TIMESTAMP},
		modify_by = #{modifyBy,jdbcType=BIGINT},
		glod_egg_id = #{glodEggId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="addCurrentGetCount">
		UPDATE glod_egg_item SET current_get_count=current_get_count+#{num} WHERE
		id=#{id}
	</update>

	<delete id="deleteByGlodEggID">
		delete
		from
		glod_egg_item
		where
		glod_egg_id=#{glodEggId,jdbcType=BIGINT}
	</delete>

	<select id="findByGlodEggID" resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		from
		glod_egg_item
		where
		glod_egg_id=#{glodEggId,jdbcType=BIGINT}
	</select>
</mapper>