.topBar{position: fixed;top: 0;left: 0;width: 100%;font-size: 0;}
.topBar a{width: 2rem;height: 0.8rem;line-height: 0.8rem;color: #4a4a4a;font-size: 16px;display: inline-block;text-align: center;margin-left: 1.6rem;background: #fff;}
.topBar a.curr{color: #19BF96;}
.topBar a:first-child{margin-left: 0.8rem;}
.topBar .line{width: 2rem;position: absolute;bottom: 0;left: 0;height: 1px;display: block;background: #19BF96}
