<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <title>我的问答</title>
    #parse("/include/common.htm")

</head>
<body>
    <div class="wrapper">
    
    <div id="wrapper" class="no-bot">
        <div id="scroller">
    
        <div class="question-header">
            <div class="qh-info">
                <img src="$!{consultingBO.userExperts.headImgPath}_80x80" />
                <div class="qh-name">
                    <div class="name">$!consultingBO.userExperts.name</div>
                    $!consultingBO.userExperts.title
                </div>
            </div>
            <a href="javascript: void(0)" class="qh-praise">
                <i class="icon-thumbs-up"></i>
                <span>						
                	#if($!consultingBO.userExperts.praiseCount)
                		$!consultingBO.userExperts.praiseCount
					#else
                		0
					#end
                </span>
            </a>
        </div>

        <div class="clearfix">

            <div class="qh-title">
                <a href="javascript:appRequestMoidfy($!consultingBO.id)" class="fr"><i class="icon-edit"></i></a>
                $!consultingBO.title
            </div>
            <div class="qh-cont p-gray-b">
                $!consultingBO.content
                #foreach($image in $consultingBO.imageList)
                	#if($!image)<p><img src="$!image"></p>#end	
                #end
                <p></p>
                <div class="qh-date fz-s"><a href="#" class="c-blue">$!consultingBO.customerName</a>  $!date.format($consultingBO.createTime)发布</div>
            </div>
            <div class="comment clearfix">
                <ul class="cmt-list list">
	            	#foreach($repay in $consultingBO.listRepay)
                    <li class="#if($consultingBO.userExperts.uid == $repay.createBy) cmt-reply#else cmt-question #end">
                        <div class="cmt-date"><span>$date.format($repay.createTime)</span></div>
                        <img class="pic" src="#if($consultingBO.userExperts.uid == $repay.createBy) $!{repay.expHeadPath}_80x80 #else $!{repay.userHeadPath}_80x80 #end" />
                        <div class="cmt-padding">
                            <div class="cmt-pop"><i class="#if($consultingBO.userExperts.uid == $repay.createBy) icon-triangle-left #else icon-triangle-right #end"></i>
                                $!repay.content
                            </div>
                        </div>
                    </li>
                    #end
                </ul>
            </div>
            
        </div>
        
        
        
        
        
        </div></div>
    </div>
    
    
    <script src="${staticPath}/static/app/assets/js/jquery-2.1.4.min.js"></script>
    <script src="${staticPath}/static/app/assets/widget/iscroll-probe.js"></script>

    <script>
    	function appRequestMoidfy(id)
    	{
    		if(isAndroid)
    		{
        		java.requestMoidfy(id);
    		}
    		if(isiOS)
    		{
    			requestMoidfy(id);
    		}
    	}
    
        function loaded () {

            var myScroll02 = new IScroll('#wrapper', {
                probeType: 2,//probeType：1对性能没有影响。在滚动事件被触发时，滚动轴是不是忙着做它的东西。probeType：2总执行滚动，除了势头，反弹过程中的事件。这类似于原生的onscroll事件。probeType：3发出的滚动事件与到的像素精度。注意，滚动被迫requestAnimationFrame（即：useTransition：假）。
                scrollbars: true,//有滚动条
                mouseWheel: true,//允许滑轮滚动
                fadeScrollbars: true,//滚动时显示滚动条，默认影藏，并且是淡出淡入效果
                bounce:true,//边界反弹
                shrinkScrollbars:'scale',// 当滚动边界之外的滚动条是由少量的收缩。'clip' or 'scale'.
                click: true ,// 允许点击事件
                momentum:true// 允许有惯性滑动
            });
        }
        document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
        window.onload = function() {
        	loaded();
        }
    </script>

</body>
</html>