.cl { clear: both;}
.text-right { text-align: right;}.text-left { text-align: left;}.text-center { text-align: center;}
.ell { overflow: hidden; white-space:nowrap; text-overflow: ellipsis; *width:100px}
.five_star { float: none; display: inline-block;}
.btn-mini { line-height: 22px;}
.mb-0 { margin-bottom: 0 !important;}.mt-20 { margin-top: 20px;}.mt-10 { margin-top: 10px;}.mb-20 { margin-top: 10px;}
.ml-20 { margin-left: 20px;}
.ptb-10 { padding-top: 10px; padding-bottom: 10px;}
.pt-5 { padding-top: 5px;}.pt-20 { padding-top: 20px;}.pt-30 { padding-top: 30px;}
.lh-25 { line-height: 25px;}
.fz-12 { font-size: 12px;}.fz-14 { font-size: 14px;}.fz-16 { font-size: 16px;}
.f-line { text-decoration: underline;}
.fl { float: left; display: inline;}.fr { float: right; display: inline;}
.o-h { overflow: hidden;}
.del { text-decoration: line-through;}

.c_red { color: #f00;}

.btn-orange-xlarge { width: 158px; height: 50px; line-height: 45px; background-color: #f17e03; font-size: 18px; font-weight: bold; color: #fff;}
.btn-large { font-size: 14px; height: 38px; line-height: 38px;}
input.btn { padding-top: 0; padding-bottom: 0;}

.btn-gray-xlarge { background-color: #ddd; color: #bbb; cursor: default;}
.btn-gray-xlarge:hover { color: #bbb !important;}

.s-h-banner { float: right; text-align: right; width: 1000px; height: 400px;}
.h-local { position: absolute; top: 33px; left: 133px;}
.h-local .name { font-size: 16px; padding-bottom: 3px;}
.btn-line { display: inline-block; padding: 3px 6px; line-height: 16px; border: 1px #e8e8e8 solid; color: #ccc;}
.s-h-banner .slideBox { padding: 0;}
.s-h-banner .slideBox .hd li { text-indent: -9999px;}


.ico-sp,.icon { background: url("images/spirits.png") no-repeat;}
.icon { display: inline-block; width: 18px; height: 18px; vertical-align: middle;}

.h-title { padding-top: 20px; height: 40px; line-height: 40px; border-bottom: 2px #19bf96 solid; font-size: 14px; color: #333;}
.h-ico-01 {}
.h-ico-02 { background-position: -19px 0;}
.h-ico-03 { background-position: -38px 0;}
.h-ico-04 { background-position: -57px 0;}
.h-ico-05 { background-position: -76px 0;}
.h-ico-06 { background-position: -95px 0;}
.h-ico-07 { background-position: -114px 0;}
.h-ico-08 { background-position: -133px 0;}
.h-ico-09 { background-position: -152px 0;}

.s-pro-list { overflow: hidden;}
.s-pro-list ul { width: 110%;}
.s-pro-list li { float: left; padding: 20px 17px 10px 0;}
.s-pro-list a { float: left; width: 265px; padding: 10px; border: 1px #eee solid;}
.s-pro-list a:hover { padding: 9px; border: 2px #19bf96 solid;}
.s-pro-list .pic img,.multipleColumn .s-pro-list ul li .pic img { width: 265px; height: 183px;}
.multipleColumn .s-pro-list ul { width: auto;}
.s-pro-list .cont { padding-top: 10px;}
.s-pro-list .name { padding-bottom: 6px; font-size: 14px;}
.s-pro-list .address { color: #999; font-size: 12px;height: 26px;overflow: hidden;}
.s-pro-list .ell { width: 265px;}
.s-pro-list .price { color:#19bf96; margin-top: 8px; padding: 15px 0 5px; font-size: 14px;}
.s-pro-list .part { margin-top: 10px; border-top: 1px #ccc dashed; padding: 15px 0 5px;}
.multipleColumn .s-pro-list ul li .pic img,.multipleColumn .s-pro-list { border: none; padding: 0;}
.multipleColumn .s-pro-list ul li { margin: 0;}
.title-slide { position: relative;}
.title-slide .hd { position: absolute; top: 25px; right: 0px;}
.s-pro-list .five_star {vertical-align: text-top;}
.h-title .more { float: right; font-size: 12px; color: #999;}

/* banner css */
.slideBox{ overflow:hidden; position:relative;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; left: 48%; bottom:10px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ display: inline-block; margin-right:5px; border-radius: 5px;  width:10px; height:10px; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#19bf96;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ display:block;  }

/*--------------------- select city ------------------------------*/
.city-wrap { margin: 15px 0; border: 1px #e9e9e9 solid; font-size: 14px;}
.city-title { padding: 5px 10px; background-color: #f6f6f6;}
.city-title select { padding: 5px;}
.city-hot { padding: 20px 10px; border-bottom: 1px #e9e9e9 solid;}
.city-hot h3 { float: left; display: inline; padding: 6px 0; font-weight: bold; font-size: 16px;}
.city-hot .city-list { padding: 0 82px;}
.city-list {}
.city-list a { color: #19bf96;}.city-list a:hover { color: #f60;}
.city-list li { display: inline-block; padding: 6px 20px;  font-size: 16px;}
.city-content { padding: 20px 0; font-size: 16px;}
.city-content h3 {padding: 6px 10px 20px; font-weight: bold; font-size: 16px;}
.city-group { padding: 15px 10px; border-top: 1px #fff solid; border-bottom: 1px #fff solid;}
.city-group .city-list { padding-left: 30px;}
.city-label { float: left; width: 28px; height: 28px;  line-height: 28px; text-align: center; background-color: #eee; border: 1px #e9e9e9 solid; color: #666; font-weight: bold;}
.city-group:hover { background-color: #f6f6f6;border-color: #e9e9e9;}
.city-group:hover .city-label { background-color: #19bf96; border-color: #19bf96; color: #fff;}

/*--------------------------products---------------------------------------*/
.slide-bar { float: left; width: 212px;}
.slide-bar-right { float: right; width: 212px;}
.slide-box { margin-bottom: 10px; border: 1px #e9e9e9 solid;}
.slide-title { padding: 0 15px; height: 38px; line-height: 38px; background-color: #f9f9f9; color: #19bf96; font-weight: bold; border-bottom: 1px #e9e9e9 solid; font-size: 14px;}
.slide-list { padding: 15px 12px;}
.slide-list li { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px #e9e9e9 dashed;}
.slide-list .pic img { width: 100%;}
.slide-list .cont { padding-top: 10px;}
.slide-list .name { padding-bottom: 6px; font-size: 16px;}
.slide-list .address { color: #999;}
.slide-list .ell { width: 182px;}

.main-content { margin-left: 222px;}
.main-header { margin-bottom: 20px; padding: 10px 15px; border: 1px #e9e9e9 solid; font-size: 14px;}
.nav-store { padding: 5px 0;}
.filter-rows { margin-top: 10px; padding: 10px 0; border-top: 1px #eaeaea solid;}
.filter-rows .title { float: left; padding: 6px 0 4px; width: 60px; border-right: 1px #f5f5f5 solid;}
.filter-rows ul { margin-left: 62px;}
.filter-rows li { display: inline-block; margin-top: 2px; padding: 0 10px; font-size: 14px;}
.filter-rows a { padding: 4px 10px; color: #666; display: inline-block;}
.filter-rows a:hover,.filter-rows a.active { color: #fff; background-color: #19bf96;}

.sort-bar { padding: 15px; background-color: #f7f7f7;}
.sort-bar { margin-bottom: 20px; padding: 15px; background-color: #f7f7f7;}
.sort-bar .arrow { width: 16px; height: 16px; background-position: -225px 0;}
.sort-bar a:hover .arrow,.sort-bar .active .arrow { background-position: -208px 0; color: #19bf96;}
.sort-bar a { margin-right: 10px;}
.sort-bar .active { color: #19bf96;}

.sort-bar a:hover .arrow-up,.sort-bar .active .arrow-up  { background-position: -30px -19px;}
.sort-bar a .arrow-up { background-position: -47px -19px;}

.pro-list-side a { width: 209px;}
.pro-list-side .pic img { width: 209px; height: 144px;}
.pro-list-side .ell { width: 209px;}

.mod-col-bor { margin-top: 20px; padding: 10px; border: 1px #e9e9e9 solid;}
.mod-col-bor .title { padding-left: 7px; font-size: 12px;}
.mod-col-bor li { padding: 10px 5px 0 7px;}
.mod-col-bor li a { width: 180px; padding: 2px; border: none;}
.mod-col-bor li a:hover { padding: 2px; border: none;}

.mod-col-bor li .pic img { width: 180px; height: 130px;}
.mod-col-bor li .ell { width: 180px;}

.pd-main { padding: 25px; border: 1px #e9e9e9 solid; overflow: hidden;}
.product_details_img { float: left; width: 455px;}
.product_image { width: 450px; height: 324px; border: 1px #e9e9e9 solid;}
.product_imgs { padding: 15px 0;}
.product_imgs a { display: inline-block; padding: 0 10px 0 0;}
.product_imgs img { width: 96px; padding: 1px; border: 1px #e9e9e9 solid;}
.product_imgs a:hover img,.product_imgs .zoomThumbActive img {  padding: 0; border: 2px #f60 solid;}

.pd-info { margin-left: 475px;}
.pd-title { overflow: hidden; padding-bottom: 25px;}
.pd-title h2 { display: inline-block; font-size: 24px; font-weight: bold; color: #000;}
.pd-title .tao,.pd-title .xian { display: inline-block; margin-left: 10px; vertical-align: text-bottom; width: 24px; height: 24px; line-height: 24px; color: #fff; text-align: center; border-radius: 2px; background-color: #4bbd65;}
.pd-title .xian { background-color: #17a3a2;}
.pd-price { margin-bottom: 25px; padding-left: 15px; width: 343px; height: 67px; color: #fff; background: url("images/price-bg.png") no-repeat;}
.pd-price .currency { font-size: 30px; font-weight: bold;}
.pd-price .price { font-size: 38px; line-height: 68px; font-weight: bold; display: inline-block; width: 150px; padding-right: 10px;}
.pd-price del { text-decoration: line-through; color: #19bf96;}
.pd-count { padding: 20px 0; border-bottom: 1px #e9e9e9 solid;}


.choose_right_three{ float:left;}
.choose_right_three .choose_num_up{ display:block;border:1px solid #ddd; width:23px; height:23px; float:left; text-align: center; line-height: 23px; font-size: 19px; background-color: #f7f7f7; border-right: none;}
.choose_right_three .choose_num_up:hover,.choose_right_three .choose_num_down:hover{ border:1px solid #000}
.choose_right_three .choose_num_down{ display:block;border:1px solid #ddd; width:23px; height:23px; float:left; margin-right:3px; text-align: center; line-height: 23px; font-size: 19px; background-color: #f7f7f7; border-left: none;}
.choose_right_three .choose_num{ border:1px solid #ddd; width:50px; float:left; height:23px; text-align: center;}

.collect_product_wrap { float: left; padding: 5px 0 0 30px;}
.collect-icon { width: 15px; height: 15px; background-position: -242px 0; vertical-align: text-top;}
.collect-icon.active { background-position: -258px 0;}
.share-collect-box { float: left; padding: 30px 0 0 40px; width: 400px;}
.share-collect-box .jiathis_style_24x24 .jiathis_txt { margin-right: 5px;}

.pd-content { margin-top: 20px; padding: 15px; border: 1px #e9e9e9 solid; font-size: 14px;}
.gray-bg-box { padding: 15px; background-color: #fafafa;}
.blue-bg-box { padding: 15px; background-color: #f3fbfe;}
.mod-pd-title { position: relative; margin-bottom: 20px; border-bottom: 2px #dedede solid; height: 32px;}
.mod-pd-title .title { position: absolute; zoom: 1; height: 32px; line-height: 32px; border-bottom: 2px #19bf96 solid; font-size: 14px; font-weight: bold; color: #19bf96;}
#pd-min-map { width: 400px; height: 220px;}
.icon-zoom { width: 15px; height: 15px; vertical-align: text-top; background-position: -274px 0;}
.pd-min-map-wrap { float: left; border: 1px #e9e9e9 solid;}
.pd-min-map-wrap .view-map { padding: 10px 0; text-align: center; font-size: 12px;}
.pd-address-text { margin-left: 425px;}
.pd-address-text h3 { padding-bottom: 10px;}
.pd-address-text p { padding-top: 10px; font-size: 14px;}
.pd-notice-box { line-height: 26px;}
.pd-notice-box strong { float: left;}
.pd-notice-box div { margin-left: 64px;}
.sd-share-collect { margin-top: 30px; }

.sd-share-collect .share-collect-box { padding-left: 0; border-top: 1px #e9e9e9 solid;}
.sd-pro-list {}
.sd-pro-list li { padding: 20px 0;  color: #999; line-height: 22px; border-bottom: 1px #e9e9e9 solid;}
.sd-pro-list .pic { float: left;}
.sd-pro-list .pic img { display: block; width: 96px;}
.sd-pro-list .text { margin-left: 110px;}
.sd-pro-list .title { width: 400px; margin-right: 10px; height: 48px; overflow: hidden;}
.sd-pro-list .time { padding: 0 80px; width: 200px;}
.sd-pro-list .price { width: 200px; text-align: center;}
.sd-pro-list .price strong { display: block; font-size: 18px; font-weight: bold; color: #19bf96; padding: 2px 0;}
.sd-pro-list .actions { width: 230px; text-align: right;}
.sd-pro-list .title,.sd-pro-list .time,.sd-pro-list .price,.sd-pro-list .actions { display: table-cell; vertical-align: middle;}
.main-left { float: left; width: 960px;}


.slideBox{ overflow:hidden; zoom:1; padding:10px 0 10px 42px; position:relative;   }
.slideBox .sPrev i,.slideBox .sNext i { display: inline-block; width: 14px; height: 27px; background:url(images/arrow-slide.png) 0 -28px no-repeat;}
.slideBox .sPrev:hover i { background-position: 0 0;} .slideBox .sNext i { background-position: -15px -28px;}.slideBox .sNext:hover i { background-position: -15px 0;}

.slideBox .sPrev,.slideBox .sNext{ position:absolute; left:5px; top:10px; display:block; width:30px; height:78px; padding-top: 46px; text-align: center; }
.slideBox .sNext{ left:auto; right:5px;  }
.slideBox .sPrev:hover,.slideBox .sNext:hover{ border-color:#f60;  }

.slideBox ul{ overflow:hidden; zoom:1;   }
.slideBox ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.slideBox ul li .pic{ text-align:center; }
.slideBox ul li .pic img{ width:200px; height:148px; display:block;  padding:2px; }
.slideBox ul li .title{ line-height:24px;   }

.editer-content p { padding-bottom: 15px; line-height: 1.7; font-size: 14px;}
.sd-evaluate { padding: 15px 0;}
.sd-evaluate-level { float: left; padding: 12px 0; text-align: center; width: 48%; border-right: 1px #e9e9e9 solid;}
.sd-evaluate-level strong { font-size: 36px; color: #19bf96;}
.sd-evaluate-charts { float: left; padding-left: 165px;}
.sd-evaluate-charts p { margin-top: 7px;}
.evaluate-plan { display: inline-block; width: 150px; height: 12px; background-color: #e4e4e4;}
.evaluate-plan i { display: block; height: 12px; background-color: #f39938;}
.mod-pd-title-sub { height: 32px; line-height: 32px; padding: 0 10px; background-color: #ededed; font-size: 14px;}

.sd-comment-list .pic { float: left;}
.sd-comment-list li { padding: 20px 0; overflow: hidden; border-bottom: 1px #e9e9e9 solid;}
.sd-comment-list .five_star { vertical-align: text-top;}
.sd-comment-list .pic img { width: 50px; height: 50px; border-radius: 25px;}
.sd-comment-list .cont { margin-left: 65px;}
.sd-comment-list .text { padding-top: 10px;}
.sd-comment-list .photos { padding-top: 20px;}

/*-----------------user center--------------------*/
.user_order_table th { border-width: 1px 0; font-size: 14px; font-weight: normal;}
.user_table_title { margin: 10px 0 20px;}
.orderlist_one_h4 span { padding-left: 0;}
.order_img_a { width: 108px; height: 78px;}
.user_order_table td { border: none; border-bottom: 1px #eaeaea solid;}
.user_order_table .order_buy_data { margin-left: 120px; clear: none; line-height: 26px; width: auto;}
.order_buy_data .title { display: block; width: 270px;}
.order_card_data .title { display: block; line-height: 25px;  width:300px;}
.order_pay_note h3 { height: auto; line-height: 1;}

.order-view-box { margin-top: 18px; border: 1px #e9e9e9 solid;}
.order-view-box .order-view-title { padding-left: 15px; height: 40px; line-height: 40px; background-color: #fafafa; font-size: 14px;}
.col-md-3, .col-md-6 { float: left; display: inline; width: 32%;}
.col-md-6 { width: 64%;}
.order-view-box .col-md-3, .order-view-box .col-md-6 { line-height: 28px; font-size: 14px; color: #999;}
.order-view-cont { padding: 6px 15px; overflow: hidden;}
.order_pay { float: none; clear: both; padding-top: 5px; width: auto;}
.order_view_table td { padding-top: 20px;}
.order_view_table { margin-top: 10px;}
.order_view_table,.order_view_table th { border: none;}
.order_view_table tr:last-child td { border: none;}
.favorite_table tr:last-child td { border-bottom: 1px #eaeaea solid;}
.favorite_table .order_buy_data { font-size: 14px; height: 78px; display: table-cell; vertical-align: middle;}

.user_base_table th { height: 35px; line-height: 35px; background-color: #fafafa; border-top: 1px #e6e6e6 solid; border-right: 1px #e6e6e6 solid;}
.order_return_box { display: inline-block; width: 96px;}
.order_return_box img { display: block; width: 96px; height: 69px;}
.order_return_box a { display: block;}
.order_return_box .action { height: 23px; line-height: 23px; text-align: center; color: #fff; border: 1px #ff6600 solid; background-color: #ff9933;}
.order_return_box .action.gray { background-color: #fafafa; border-color: #eee; color: #999;}
.my_evaluate_txt { width: 550px;}
.my_evaluate_txt textarea { height: 240px; width: 545px; border: 1px #ccc solid;}
.evaluate_pic { float: left;}
.evaluate_pic img { width: 160px; border: 1px #e9e9e9 solid;}
.eval_star_ul { width: auto;}
.order-view-cont .eval_star_ul { float: left; padding-left: 20px; width: 950px;}
.order-view-cont .eval_star_right { width: 750px;}
.shopping_step_tow {}

.order-total-prices { margin-bottom: 20px; padding: 10px 0; font-size: 16px; text-align: right; line-height: 36px; border-bottom: 1px #e9e9e9 solid;}
.order-total-prices .price { font-size: 18px; color: #19bf96;}


/*--------------------shop car goods.css-------------------------------*/
/*璐墿杞︽楠�*/
.shopping_step{ width:1200px; overflow: hidden; }
.shopping_step ul{overflow:hidden; clear:both;}
.shopping_step_ul{ width:800px; margin-left:auto; margin-right:auto}
.shopping_step ul li{ width:400px; float:left; overflow:hidden; position:relative; height:65px;}
.shopping_step ul .shopping_step_athis span{ width:400px; height:5px; overflow:hidden; float:left; display:block; background:#7ABD54; position:absolute; z-index:1; top:30px;}
.shopping_step ul .shopping_step_athis i{ background:url(images/shopping_carathis.jpg) no-repeat; width:20px; height:20px; display:block; position:absolute; z-index:2; top:50%; left:50%; margin-top:-10px; margin-left:-10px;}
.shopping_step ul .shopping_step_athis strong{ display:block; position:absolute; top:50px; width:400px; text-align:center; color:#7abd54;}
.shopping_step ul .shopping_step_b span{ width:400px; height:5px; background:#EFEFEF; overflow:hidden; float:left; display:block; position:absolute; z-index:1; top:30px;}
.shopping_step ul .shopping_step_b i{ background:url(images/shopping_carb.jpg) no-repeat; width:20px; height:20px; display:block; position:absolute; z-index:2; top:50%; left:50%; margin-left:-10px; margin-top:-10px;}
.shopping_step ul .shopping_step_b strong{ display:block; position:absolute; top:50px; width:400px; text-align:center; color:#B2B2B2;}
.shopping_step ul .shopping_step_c span{ width:400px; height:5px; background:#EFEFEF; overflow:hidden; float:left; display:block; position:absolute; z-index:1; top:30px;}
.shopping_step ul .shopping_step_c i{ background:url(images/shopping_carc.jpg) no-repeat; width:20px; height:20px; display:block; position:absolute; z-index:2; top:50%; left:50%; margin-left:-10px; margin-top:-10px;}
.shopping_step ul .shopping_step_c strong{display:block; position:absolute; top:50px; width:400px; text-align:center; color:#B2B2B2;}

.shopping_step ul .shopping_step_a span{ width:400px; height:5px; overflow:hidden; float:left; display:block; background:#BBE8A5; position:absolute; z-index:1; top:30px;}
.shopping_step ul .shopping_step_a i{ background:url(images/shopping_cara.jpg) no-repeat; width:20px; height:20px; display:block; position:absolute; z-index:2; top:50%; left:50%; margin-top:-10px; margin-left:-10px;}
.shopping_step ul .shopping_step_a strong{display: block;position: absolute;top: 50px;width: 400px;text-align: center;color: #7abd54;left:0;}
.shopping_step ul .shopping_step_bthis span{ width:400px; height:5px; background:#7ABD54; overflow:hidden; float:left; display:block; position:absolute; z-index:1; top:30px;}
.shopping_step ul .shopping_step_bthis i{ background:url(images/shopping_carbthis.jpg) no-repeat; width:20px; height:20px; display:block; position:absolute; z-index:2; top:50%; left:50%; margin-left:-10px; margin-top:-10px;}
.shopping_step ul .shopping_step_bthis strong{ display:block; position:absolute; top:50px; width:400px; text-align:center; color:#7abd54;}

.shopping_step ul .shopping_step_bthree span{ width:400px; height:5px; background:#BBE8A3; overflow:hidden; float:left; display:block; position:absolute; z-index:1; top:30px;}
.shopping_step ul .shopping_step_bthree i{ background:url(images/shopping_carbthree.jpg) no-repeat; width:20px; height:20px; display:block; position:absolute; z-index:2; top:50%; left:50%; margin-left:-10px; margin-top:-10px;}
.shopping_step ul .shopping_step_bthree strong{ display:block; position:absolute; top:50px; width:400px; text-align:center; color:#7abd54;}
.shopping_step ul .shopping_step_cthis span{ width:400px; height:5px; background:#7ABD54; overflow:hidden; float:left; display:block; position:absolute; z-index:1; top:30px;}
.shopping_step ul .shopping_step_cthis i{ background:url(images/shopping_carcthis.jpg) no-repeat; width:20px; height:20px; display:block; position:absolute; z-index:2; top:50%; left:50%; margin-left:-10px; margin-top:-10px;}
.shopping_step ul .shopping_step_cthis strong{display:block; position:absolute; top:50px; width:400px; text-align:center; color:#7abd54;}


.shopping_step_tow ul li,.shopping_step_tow ul .shopping_step_a span,.shopping_step_tow ul .shopping_step_a strong,
.shopping_step_tow ul .shopping_step_b span,.shopping_step_tow ul .shopping_step_b strong { width: 600px;}

.shop_count{ width:75px; display:block; margin-left:auto; margin-right:auto; overflow:hidden}
.shop_count .shop_cut{ background:url(images/shop_cut.jpg) no-repeat; width:12px; height:12px; margin-top:5px; display:block; float:left; margin-right:5px;}
.shop_count .shop_cut:hover{ background:url(images/shop_cut_a.jpg) no-repeat;}
.shop_count .shop_add{ background:url(images/shop_add.jpg) no-repeat; width:12px; height:12px; margin-top:5px; display:block; float:left;}
.shop_count .shop_add:hover{ background:url(images/shop_add_a.jpg) no-repeat;}
.shop_count .shop_num{ width:35px; border:1px solid #ddd; height:20px; line-height:20px; float:left; margin-right:5px; text-align:center}



/* 鏅掑崟 start */
.img_list_dl_word{ line-height:25px; color:#000;}
.img_list_dl_img{ overflow: hidden; zoom: 1;}
.add_comments .img_list_dl_img { padding-left: 108px; padding-top: 10px;}
.img_list_dl_img_one{ float:left; position:relative;}
.img_list_dl_img .this{ border:2px solid #f00;}
.img_list_dl_img_one_top{ width:40px; height:40px; float:left; border:2px #eee solid; padding:2px; margin-right:10px; margin-bottom:5px; }
.img_list_dl_img_one_top img{ height:40px; width:40px;}
.img_list_dl_img_one_b{ width:306px; border:1px solid #eee; padding:3px;clear:both; }
.img_list_dl_img_one_b img{  width:300px;}
.img_list_dl_img_one_b_img{ width:300px; height: 300px; padding:3px;clear:both; }
.img_list_dl_img_one_b_img img{ height:100%; width:300px;}
.tm_photos_arrow{ float:left; position:absolute; left:20px; top:48px; height:4px; width:8px; display:block;}
.tm_photos_arrow img { display: block;}
.img_list_dl_img_one_b_top{float:left; width:300px; height:20px;}

.img_list_dl_img_one_b_top_back{ width:35px;  height:20px;float:left; display:block; text-align:right; background:url(images/img_list_dl_img_one_b_top_back_a.png) no-repeat left; margin-right:20px; line-height:22px;}
.img_list_dl_img_one_b_top_back:hover{ background:url(images/img_list_dl_img_one_b_top_back_hover.png) no-repeat left;}

.img_list_dl_img_one_b_top_big{ width:40px; height:20px; line-height:22px; height:20px;float:left; display:block; text-align:right; background:url(images/img_list_dl_img_one_b_top_big_a.png) no-repeat left}
.img_list_dl_img_one_b_top_big:hover{ background:url(images/img_list_dl_img_one_b_top_big_hover.png) no-repeat left;}
.add_comments{width:950px; float:left; margin-top:10px;padding: 10px 0; border-top:1px solid #f2f2f2; }
.add_comments_left{ float:left; margin-right:10px;color: #999;}
.add_comments_right{ width:840px; float:left; }
/* 鏅掑崟 end */

/*--------------------shop car goods.css-------------------------------*/

.join-form { padding: 30px 0 40px 100px;}
.join-form { }
.join-form li { padding: 10px 0;}
.join-form .txt-label { display: inline-block; width: 150px; text-align: right;}
.join-form .btns { padding-left: 153px; border-top: 1px #e8e8e8 solid;}
.join-form .txt { padding: 0 6px; width: 270px; height: 28px; line-height: 28px; border: 1px #e6e3e3 solid;}
.join-form label.error { padding-left: 10px;font-size: 12px;}
.join-form select.txt { width: 282px;}
.join-form .min-txt { width: 100px;}
.join-form select.min-txt { width: 112px;}
.join-form textarea { padding: 0 6px; line-height: 18px; border: 1px #e6e3e3 solid; vertical-align: top;}
.join-form .upload_button { float: none; display: inline-block; vertical-align: top;}
.join-form .setable_b { display: inline-block;}
.join-form .setable_b a { color: #19bf96;}
.join-form .setable_b img { display: block; padding-bottom: 6px; border: 1px #f1f1f1 solid;}
.join-form .setable_img2 { padding-bottom: 6px;}
.join-form .upload-box { display: inline-block; vertical-align: text-top; width: 800px; position: relative; top: -15px;}
.join-form .category-chks { display: inline-block; position: relative; padding-bottom: 20px; width: 800px; vertical-align: top;}
.join-form .category-chks .item { display: inline-block; padding: 0 10px 8px 0; width: 150px;}
.category-chks label.error { position: absolute; bottom: 10px; top: 0;}

.statement-cont { padding: 15px; line-height: 30px; color: #777;}
.statement-cont p { margin-bottom: 10px; font-size: 14px;}

.join_step { padding: 20px 300px;}
.join_step li { padding-bottom: 60px; border-left: 4px #ccc solid;}
.join_step li:last-child { padding-bottom: 0;}
.join_step .title { position: relative; margin-left: -75px; padding: 6px 0; border-radius: 5px; color: #999; line-height: 22px; text-align: center; width: 150px; border: 1px #ccc solid; background-color: #fafafa;}
.join_step .action .title { color: #19bf96; border-color: #19bf96; font-weight: bold; background-color: #f3fbff;}
.join_step .action {  border-color: #19bf96; }
.join_step .failure .title { color: #c00; border-color: #c00; font-weight: bold; background-color: #fff4f4;}
.join_step .failure {   border-color: #c00;}
.join_step .failure .join_text { background-color: #fff4f4;}
.join_text { margin: 5px 0 0 5px; padding: 10px 20px; background-color: #e5fff6; line-height: 22px;}
.ui-success { border: 1px #7abd54 solid; color: #7abd54; padding: 15px; background-color: #f4fff6;}


.main_none_box{ display:block;width:300px;  overflow:hidden; margin-left:auto; margin-right:auto; margin-top:20px;}
.main_none_box i{ background:url(images/goodsnone.jpg) no-repeat; width:75px; height:70px; float:left; display:block; margin-right:10px;}
.main_none_box p{ width:210px; float:left; overflow:hidden; display:block;color:#666; float:left;  margin-top:10px; font-weight:lighter; font-size:14px;}
.main_none_box p a{ display:block; margin-top:10px;}
.main_none_box p a:hover{ text-decoration:underline}

.sale-ico {padding: 0 3px; color:#fff; background-color: #e53431; border-radius: 2px;}
.sale-lab-text { font-size: 24px; font-weight: bold; color:#e53431;}
