body { color: #777; font-family: "冬青黑体简体中文", "Microsoft YaHe";}
a,a:hover { color: #777; text-decoration: none;}
img { max-width: 100%;}

.pt-0 { padding-top: 0 !important;}
.pt-10 { padding-top: 10px;}.pt-p10 { padding-top: 10%;}.w-pm90 { max-width: 90%;}
.pl-10 { padding-left: 10px;}
.pr-10 { padding-right: 10px;}
.c-blue { color: #59c4f0;}
.c-gray { color: #999;}

.p-gray-b { box-shadow: 0 6px 0 #efefef; margin-bottom: 6px;}

.fz-s { font-size: 0.9rem;}.fz-l { font-size: 1.1rem;}

.fl { float: left;} .fr { float: right;} .f-b { font-weight: bold;}

.col-3 { float: left; width: 33.33%;}

.btn { border: none; padding: 0 20px; height: 40px; line-height: 40px; text-align: center; border-radius: 6px; box-sizing: border-box;}
.btn-blue { background-color: #59c4f0; color: #fff;}
.double-btn-bar { padding-left: 2%;}
.double-btn-bar .btn { width: 43%; margin: 0 2%;}
.btn-block { display: block;}

.text-left { text-align: left;}.text-right { text-align: right;}.text-center { text-align: center;}

.list { margin: 0; padding: 0; list-style: none;}
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}

.question-header { overflow: hidden; padding: 25px 15px; background: url("../images/temp/q-bg.jpg") no-repeat;}



.qh-info { float: left; padding-right: 20px; overflow: hidden;border-radius: 54px; background-color: rgba(0,0,0,0.4); color: #fff;}
.qh-info img { float: left; width: 80px; border: 4px #59c4f5 solid; border-radius: 50%;}
.qh-name { padding: 15px 0 0 90px; line-height: 200%; white-space: nowrap; min-width: 80px;}.qh-name .name { font-size: 1.1rem;}

.qh-praise { height: 30px; line-height: 30px; float: right; border-radius: 15px; background-color: #fff; padding: 0 10px;}
.qh-praise i { color: #59c4f5;}

.qh-title { line-height: 200%; padding: 10px 15px 6px; border-bottom: 1px #e0e0e0 solid; font-size: 1.1rem;}.qh-title i { color: #999;}
.qh-cont { padding: 10px 15px; border-bottom: 1px #dfdfdf solid;} .qh-date { padding: 15px; text-align: right;}

.cmt-pop { position:relative; padding:10px; background:#fff; border-radius:10px; box-shadow: 0 0 2px #666; color: #96a3af; line-height: 180%; word-break:break-all; }
.cmt-reply .cmt-pop { margin: 0 15px 0 15px; background:#f3fcff; }
.cmt-question .cmt-pop { margin: 0 15px 0 5px; background:#fff;}
.cmt-pop .icon-triangle-right, .cmt-pop .icon-triangle-left { font-size: 28px; position: absolute; top: 10px; right: -10px; color: #fff; text-shadow: 1px 0 1px #aaa;}
.cmt-pop .icon-triangle-left { right: auto; left: -10px; text-shadow: -1px 0 1px #aaa; color: #f3fcff}

.cmt-padding { padding: 0 10% 0 10%;}.cmt-list .cmt-question .cmt-padding { padding: 0 10% 0 0;}
.cmt-list { padding: 25px 15px; background-color: #fcfcfc; }.cmt-list > li { padding-bottom: 5px; overflow: hidden;}
.cmt-list .pic { float: left; width: 10%; border-radius: 50%;}.cmt-list .cmt-question .pic { float: right;}
.cmt-date { padding: 15px; text-align: center;}
.cmt-date span { display: inline-block; padding: 2px 8px; background-color: #d4d5d6; font-size: 0.8rem; color: #fff;}

.reply-box { position: absolute; bottom: 0;box-sizing: border-box; width: 100%; padding: 10px 20px; border-top: 1px #ebeced solid;}
.reply-btn { display: block; width: 100%; padding: 8px; text-align: left; border-radius: 10px; border: 1px #e7e7e7 solid; background-color: transparent;}
.reply-btn i { color: #c4c4c4; font-size: 1.2rem; vertical-align: middle;}


/*-------------------bbs----------------------*/
.bbs-header { position: relative; padding: 15px 10px; background-color: #fafafa; border-top: 6px #efefef solid; border-bottom: 1px #d7d7d7 solid;}
.bbs-user-info { position: relative;}
.bbs-user-info .pic { width: 20%;max-width: 80px; border-radius: 50%; vertical-align: middle; border: 2px #fff solid;}
.bbs-user-info .info { display: inline-block; vertical-align: middle;  margin: 6px 0 0 10px; }
.bbs-user-info .name {max-width: 220px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

.bbs-header .date { position: absolute; top: 52px; right: 15px;}
.bbs-user-info .color-pop { display: block; width: 40px;}
.up-border-arrow { position: absolute; left: 9%; bottom: -11px; color: #fff; text-shadow: 0 -1px 0 #d7d7d7; font-size: 24px;}
.color-pop { position: relative; margin: 5px 0; font-size: 0.9rem; padding: 2px 10px; border-radius: 3px; color: #fff; background-color: #fe6000; line-height: 150%;}
.color-pop:before{
    position:absolute;content:"\00a0";width:0px;height:0px;
    border-width:5px 5px 5px 0;border-style:solid; border-color:transparent #fe6000 transparent transparent;top:6px;left:-5px;
}

.bbs-cont { padding: 10px; line-height: 160%;}
.bbs-cont .title { margin-top: 0; padding: 4px 0; border-bottom: 1px #e0e0e0 solid; line-height: 180%; font-size: 1.2rem;}
.bbs-cont .reply { color: #999; font-size: 0.9rem; text-align: right;}.bbs-cont .reply i { vertical-align: middle;}
.bbs-action { padding: 10px; background-color: #f7f7f7; border-top: 1px #d7d7d7 solid; border-bottom: 1px #d7d7d7 solid; color: #999;}

.bbs-list .bbs-user-info .name { margin-top: 0;}
.bbs-list .bbs-user-info .pic { width: 18%; max-width: 80px;}
.bbs-list > li { }
.bbs-list .date { float: right;}
.bbs-reply-cont { padding: 10px; line-height: 160%;}
.bbs-reply-Btn { border: 1px solid #d0d0d0; padding: 3px 15px; background-color: #fff; border-radius: 8px;}
.reply-quotes { margin-bottom: 10px; padding: 10px; background-color: #f3f3f3;}
.reply-quotes .title { font-size: 0.9rem; color: #999;}

/*----------------------------------bbs End-----------------------------------*/
/*----------------notice-------------------*/
.notice { background-color: #fff; margin-top: 6px; border-top: 1px #d7d7d7 solid; border-bottom: 1px #d7d7d7 solid; padding: 0 10px; line-height: 1.4rem;}
.notice .title { padding: 10px 0; border-bottom: 1px #e0e0e0 solid;}
.notice .cont { padding: 10px 0 20px 0; font-size: 0.9rem;}.notice .cont a { color: #59c4f0; text-decoration: underline;}
.notice .date { padding: 10px 0; font-size: 0.7rem; line-height: 1.8; border-top: 1px #e0e0e0 solid;}
/*------------------notice End-----------------------*/
.self-header { padding: 20px; border-bottom: 1px #c4c4c4 solid; background-color: #fff;}
.progress-bar { margin-bottom: 10px; height: 8px; background-color: #d4d4d4; border-radius: 4px;}
.progress-bar i {
    display: block;
    height: 8px;
    border-radius: 4px;
    background-image: -moz-linear-gradient(left, #11d9ee, #4fbcff); /* Firefox */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #11d9ee), color-stop(1, #4fbcff)); /* Saf4+, Chrome */
}
.progress-text { font-size: 0.9rem;}
.self-text-wrap { padding: 20px;}
.self-text-wrap .title { padding-bottom: 20px;}
.self-text-list {}
.self-text-list label { display: block; padding: 8px;}
.gray-bg { background-color: #f5f5f5;}
.gray-dark-bg { background-color: #efefef;}
.progress-text { text-align: center;}

/*--------------------progress END---------------------------*/

.scroll-x-tab { display: table; width: 100%;}
.scroll-x-tab li { padding: 0 10px; white-space: nowrap; box-sizing: border-box;}
.scroll-x-tab li.action { border-bottom: 3px #119aee solid; color: #119aee;}

#wrapper.info-wrapper { top: 60px;}
.info-content-title { padding: 0 15px; font-size: 1.2rem; color: #333; height: 40px; line-height: 40px; background-color: #efefef; border-bottom: 1px #d7d7d7 solid;}
.info-content { padding: 10px 15px; font-size: 0.9rem; line-height: 1.5;}
.fixed-bottom-bar { position: absolute; bottom: 0; height: 60px; background-color: #efefef; width: 100%; border-top: 1px #d7d7d7 solid; box-sizing: border-box;}

/*-----------face----------------*/
.male-avatar,.bodily {position: relative; margin: 0 auto; box-sizing: border-box; width: 640px; height: 700px; background-size: contain; background-repeat: no-repeat; /*background-image: url('../images/face/male.jpg');  border: 2px #f00 solid;*/}
.model-wrap { width: 100%; overflow-x: hidden;}
.model-wrap .pic { width: 100%;}

.male-avatar .item,.bodily .item { position: absolute; background-repeat: no-repeat; visibility: hidden; left: 50%; background-size: contain;}.male-avatar .overItem,.bodily .overItem { visibility: visible;}
#male-head { width: 344px; height: 276px; top: 0; left: 145px; background-image: url("../images/face/male/intelligence_highlight_0101.png");}
#male-eye { width: 238px; height: 55px; top: 240px; margin-left: -122px; background-image: url("../images/face/male/intelligence_highlight_0102.png");}
#male-nose { width: 80px; height: 132px; top: 236px; margin-left: -42px; background-image: url("../images/face/male/intelligence_highlight_0103.png");}
#male-ear { width: 350px; height: 125px; top: 245px; margin-left: -179px; background-image: url("../images/face/male/intelligence_highlight_0105.png");}
#male-face { width: 243px; height: 217px; top: 278px; margin-left: -125px; background-image: url("../images/face/male/face.png");}
#male-mouth { width: 112px; height: 55px; top: 364px; margin-left: -58px; background-image: url("../images/face/male/intelligence_highlight_male_0104.png");}
#male-chin { width: 230px; height: 92px; top: 378px; margin-left: -115px; background-image: url("../images/face/male/chin.png");}
#male-brow { width: 225px; height: 85px; top: 140px; margin-left: -112px; background-image: url("../images/face/male/brow.png");}

#lady-head { width: 355px; height: 230px; top: 10px; margin-left: -165px; background-image: url("../images/face/lady/head.png");}
#lady-eye { width: 265px; height: 59px; top: 262px; margin-left: -130px; background-image: url("../images/face/lady/intelligence_highlight_0202.png");}
#lady-nose { width: 80px; height: 132px; top: 245px; margin-left: -42px; background-image: url("../images/face/male/intelligence_highlight_0103.png");}
#lady-ear { width: 322px; height: 125px; top: 245px; margin-left: -163px; background-image: url("../images/face/lady/intelligence_highlight_0205.png");}
#lady-face { width: 232px; height: 92px; top: 309px; margin-left: -113px; background-image: url("../images/face/lady/face.png");}
#lady-mouth { width: 112px; height: 55px; top: 372px; margin-left: -58px; background-image: url("../images/face/lady/intelligence_highlight_0204.png");}

#lady-chin { width: 212px; height: 94px; top: 364px; margin-left: -106px; background-image: url("../images/face/lady/chin.png");}
#lady-brow { width: 180px; height: 81px; top: 164px; margin-left: -82px; background-image: url("../images/face/lady/brow.png");}

img { -webkit-touch-callout: none; -webkit-user-select: none;}

.bodily {height: 810px;}

#m-head { width: 90px; height: 122px; top: 6px; margin-left: -43px; background-image: url("../images/bodily/male/intelligence_highlight_0100.png");}
#m-neck { width: 100px; height: 52px; top: 105px; margin-left: -48px; background-image: url("../images/bodily/male/intelligence_highlight_0107.png");}
#m-thorax { width: 152px; height: 84px; top: 164px; margin-left: -74px; background-image: url("../images/bodily/male/intelligence_highlight_0110.png");}
#m-abdomen { width: 150px; height: 122px; top: 236px; margin-left: -69px; background-image: url("../images/bodily/male/intelligence_highlight_0111.png");}
#m-genital { width: 153px; height: 70px; top: 356px; margin-left: -75px; background-image: url("../images/bodily/male/intelligence_highlight_0115.png");}
#m-leg { width: 161px; height: 406px; top: 396px; margin-left: -78px; background-image: url("../images/bodily/male/intelligence_highlight_0116.png");}
#m-arm { width: 344px; height: 322px; top: 154px; margin-left: -170px; background-image: url("../images/bodily/male/intelligence_highlight_0108.png");}

#w-head { width: 90px; height: 122px; top: 6px; margin-left: -43px; background-image: url("../images/bodily/lady/intelligence_highlight_0200.png");}
#w-neck { width: 60px; height: 30px; top: 113px; margin-left: -28px; background-image: url("../images/bodily/lady/intelligence_highlight_0207.png");}
#w-thorax { width: 129px; height: 106px; top: 146px; margin-left: -65px; background-image: url("../images/bodily/lady/intelligence_highlight_0210.png");}
#w-abdomen { width: 110px; height: 90px; top: 252px; margin-left: -54px; background-image: url("../images/bodily/lady/intelligence_highlight_0211.png");}
#w-genital { width: 154px; height: 79px; top: 335px; margin-left: -76px; background-image: url("../images/bodily/lady/intelligence_highlight_0215.png");}
#w-leg { width: 180px; height: 389px; top: 396px; margin-left: -88px; background-image: url("../images/bodily/lady/intelligence_highlight_0216.png");}
#w-arm { width: 366px; height: 289px; top: 149px; margin-left: -182px; background-image: url("../images/bodily/lady/intelligence_highlight_0208.png");}

.scroll-body { overflow: hidden;}
#wrapper,#scroll-x {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 62px;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#scroller,.scroll-box {
    position: absolute; top: 0;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroll-x { height: 59px; line-height: 56px; bottom: auto; }
.scroll-box { width: auto; height: 100%;}
.scroll-box ul { width: 100%; height: 100%; text-align: center;}
.scroll-box li { display: table-cell; height: 56px; background-color: #fff; }

#pullUp { text-align: center;}

#wrapper.no-bot,#scroll-x.no-bot { bottom: 0;}




/*———————————————————————————------Task------———————————————————————————————*/
.task { padding: 10% 15px 0;}
.task .title { text-align: center;}
.task .pic { padding: 15px 0; text-align: center;  position: relative;}
.task .pic i { position: absolute; font-size: 32px; color: #cbcbcb; top: 50%; margin-top: -15px;}
.task .icon-chevron-left { left: 0px;}.task .icon-chevron-right { right: 0px;}

.task-01 img { max-width: 60%;}

.task .note { margin: 0 auto; padding: 20px; max-width: 640px; line-height: 1.3; font-size: 0.9rem; text-align: justify;}
.w-max img { max-width: 85%;}
.no-pad .pic { padding-bottom: 0;}.no-pad .note { padding-top: 0;}

.step-task li { display: none;}.step-task li.active { display: block;}
.step-label { margin-bottom: 8px; border-radius: 4px; border: 1px #0493cd solid; width: 54px;line-height: 0.9;}.step-label label { display: inline-block; padding: 2px 3px;  margin-right: 3px; color: #fff; background-color: #0493cd;}

.p-canvas { position: absolute; bottom: 0px; right: 0px; width: 18%;}
.mask { position: fixed; top: 0; bottom: 0; width: 100%; text-align: center; background-color: rgba(0,0,0,0.4);}
.startBtn { position: absolute; left: 50%; top: 50%; width: 28%; border-radius: 50%; margin: -20% 0 0 -14%;}

.task-blue { background-color: #30C5A0; color: #fff; line-height: 1.5;}
.task-showBox {}
.task-showBox .title { font-size: 1.2rem; padding: 0 10% 15px;  text-align: center;}
.task-showBox .pic { text-align: center; padding: 20% 0 10px;}
.task-showBox .note { padding: 0 10%;  font-size: 0.9rem;}
.task-showBox img { width: 70%; padding: 4px; background-color: #fff; box-shadow: 0 0 4px #333;}

.openEye { text-align: center; padding-top: 20%;}.openEye li { display: none;}
.openEye img { max-width: 48%;}.openEye .active { display: block;}
ul.openEye { padding-top: 45%;}

.task-grid { background-image: url("../images/grid-bg.png"); background-size: cover; background-repeat: no-repeat;}
.ball { position: absolute; width: 40px; height: 40px; background-color: #000; border-radius: 20px; margin-top: -20px;}
#leftBall { left: 0; top: 50%; animation:leftMove 20s linear; -webkit-animation:leftMove 20s linear;}
#rightBall { right: 0; top: 50%; animation:rightMove 20s linear; -webkit-animation:rightMove 20s linear;}
@keyframes leftMove {
    0%{
        left: 0;
    }
    50%{
        left: 50%;
        margin-left: -40px;
    }
    100%{
        left: 0;
    }
}
@keyframes rightMove {
    0%{
        right: 0;
    }
    50%{
        right: 50%;
        margin-right: -40px;
    }
    100% {
        right: 0;
    }
}
@-webkit-keyframes leftMove /* Safari and Chrome */
{
    0%{
        left: 0;
    }
    50%{
        left: 50%;
        margin-left: -40px;
    }
    100%{
        left: 0;
    }
}
@-webkit-keyframes rightMove /* Safari and Chrome */
{
    0%{
        right: 0;
    }
    50%{
        right: 50%;
        margin-right: -40px;
    }
    100%{
        right: 0;
    }
}

.green-ball { position: absolute; background-color: #009900; border-radius: 15px; width: 30px; height: 30px; left: 10px; top: 20px; visibility: hidden;}

#pic-c { position: absolute; width: 10%; left: 45%; top: 45%; display: none;}
.bodily-btn { position: absolute; bottom: 30px; right: 20px; width: 20%; max-width: 123px;}
.bodily img { max-width: 100%;}
.skin-btn { position: absolute; bottom: 30px; left: 20px; width: 20%; max-width: 123px;}
.skin-btn img{width:100%}


/*---------------------reg------------------------------*/
.reg-wrap { padding: 20px;}
.reg-title { padding-top: 1rem; line-height: 1.5; color: #aaa; font-size: 0.9rem;}
.reg-form .item { padding: 10px 0;}
.reg-form .item-ico { position: relative;}
.reg-form .item i { position: absolute; margin-top: 0.3rem; padding: 0.3rem 0.5rem; font-size: 1.5rem; color: #00afec; border-right: 1px #00afec solid;}
.reg-form .item .text { text-indent: 0.8rem; font-size: 0.8rem; border-radius: 8px;}
.reg-form .item-ico .text { text-indent: 3.4rem; width: 100%;}
.reg-form .text { display: block; height: 2.4rem; line-height: 2.4rem; border: 1px #00afec solid;}
.reg-form .btn-block { display: block; width: 100%;}
#time_out_generic { display: inline-block; padding-top: 10px; color: #999;}
.reg-form .v-code { padding-right: 9rem;}
.reg-form .v-code .text { width: 100%;}
.reg-copyright { padding-top: 2.5rem; font-size: 0.8rem; color: #999; line-height: 1.3;}
.page-ico { padding: 40px 0 20px; text-align: center;}
.page-ico img { max-width: 30%;}
.reg-success { text-align: center; line-height: 2; padding: 20px 0 40px; color: #808080;}

label.error{ line-height: 1.5; color:#c00; font-size: 0.8rem;}



