<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.sinco.carnation.market.mapper.ActivitySaleMessageTemplateMapper">
	<resultMap id="BaseResultMap"
		type="com.sinco.carnation.market.model.ActivitySaleMessageTemplate">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="picture" property="picture" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_by" property="modifyBy" jdbcType="BIGINT" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="delete_status" property="deleteStatus"
			jdbcType="BIT" />
	</resultMap>
	<resultMap id="BOResultMap"
		type="com.sinco.carnation.market.bo.ActivitySaleMessageTemplateBO"
		extends="BaseResultMap" />
	<resultMap id="ResultMapWithBLOBs"
		type="com.sinco.carnation.market.model.ActivitySaleMessageTemplate"
		extends="BaseResultMap">
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, title, picture, create_by, create_time, modify_by, modify_time,
		delete_status
	</sql>
	<sql id="Blob_Column_List">
		content
	</sql>
	<select id="selectByExampleWithBLOBs"
		parameterType="com.sinco.carnation.market.model.ActivitySaleMessageTemplateExample"
		resultMap="BOResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from act_app_sale_message_template
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByExample"
		parameterType="com.sinco.carnation.market.model.ActivitySaleMessageTemplateExample"
		resultMap="BOResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from act_app_sale_message_template
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limit != null">
			limit ${limit}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from act_app_sale_message_template
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from act_app_sale_message_template
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.sinco.carnation.market.model.ActivitySaleMessageTemplateExample">
		delete from act_app_sale_message_template
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.sinco.carnation.market.model.ActivitySaleMessageTemplate"
		useGeneratedKeys="true" keyProperty="id">
		insert into act_app_sale_message_template (id, title, picture,
		create_by, create_time, modify_by,
		modify_time, delete_status, content
		)
		values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR},
		#{picture,jdbcType=VARCHAR},
		#{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=BIGINT},
		#{modifyTime,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT},
		#{content,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.sinco.carnation.market.model.ActivitySaleMessageTemplate"
		useGeneratedKeys="true" keyProperty="id">
		insert into act_app_sale_message_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="picture != null">
				picture,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifyBy != null">
				modify_by,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
			<if test="deleteStatus != null">
				delete_status,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="picture != null">
				#{picture,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				#{modifyBy,jdbcType=BIGINT},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteStatus != null">
				#{deleteStatus,jdbcType=BIT},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.sinco.carnation.market.model.ActivitySaleMessageTemplateExample"
		resultType="java.lang.Integer">
		select count(*) from act_app_sale_message_template
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update act_app_sale_message_template
		<trim prefix="set" suffixOverrides=",">
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.title != null">
				title = #{record.title,jdbcType=VARCHAR},
			</if>
			<if test="record.picture != null">
				picture = #{record.picture,jdbcType=VARCHAR},
			</if>
			<if test="record.createBy != null">
				create_by = #{record.createBy,jdbcType=BIGINT},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifyBy != null">
				modify_by = #{record.modifyBy,jdbcType=BIGINT},
			</if>
			<if test="record.modifyTime != null">
				modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.deleteStatus != null">
				delete_status = #{record.deleteStatus,jdbcType=BIT},
			</if>
			<if test="record.content != null">
				content = #{record.content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExampleWithBLOBs" parameterType="map">
		update act_app_sale_message_template
		set id = #{record.id,jdbcType=BIGINT},
		title = #{record.title,jdbcType=VARCHAR},
		picture = #{record.picture,jdbcType=VARCHAR},
		create_by = #{record.createBy,jdbcType=BIGINT},
		create_time = #{record.createTime,jdbcType=TIMESTAMP},
		modify_by = #{record.modifyBy,jdbcType=BIGINT},
		modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
		delete_status = #{record.deleteStatus,jdbcType=BIT},
		content = #{record.content,jdbcType=LONGVARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update act_app_sale_message_template
		set id = #{record.id,jdbcType=BIGINT},
		title = #{record.title,jdbcType=VARCHAR},
		picture = #{record.picture,jdbcType=VARCHAR},
		create_by = #{record.createBy,jdbcType=BIGINT},
		create_time = #{record.createTime,jdbcType=TIMESTAMP},
		modify_by = #{record.modifyBy,jdbcType=BIGINT},
		modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
		delete_status = #{record.deleteStatus,jdbcType=BIT}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.sinco.carnation.market.model.ActivitySaleMessageTemplate">
		update act_app_sale_message_template
		<trim prefix="set" suffixOverrides=",">
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="picture != null">
				picture = #{picture,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				modify_by = #{modifyBy,jdbcType=BIGINT},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteStatus != null">
				delete_status = #{deleteStatus,jdbcType=BIT},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs"
		parameterType="com.sinco.carnation.market.model.ActivitySaleMessageTemplate">
		update act_app_sale_message_template
		set title = #{title,jdbcType=VARCHAR},
		picture = #{picture,jdbcType=VARCHAR},
		create_by = #{createBy,jdbcType=BIGINT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		modify_by = #{modifyBy,jdbcType=BIGINT},
		modify_time = #{modifyTime,jdbcType=TIMESTAMP},
		delete_status = #{deleteStatus,jdbcType=BIT},
		content = #{content,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.sinco.carnation.market.model.ActivitySaleMessageTemplate">
		update act_app_sale_message_template
		set title = #{title,jdbcType=VARCHAR},
		picture = #{picture,jdbcType=VARCHAR},
		create_by = #{createBy,jdbcType=BIGINT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		modify_by = #{modifyBy,jdbcType=BIGINT},
		modify_time = #{modifyTime,jdbcType=TIMESTAMP},
		delete_status = #{deleteStatus,jdbcType=BIT}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="findAllByPage" resultMap="BOResultMap">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from act_app_sale_message_template
		where delete_status = 0
		ORDER BY create_time DESC
	</select>
</mapper>