.fn-rmb{font-family:'Microsoft YaHei';}
a:focus{outline:none;}
.yungoBg{background: #F7F7F7;width: 100%;overflow: hidden;font-family: "微软雅黑" !important;}
.yungoBg .yg_main{width:1192px;margin: 0 auto;overflow: hidden;}
.buy_step{margin-top: 50px;}
.buy_step ul{height: 40px;overflow: hidden;}
.buy_step ul li{float: left;width: 33.33%;height: 8px;margin-top: 16px;background: #9de6d4;position: relative;}
.buy_step ul li.curr{background: #19BF96;}
.buy_step ul li span{width: 40px;height: 40px;position: absolute;left: 178px;top: -16px;background-image:url(../images/step_num.png);background-repeat: no-repeat;border-radius: 50%;}

.buy_step ul li .s1{background-position: left bottom;}
.buy_step ul li.curr .s1{background-position: left -1px;}
.buy_step ul li .s2{background-position: -40px bottom;}
.buy_step ul li.curr .s2{background-position: -40px top;}
.buy_step ul li .s3{background-position: -80px -41px;}
.buy_step ul li.curr .s3{background-position: -80px -1px;}

.step_text{color:#85dbc6;margin-top: 15px;font-size: 0;}
.step_text span{display: inline-block;font-size:16px;width: 33.2%;text-align: center;}
.step_text span.curr{color: #19bf96;}

.order_info_yg{background: #FFFFFF;overflow: hidden;}
.icon_gou{background: url(../img/icon_sprite.png) no-repeat -61px top;width: 89px;height: 89px;float: left;margin: 65px 0 0 295px;}
.order_info_yg .info{float: left;margin: 20px 0 20px 47px;}
.order_info_yg .info .info_success{font-size: 18px;color: #4a4a4a;line-height: 30px;font-family: sans-serif;font-weight: bold;}
.order_info_yg .info .info_success .f14{font-size: 14px;font-weight: normal;}
.order_info_yg .info .order_no{font-size: 14px;color: #848484;line-height: 18px;}
.order_info_yg .info .order_no .time{color: #e44245;}
.order_info_yg .info .order_prize{font-size: 16px;margin-top: 14px;color: #4A4A4A;overflow: hidden;}
.order_info_yg .info .order_prize span{float: left;}
.order_info_yg .info .order_prize .fn-rmb{color: #fe2a5b;font-size: 18px;margin-left: 12px;line-height: 22px;}
.order_info_yg .info .order_prize .prize{color: #fe2a5b;font-size: 24px;margin-left: 5px;line-height: 1;position: relative;top: -2px;}
.payWay_text{color: #4A4A4A;font-size: 18px;text-indent: 45px;line-height: 48px;background: #EEEEEE;border:solid 1px #e2e2e2}
.shopping_payfor_bottom{padding-top:0px}
.yun-money-pay{margin-top:0}


.pay_detail{background: #FFFFFF;overflow: hidden;padding-bottom: 65px;}
.pay_detail .yun_pay{margin: 80px 0 0 0;overflow: hidden;}
.pay_detail .yun_pay .name{font-size: 16px;color: #4A4A4A;width: 273px;text-align: right;float: left;font-weight: bold;font-family: sans-serif;}
.pay_detail .yun_pay .right{float:left;margin-left: 30px;border-bottom: dashed 1px #e2e2e2;font-size: 16px;overflow: hidden;width: 850px;color: #4A4A4A;padding-bottom: 30px;}
.pay_detail .yun_pay .right .yun_remainder{float: left;width: 550px;}
.pay_detail .yun_pay .right .yun_text{float: left;width: 100px;text-align: right;}
.pay_detail .yun_pay .right .pay_num{font-size: 18px;float: left;color: #ff3161;margin-left: 16px;}
.pay_detail .yun_pay .right .psw{float: left;width: 850px;margin-top: 24px;overflow: hidden;display: none;}
.pay_detail .yun_pay .right .psw .psw_text{float: left;line-height: 32px;}
.pay_detail .yun_pay .right .psw .psw_input{border:1px solid #e5e5e5;width:200px;height:10px;float: left;padding: 10px 0 10px 5px;line-height: 10px;margin-left: 10px;}
.pay_detail .yun_pay .right .psw .psw_input:focus{border:solid 1px #98baf1;} 
.pay_detail .yun_pay .right .psw .err_tips{float: left;color: red;line-height: 32px;margin-left: 8px;display: none;}

.pay_detail .crash_pay{margin: 34px 0 0 0;overflow: hidden;}
.pay_detail .psw{margin: 34px 0 0 0;overflow: hidden;}
.pay_detail .crash_pay .name,.pay_detail .psw .name{font-size: 16px;color: #4A4A4A;width: 273px;text-align: right;float: left;font-weight: bold;font-family: sans-serif;}
.pay_detail .crash_pay .right,.pay_detail .psw .right{float:left;margin-left: 30px;font-size: 16px;overflow: hidden;width: 850px;color: #4a4a4a;}
.pay_detail .crash_pay .right .crash_remainder{float: left;width: 550px;}
.pay_detail .crash_pay .right .crash_remainder .fn-rmb{color: #FF3161;}
.pay_detail .crash_pay .right .crash_text{float: left;width: 100px;text-align: right;}
.pay_detail .crash_pay .right .crash_num{font-size: 18px;float: left;color: #ff6612;margin-left: 16px;}
.pay_detail .crash_pay .right .choose_pay{float: left;}
.pay_detail .crash_pay .right .choose_pay .typeco{border:1px solid #e5e5e5;border-radius:3px;width:724px;line-height: 48px;color: #909090;cursor: pointer;-webkit-user-select: none;}
.pay_detail .crash_pay .right .choose_pay .yunMoney{margin-top: 23px;}
.pay_detail .crash_pay .right .choose_pay .wx_ali{margin-top: 18px;}
.pay_detail .crash_pay .right .choose_pay .yunMoney .yb_value{color: #424242;}
.pay_detail .crash_pay .right .choose_pay .notEnough .yb_value{color: #909090;}
.pay_detail .crash_pay .right .readonly .yb_value{color: #909090;}
.pay_detail .crash_pay .right .choose_pay .typeName{color: #4A4A4A;font-size: 16px;}
.typeco_tips{font-size: 14px;}
.pay_detail .crash_pay .right .readonly .typeName{color: #909090;}
.pay_detail .crash_pay .right .readonly .typeco{cursor: default;}
.pay_detail .crash_pay .right .choose_pay .notEnough{cursor: default;}

.pay_detail .crash_pay .right .choose_pay .typeco .paytype{overflow: hidden;margin: 17px 0 31px 35px;display: none;}
.pay_detail .crash_pay .right .choose_pay .typeco .paytype a{border:1px solid #e5e5e5;width:200px;height:60px;float: left;margin-right: 34px;overflow: hidden;position: relative;}
.pay_detail .crash_pay .right .choose_pay .typeco .paytype a.curr{border:solid 1px #19bf96;}
.pay_detail .crash_pay .right .choose_pay .typeco .paytype a .choosed{position: absolute;right: 0;bottom: 0;width: 20px;height: 20px;background: url(../images/icon_sprite.png) no-repeat -205px -52px;display: none}
.pay_detail .crash_pay .right .choose_pay .typeco .paytype a.curr .choosed{display: block;}

.pay_detail .crash_pay .right .choose_pay .typeco .paytype .icon_wxpay{background: url(../images/icon_sprite.png) no-repeat 0 -132px;width: 160px;height: 60px;display: block;margin: 0 0 0 20px;}
.pay_detail .crash_pay .right .choose_pay .typeco .paytype .icon_alipay{background: url(../images/icon_sprite.png) no-repeat -9px -200px;width: 143px;height: 60px;display: block;margin: 0 0 0 28px;}

.pay_detail .psw .name{margin-top: 41px;}
.pay_detail .psw .right{border-top: dashed 1px #e2e2e2;font-size: 14px;}
.zxPsw{border:1px solid #d3d3d3;border-radius:3px;width:236px;height:42px;margin-top: 25px;margin-right: 16px;}
.currzxPsw{border:1px solid #19bf96;animation: border 1s;}
.zxPsw:focus{outline: none;}
.submitPay{background:#e44245;border-radius:5px;width:173px;height:49px;line-height: 49px;font-family:.PingFangSC-Medium;font-size:18px;color:#ffffff;text-align:center;color: #FFFFFF;outline: none;border: none;margin: 39px 0 0 304px;}

.pay_detail .crash_pay .right .choose_pay .yunMoney .type_yb{margin-left: 10px;}
.pay_detail .crash_pay .right .choose_pay .wx_ali .type_wxAli{margin-left: 10px;}
.pay_detail .crash_pay .right .choose_pay .icon{float: left;width: 15px;height: 15px;background: url(../images/radio_1.png) no-repeat left center;margin: 17px 0 0 15px;}
.pay_detail .crash_pay .right .choose_pay .curr .icon{background: url(../images/radio_1.png) no-repeat right center;}


.pay_detail .crash_pay_type{margin: 34px 0 0 0;overflow: hidden;}
.pay_detail .crash_pay_type .name{font-size: 16px;color: #272727;width: 273px;text-align: right;float: left;}
.pay_detail .crash_pay_type .right{float:left;margin-left: 30px;font-size: 16px;overflow: hidden;width: 850px;color: #696969;}
.pay_detail .crash_pay_type .right .crash_num{color: #ff6612;}

.pay_detail .icon_comfirmPay{background: url(../images/icon_sprite.png) no-repeat -162px 0px;width: 173px;height: 49px;display: block;text-align: center;line-height: 49px;font-size: 18px;color: #FFFFFF;}
.pay_detail .pos_comfirmPay{margin: 40px 0 0 300px;}
.pay_detail .icon_comfirmPay:active{line-height: 50px}
#comfirmPayS2{display: none;}

.model{background: #000000;opacity: 0.6;filter: alpha(opacity=60);position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;z-index:999;}
.pswBox{background:#ffffff;border-radius:8px;width:590px;height:325px;position: fixed;left: 50%;top: 50%;margin: -167px 0 0 -295px;display: none;z-index:1000;font-family: "微软雅黑" !important;}
.pswBox .title{height: 55px;line-height: 55px;border-bottom: solid 1px #e5e5e5;text-indent: 53px;font-size: 18px;color: #4A4A4A;position: relative;}
.pswBox .title .icon_psw{background: url(../images/icon_sprite.png) no-repeat -230px -50px;width: 18px;height: 28px;position: absolute;left: 18px;top: 15px;}
.pswBox .tips_text{margin: 35px 0 0 180px;font-size:14px;color: #989898;line-height: 22px;}
.pswBox .tips_text .star_red{color: #ff565f;font-size: 18px;vertical-align: middle;}
.pswBox .pswEnter{overflow: hidden;margin: 14px 0 0 87px;}
.pswBox .pswEnter span{float: left;font-size: 18px;height: 50px;line-height: 50px;}
.pswBox .pswEnter span.err_tips{color: red;}
.pswBox .pswEnter .psw_value{float: left;margin-left: 15px;height: 30px;line-height: 30px;padding: 9px 0 9px 5px;width: 310px;}
.pswBox .btns{margin: 31px 0 0 176px;overflow: hidden;}
.pswBox .icon_comfirmPay{background: url(../images/icon_sprite.png) no-repeat -162px 0px;width: 173px;height: 49px;display: block;text-align: center;line-height: 49px;font-size: 18px;color: #FFFFFF;}
.pswBox .icon_comfirmPay:active{line-height: 50px}
.pswBox .btns .pos_comfirmPay{float: left;}
.pswBox .btns .cancel{float: left;width: 100px;height: 49px;font-size: 18px;color: #909090;line-height: 49px;margin-left: 20px;}
.pswBox .err_tips{line-height: 50px;text-align: center;color: red;font-size: 16px;display: none;}



