.topicHolder{
	background: #F7F7F7;color: #4a4a4a;overflow: hidden;
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
   -webkit-backface-visibility:hidden;
   -webkit-perspective:1000;
}
.topicCon{
	padding: 0 0.34rem;
	background: #ffffff;
	border-bottom: solid 1px #EBEBEB;
	overflow: hidden;
}
.topicCon .userInfo{margin-top: 0.28rem;position: relative;height: 0.8rem;}
.topicCon .userInfo img{width: 0.8rem;height: 0.8rem;border-radius: 50%;position: absolute;left: 0;top: 0;}
.topicCon .userInfo .uinfo{margin-left: 1rem;}
.topicCon .userInfo .uinfo .nameInfo{
	overflow: hidden;
	height: 0.5rem;
}
.topicCon .userInfo .uinfo .nameInfo>span{float: left;}
.topicCon .userInfo .uinfo .nameInfo .name{font-size: 0.36rem;height: 0.4rem;line-height: 0.48rem;font-family: arial;}
.topicCon .userInfo .uinfo .nameInfo .sexIcon{width: 0.16rem;height: 0.28rem;margin:0.14rem 0 0 0.2rem;}
.topicCon .userInfo .uinfo .nameInfo .man{background: url(../img/ys_healthycircle_man@3x.png) no-repeat left center;background-size: 0.16rem 0.28rem;}
.topicCon .userInfo .uinfo .nameInfo .woman{background: url(../img/ys_healthycircle_woman@3x.png) no-repeat left center;background-size: 0.16rem 0.28rem;}
.topicCon .userInfo .uinfo .nameInfo .level{
	font-size: 0.24rem;
	height: 0.28rem;
	line-height: 0.28rem;
	margin: 0.16rem 0 0 0.14rem;
}
.topicCon .userInfo .uinfo .nameInfo .yddr{color: #5090dd;font-size: 0.24rem;margin: 0.16rem 0 0 0.2rem;height: 0.28rem;line-height: 0.28rem;}
.topicCon .userInfo .uinfo .topicInfo{
	overflow: hidden;	
}
.topicCon .userInfo .uinfo .topicInfo>span{
	float: left;
	font-size: 0.24rem;
	color: #9B9B9B;
}
.topicCon .userInfo .uinfo .topicInfo .date{margin-left: 0.26rem;margin-right: 0.26rem;}
.topicCon .topic{margin-top: 0.3rem;overflow: hidden;font-size: 0.28rem;}
.topicCon .topic .title{color: #5090DD;float: left;padding: 0 0.08rem;}
.topicCon .topic .title>span{margin: 0 0.08rem;}

.topicCon .topicImg{overflow: hidden;}
.topicCon .topicImg ul{width: 6.96rem;position: relative;left: -0.06rem;overflow: hidden;}
.topicCon .topicImg ul li{width: 2.26rem;height: 2.26rem;overflow: hidden;margin:0 0 0.06rem 0.06rem;float: left;background: rgba(163, 163, 163,0.7);}
.topicCon .topicImg ul li.none{background: none;}
.topicCon .topicImg ul li img{
	position: relative;
	display: none;
}
.topicCon .location{height: 0.36rem;line-height: 0.36rem;margin-bottom: 0.3rem;background:#f6f6f6 url(../img/location.png) no-repeat 0.06rem center;background-size: 0.26rem 0.32rem;font-size: 0.24rem;text-indent: 0.4rem;color: #19BF96;display: inline-block;padding-right: 0.1rem;}
.topicReply{margin-top: 0.12rem;background: #FFFFFF;overflow: hidden;padding-bottom: 1rem;}
.topicReply .zan{font-size: 0.24rem;color: #9B9B9B;margin-top: 0.34rem;position: relative;padding-bottom: 0.2rem;border-bottom: solid 1px #EBEBEB;}
.topicReply .zan>span{position: absolute;width: 1rem;height: 0.28rem;line-height: 0.28rem;text-align: center;}
.topicReply .zan .text{left: 0;top: 0.1rem;}
.topicReply .zan .num{color: #FF2256;left: 0;top: 0.4rem;font-size: 0.2rem;}
.topicReply .zan ul{overflow: hidden;margin-left: 1rem;}
.topicReply .zan ul li{float: left;width: 0.68rem;height: 0.68rem;margin-left: 0.2rem;}
.topicReply .zan ul li img{width: 0.68rem;height: 0.68rem;border-radius: 50%;}
.topicReply .reply .title{height: 0.48rem;line-height: 0.48rem;text-indent: 0.32rem;color: #9B9B9B;font-size: 0.24rem;}
.topicReply .reply .list{border-bottom: solid 1px #EBEBEB;position: relative;overflow: hidden;}
.topicReply .reply .list img{position: absolute;left: 0.32rem;top: 0.16rem;width: 0.68rem;height: 0.68rem;border-radius: 50%;}
.topicReply .reply .list .content{margin: 0.06rem 0 0 1.2rem;position: relative;}
.topicReply .reply .list .content .dianzan{position: absolute;right: 0.18rem;top: 0;overflow: hidden;}
.topicReply .reply .list .content .dianzan i{font-style: normal;font-size: 0.2rem;color: #FF2256;text-align: right;display: inline-block;height: 0.4rem;line-height: 0.58rem;float: left;}
.topicReply .reply .list .content .dianzan .icon{background: url(../img/zan_gray.png) no-repeat left center;background-size: 0.4rem 0.4rem;width: 0.4rem;height: 0.4rem;display: inline-block;float: left;margin-left: 0.06rem;}
.topicReply .reply .list .content .dianzan .curr{background: url(../img/zan_red.png) no-repeat left center;background-size: 0.4rem 0.4rem;}
.topicReply .reply .list .content .reply1{margin-right: 0.5rem;}
.topicReply .reply .list .content .reply1 .name{display: block;font-size: 0.24rem;color: #9B9B9B;height: 0.32rem;line-height: 0.32rem;}
.topicReply .reply .list .content .reply1 .time{font-size: 0.16rem;display: block;color: #9B9B9B;height: 0.24rem;line-height: 0.24rem;}
.topicReply .reply .list .content .reply1 .text{font-size: 0.24rem;color: #4A4A4A;padding-right: 0.2rem;line-height: 0.36rem;}
.topicReply .reply .list .content .reply2{position: relative;background: #F7F7F7;margin-right: 0.5rem;padding: 0.08rem 0 0.08rem 0.08rem;margin: 0.1rem 0.5rem 0.2rem 0;}
.topicReply .reply .list .content .reply2:before{
	content: "";
	position: absolute;
	left: 0.2rem;
	top: -5px;
	border-color: transparent transparent #F7F7F7 transparent;
	border-style: solid;
	border-width: 0 5px 7px 5px;
}
.topicReply .reply .list .content .reply2 .name{display: block;font-size: 0.24rem;color: #9B9B9B;height: 0.32rem;line-height: 0.32rem;}
.topicReply .reply .list .content .reply2 .time{font-size: 0.16rem;display: block;color: #9B9B9B;height: 0.24rem;line-height: 0.24rem;}
.topicReply .reply .list .content .reply2 .text{font-size: 0.24rem;color: #4A4A4A;padding-right: 0.2rem;line-height: 0.36rem;}

#more{background: #F7F7F7;padding: 0.16rem 0;line-height: 0.28rem;margin: 0.16rem;font-size: 0.28rem;color: #4A4A4A;text-align: center;display: block;}
.bottomReply{position: fixed;left: 0;bottom: 0;height: 0.9rem;line-height: 0.9rem;overflow: hidden;width: 100%;background: #F7F7F7;overflow: hidden;}
.bottomReply input{float: left;height: 0.56rem;line-height: 0.56rem;box-sizing: border-box;
	color: #4A4A4A;
	width: 5.6rem;
	font-family: "sans-serif";
	font-size: 14px;
	margin: 0.17rem 0 0 0.28rem;
}
.bottomReply input:-webkit-input-placeHolder{
	color: #9B9B9B;
}

.bottomReply a{float: right;width: 1.5rem;height:0.9rem;line-height: 0.9rem;text-align: center;color: #666;font-size: 0.32rem;}

.loading{position: relative;}
.loading:before{
  content: "";
  display: block;
  font-size: 2px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-animation: loading 1.3s infinite linear;
  animation: loading 1.3s infinite linear;
}
@-webkit-keyframes loading {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #19bf96, 2em -2em 0 0em #19bf96, 3em 0em 0 -0.5em #19bf96, 2em 2em 0 -0.5em #19bf96, 0em 3em 0 -0.5em #19bf96, -2em 2em 0 -0.5em #19bf96, -3em 0em 0 -0.5em #19bf96, -2em -2em 0 0em #19bf96;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #19bf96, 2em -2em 0 0.2em #19bf96, 3em 0em 0 0em #19bf96, 2em 2em 0 -0.5em #19bf96, 0em 3em 0 -0.5em #19bf96, -2em 2em 0 -0.5em #19bf96, -3em 0em 0 -0.5em #19bf96, -2em -2em 0 -0.5em #19bf96;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #19bf96, 2em -2em 0 0em #19bf96, 3em 0em 0 0.2em #19bf96, 2em 2em 0 0em #19bf96, 0em 3em 0 -0.5em #19bf96, -2em 2em 0 -0.5em #19bf96, -3em 0em 0 -0.5em #19bf96, -2em -2em 0 -0.5em #19bf96;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #19bf96, 2em -2em 0 -0.5em #19bf96, 3em 0em 0 0em #19bf96, 2em 2em 0 0.2em #19bf96, 0em 3em 0 0em #19bf96, -2em 2em 0 -0.5em #19bf96, -3em 0em 0 -0.5em #19bf96, -2em -2em 0 -0.5em #19bf96;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #19bf96, 2em -2em 0 -0.5em #19bf96, 3em 0em 0 -0.5em #19bf96, 2em 2em 0 0em #19bf96, 0em 3em 0 0.2em #19bf96, -2em 2em 0 0em #19bf96, -3em 0em 0 -0.5em #19bf96, -2em -2em 0 -0.5em #19bf96;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #19bf96, 2em -2em 0 -0.5em #19bf96, 3em 0em 0 -0.5em #19bf96, 2em 2em 0 -0.5em #19bf96, 0em 3em 0 0em #19bf96, -2em 2em 0 0.2em #19bf96, -3em 0em 0 0em #19bf96, -2em -2em 0 -0.5em #19bf96;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #19bf96, 2em -2em 0 -0.5em #19bf96, 3em 0em 0 -0.5em #19bf96, 2em 2em 0 -0.5em #19bf96, 0em 3em 0 -0.5em #19bf96, -2em 2em 0 0em #19bf96, -3em 0em 0 0.2em #19bf96, -2em -2em 0 0em #19bf96;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #19bf96, 2em -2em 0 -0.5em #19bf96, 3em 0em 0 -0.5em #19bf96, 2em 2em 0 -0.5em #19bf96, 0em 3em 0 -0.5em #19bf96, -2em 2em 0 0em #19bf96, -3em 0em 0 0em #19bf96, -2em -2em 0 0.2em #19bf96;
  }
}
@keyframes loading {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #19bf96, 2em -2em 0 0em #19bf96, 3em 0em 0 -0.5em #19bf96, 2em 2em 0 -0.5em #19bf96, 0em 3em 0 -0.5em #19bf96, -2em 2em 0 -0.5em #19bf96, -3em 0em 0 -0.5em #19bf96, -2em -2em 0 0em #19bf96;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #19bf96, 2em -2em 0 0.2em #19bf96, 3em 0em 0 0em #19bf96, 2em 2em 0 -0.5em #19bf96, 0em 3em 0 -0.5em #19bf96, -2em 2em 0 -0.5em #19bf96, -3em 0em 0 -0.5em #19bf96, -2em -2em 0 -0.5em #19bf96;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #19bf96, 2em -2em 0 0em #19bf96, 3em 0em 0 0.2em #19bf96, 2em 2em 0 0em #19bf96, 0em 3em 0 -0.5em #19bf96, -2em 2em 0 -0.5em #19bf96, -3em 0em 0 -0.5em #19bf96, -2em -2em 0 -0.5em #19bf96;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #19bf96, 2em -2em 0 -0.5em #19bf96, 3em 0em 0 0em #19bf96, 2em 2em 0 0.2em #19bf96, 0em 3em 0 0em #19bf96, -2em 2em 0 -0.5em #19bf96, -3em 0em 0 -0.5em #19bf96, -2em -2em 0 -0.5em #19bf96;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #19bf96, 2em -2em 0 -0.5em #19bf96, 3em 0em 0 -0.5em #19bf96, 2em 2em 0 0em #19bf96, 0em 3em 0 0.2em #19bf96, -2em 2em 0 0em #19bf96, -3em 0em 0 -0.5em #19bf96, -2em -2em 0 -0.5em #19bf96;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #19bf96, 2em -2em 0 -0.5em #19bf96, 3em 0em 0 -0.5em #19bf96, 2em 2em 0 -0.5em #19bf96, 0em 3em 0 0em #19bf96, -2em 2em 0 0.2em #19bf96, -3em 0em 0 0em #19bf96, -2em -2em 0 -0.5em #19bf96;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #19bf96, 2em -2em 0 -0.5em #19bf96, 3em 0em 0 -0.5em #19bf96, 2em 2em 0 -0.5em #19bf96, 0em 3em 0 -0.5em #19bf96, -2em 2em 0 0em #19bf96, -3em 0em 0 0.2em #19bf96, -2em -2em 0 0em #19bf96;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #19bf96, 2em -2em 0 -0.5em #19bf96, 3em 0em 0 -0.5em #19bf96, 2em 2em 0 -0.5em #19bf96, 0em 3em 0 -0.5em #19bf96, -2em 2em 0 0em #19bf96, -3em 0em 0 0em #19bf96, -2em -2em 0 0.2em #19bf96;
  }
}
