
.field {
    position: relative;
}

.field input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000000;
    height: 28px;
    font-size: 12px;
    padding: 0 3px;
}

.field input:focus {
    outline: 0;
}



.autocompleter {
	width:150px;
    background:#fff;
    position: absolute;
    top: 130px;
    left: 246PX;
    z-index: 100;
}

.autocompleter,
.autocompleter-hint {
    position: absolute;
}

.autocompleter-list {
    box-shadow: inset 0px 0px 6px rgba(0,0,0,0.1);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.autocompleter-item {
	padding-left:10px;
  	line-height:26px;
    color: #444444;
    font-size: 14px;
    cursor: pointer;
}

.autocompleter-item:hover {
    background: #DBEAF9;
}

.autocompleter-item strong {
    text-shadow: 0 1px 0 #ffffff;
}

.autocompleter-item span {
    color: #bbbbbb;
}

.autocompleter-hint {
    color: #ccc;
    text-align: left;
    top: -56px;
    font-weight: 400;
    left: 0;
    padding: 6px 6px 6px 7px;
    font-size: 12px;
    display: none;
}


.autocompleter-closed {
    display: none;
}
