.main{color: #333333;font-size: 14px;}
.settings{overflow: hidden;font-size: 14px;margin-top: 15px;-webkit-user-select: none;}
.input{background:#ffffff;border:1px solid #d3d3d3;border-radius:5px;height:26px;text-indent: 4px;}
.settings .tit{width: 140px;text-align: right;float: left;line-height: 28px;}
.settings .tit .required{color: #df1e1e;margin-right: 5px;}
.settings .content{float: left;margin-left: 10px;}
.settings .content .actName{width: 369px;}
.settings .content .checkbox_label{margin-top: 6px;width: 16px;height: 16px;background: url(images/check_icon.png) no-repeat left top;display:inline-block;}
.settings .content .checkbox{display: none;}
.settings .content .checkbox:checked+label{background-position: right top;}
.settings .content .radio{display: none;}
.settings .content .radio_label{margin-top: 6px;width: 16px;height: 16px;background: url(images/check_icon.png) no-repeat left bottom;display:inline-block;}
.settings .content .radio:checked+label{background-position: right bottom;}
#fk_thumbnail{display: none;margin-top: 8px;}
.settings .content .check_des{display: inline-block;line-height: 28px;vertical-align: top;margin-left: 5px;}
.settings .content .radio_des{display: inline-block;line-height: 28px;vertical-align: top;margin-left: 5px;}
.settings .content .setTime{background: url(images/calender_icon.png) no-repeat 150px center;width: 170px;display: inline-block;}
.sectionTit{background:#f2f4f6;line-height:31px;text-indent: 19px;margin: 25px 20px 0 16px;}
.settings .content .selectImage{background:#f2f4f6;border:1px solid #d3d3d3;border-radius:0px 5px 5px 0px;width:100px;line-height:26px;text-align: center;float: left;position: relative;cursor: pointer;}
.settings .content .selectImage input[type=file]{opacity: 0;filter: alpha(opacity=0);position: absolute;left: 0;top: 0;width:100px;height:26px;}
.uploadPath{border-radius: 5px 0 0 5px;width: 268px;float: left;border-right: 0;}
.settings .content .showUpload{float:left;margin-left: 10px;width: 30px;height: 30px;}
.settings .content .showUpload img{width:100%;height: 100%;}
#showSL{position: fixed;display: none;}
.settings .content .time-ude{width: 166px;}
.settings .content .choose_btn{background-image:linear-gradient(-180deg, #ffffff 0%, #eeeeee 100%);border:1px solid #bbbbbb;border-radius:5px;width:115px;height:26px;display: inline-block;color: #333333;font-size: 12px;line-height: 26px;text-align: center;text-decoration: none;}
.settings .content .choose_tmpl_desc{color: #666666;font-size: 12px;margin-left: 5px;}
.settings .content .total_goods{background:#e1f2f9;border-radius:5px;width:103px;height:28px;display: inline-block;vertical-align: middle;line-height: 28px;text-align: center;margin-left:5px;}
.settings .content .tmpl_thumbnail{height: 200px;width: 130px;margin-top: 5px;vertical-align: text-bottom;}
.settings .content .checkBig{margin-left: 20px;color: #3497ff;}
.settings .content .del_tmpl{margin-left: 10px;color: #3497FF;cursor: pointer;}