
.infolist{display:inline-block; font-size:14px;color:#3a3a3a;min-height:32px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:253px;clear:both;margin-left:-80px;}

.infolist .liststyle span{position:relative;height:36px;line-height:36px;display:inline-block;border:1px solid #E8E8E8;border-radius:5px;padding:0 0 0 4px;cursor:pointer;background:white;float:left;margin-right:8px;margin-bottom:10px;}
.infolist .liststyle span i{display:inline-block;height:36px;line-height:36px;padding-right:4px;position:relative;font-style: initial;}
/* .infolist .liststyle span i:after{content:"";display:block;width:20px;height:36px;position:absolute;right:0;top:0;background-image:url(../img/jt_nor.png);background-repeat:no-repeat;background-position:0 center;background-size:10px auto;}
 */
.infolist .liststyle span ul{width:100%;border-radius:0 0 5px 5px;position:absolute;border:1px solid #E8E8E8;background:white;left:-1px;top:36px;border-top:0;margin-bottom:10px;display:none;z-index:10;min-height:60px;max-height:250px; overflow-y: scroll;}
.infolist .liststyle span ul ::-webkit-scrollbar{
    width:0;
}
.infolist .liststyle span ul::-webkit-scrollbar {
    width:1px;
    height:1px;
}
.infolist .liststyle span ul::-webkit-scrollbar-button    {
    background-color:#fff;
}
.infolist .liststyle span ul::-webkit-scrollbar-track     {
    background:#fff;
}



.infolist .liststyle span ul li{width:100%;float:left;overflow:hidden;border-top:1px solid #E8E8E8;}
.infolist .liststyle span ul li:first-child{border-top:0;}
.infolist .liststyle span ul li a{display:block;height:36px;line-height:36px;padding:0;color:#494949;}
.infolist .liststyle span.hxx{border:none;padding:0px;color:#ddd;}