html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
a img, iframe {
    border: none;
}
ol, ul {
    list-style: none;
}
input, textarea, select, button {
    font-size: 100%;
    font-family: inherit;
}
select {
    margin: inherit;
}
/* Fixes incorrect placement of numbers in ol’s in IE6/7 */
ol { margin-left:2em; }
/* == clearFix == */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
.cl { clear: both;}
.fl { float: left;}

.fl { float: left; display: inline;}.fr { float: right; display: inline;}

.text-center { text-align: center;}
.text-left { text-align: left !important;}

.btn { display: inline-block; padding: 0 30px; height: 35px; line-height: 35px; text-align: center; color: #fff; border-radius: 4px; border: none; text-decoration: none;}
.btn-block { display: block; width: 100%;}
.btn-blue { background-color: #7ac30c;}
.btn-large { height: 40px; line-height: 40px;}
.btn-blue:hover { background-color: #7ac30c;}

.btn-mini { padding: 0 4px; height: 24px; line-height: 24px;}
.btn-medium { padding: 0 10px; height: 28px; line-height: 28px;}
.btn-gray { background-color: #fafafa; border: 1px #e6e3e3 solid; color: #666;}

.txt { padding: 0 5px; height: 30px; line-height: 30px; border: 1px #ddd solid;}

.pb-20 { padding-bottom: 20px;}.pb-30 { padding-bottom: 30px;}
.pr-20 { padding-right: 20px;}
.ml-10 { margin-left: 10px;}
.error { color: #f00;}

.c_darkBlue { color: #7ac30c;}
.c_blue { color: #5ac4f1;}
.c_lightGray { color: #ccc;}
.c_red { color: #f00;}
.c_dark { color: #333 !important;}

a { text-decoration: none;}

/*-----------------------------------------------------------------------------------------*/
html { height: 100%;}
body { height: 100%; font-size: 12px; color: #666;}
img { max-width: 100%;}
.nav { position: fixed; text-indent: 20px; width: 100%; top: 0; height: 34px; line-height: 34px; color: #999; background-color: #fff; border-bottom: 1px #eee solid;}
.icon { display: inline-block; width: 18px; height: 18px; background: url("../images/icon.png") no-repeat center 6px; vertical-align: text-bottom;}
/* .icon-home { width: 16px; height: 16px; background-position: 0 -19px;} */

.main { box-sizing: border-box; padding: 20px 20px 80px; border: 10px #e8e8e8 solid; border-top-width: 44px; min-height: 100%; background-color: #fff;}

.m-menu { padding-bottom: 30px;}
.m-menu li { display: inline-block; padding-right: 8px;}
.m-menu a { display: inline-block; width: 100px; height: 35px; line-height: 35px; border: 1px #e8e8e8 solid; background-color: #fff; color: #666666; text-align: center; text-decoration: none;}
.m-menu .active {background:#7ac30c;border-radius:3px;width:102px;height:38px; color: #fff;border: none;}
.m-menu a:hover { background:#7ac30c;border-radius:3px;width:102px;border:none; height:38px; color: #fff;}

.form-control { }
.form-control li { padding: 10px 0;font-size: 14px;}
.form-control .txt-label { display: inline-block; width: 150px; text-align: right;}
.form-control .txt { padding: 0 6px; width: 270px; height:41px; line-height: 41px; border: 1px #e6e3e3 solid;}
.form-control .btns { padding-left: 153px;}
.form-control label.error { padding-left: 10px;font-size: 12px;}
.form-control select.txt { width: 282px;}
.form-control .min-txt { width: 100px;}
.form-control select.min-txt { width: 112px;}
.form-control textarea { padding: 0 6px; line-height: 18px; border: 1px #e6e3e3 solid; vertical-align: top;}

.view-box { margin-top: 18px; border: 1px #e9e9e9 solid; overflow: hidden;}
.view-box .view-title { padding-left: 15px; height: 40px; line-height: 40px; background-color: #fafafa; font-size: 14px;}
.col-md-3, .col-md-6 { float: left; display: inline; padding: 5px 0 5px 1%; width: 31%;}
.col-md-6 { width: 63%;}
.view-box .col-md-3, .view-box .col-md-6 {height:40px; line-height: 28px; font-size: 14px; color: #999;}
.col-md-3 .tj-mes-zs{display:block; font-size:10px;color:#c1c1c1;text-align:left;line-height: 10px;}
.view-box-btns { padding: 20px 1%;}

.license-pic { display: inline-block; width: 200px; border: 2px #fafafa solid;}
.view-box .license-pic { display: block;}

.table-simple {}
.table-simple th { padding: 0 10px; background-color: #f5f5f5; height: 30px; line-height: 30px;}
.table-simple td { border-bottom: 1px #f1f1f1 solid; line-height: 24px; padding: 6px 4px;}
.table-simple th,.table-simple td { text-align: center; vertical-align: middle;}
.table-simple tr:hover td { background-color: #edfaff;}
.table-scroll th,.table-scroll td { white-space:nowrap;}
.table-scroll-wrap { width: 100%; overflow: auto;}
.table-border, .table-border td { border: 1px #f1f1f1 solid; border-collapse: collapse;}
.table-scroll .fix-width {  white-space:normal;}

.fenye { padding: 20px 0; text-align: right; line-height: 22px;}
.fenye a { display: inline-block; margin: 0 3px; padding: 0 8px; border: 1px #e8e8e8 solid; color: #666; text-decoration: none;}
.fenye a.this,.fenye a:hover { background-color: #7ac30c; border-color: #7ac30c; color: #fff;}
.fenye .btn { vertical-align: middle;}

.dialog .btns { padding: 20px 0;}
.dialog .btns .btn { margin: 0 10px; padding: 0 20px; height: 30px; line-height: 30px; background-color: #7ac30c;}
.confirm .dialog-content,.alert .dialog-content { padding: 30px 0 10px 0; color: #666; font-size: 14px;}

.ui-warn { color: #f60; border: 1px #f60 solid; margin: 20px 0; padding: 20px; line-height: 30px; font-size: 14px; background-color: #fff8cc;}

.info-box { padding: 20px 0; font-size: 14px; text-align: center; color: #888;}.info-box a { color: #5ac4f1;}
.info-box h3 { font-weight: bold; color: #333;}
.info-box-content { display: inline-block; vertical-align: middle; padding: 0 0 0 15px;}
.success-icon,.warn-icon { display: inline-block; width: 60px; height: 60px; background: url("../images/success.jpg") no-repeat; vertical-align: middle;}
.warn-icon { background: url("../images/warn.jpg") no-repeat;}

.art-view-title { text-align: center; margin: 0 20px 20px; padding-bottom: 10px; border-bottom: 1px #ddd solid; font-size: 16px; font-weight: bold;}
.art-view-content { margin: 0 20px 20px; line-height: 1.2;}
.art-view-content p { padding-bottom: 15px;}

.backcomp_d {}

.backcomp_d dt,.backcomp .reputh { margin-bottom: 10px; padding: 20px 0 6px; border-bottom: 1px #ddd solid; font-weight: bold; font-size: 14px;}
.backcomp_d li { display: inline-block; width: 30%;}
.compgoods_table td { vertical-align: middle;}
.comp_question { padding: 10px 0;}

.comp_box_proces li { display: inline-block; padding: 6px 10px; border: 1px #ddd dashed; font-size: 14px; margin: 6px 10px 10px 0; color: #ddd;}
.comp_box_proces li.this { color: #f60; font-weight: bold;}



<!--我的二维码信息-->
.main_container{width: 100%;border: solid 1px #e8e8e8;font-family:"Microsoft Yahei";color: #323232;overflow: hidden}
.titleBar{background: #fafafa;height: 40px;line-height: 40px;text-indent: 16px}
.left_content{float: left;width: 700px;margin-left: 20px;margin-top: 35px}
.left_content .basicInfo{height: 117px;position: relative;display: table}
.left_content .basicInfo .headimg{border-radius: 50%;display: block;position:absolute;left: 0; top: 0px;width: 117px;height: 117px}
.left_content .basicInfo .nameCode{position: relative;left: 130px;display:table-cell;vertical-align: middle}
.left_content .basicInfo .nameCode>span{display: block;font-size: 20px;}
.left_content .basicInfo .nameCode .nickname{}
.left_content .basicInfo .nameCode .code{color: #707070 }
.left_content .inviteWords{font-size: 16px;color: #707070;margin-top: 40px}
.inviteWords_text{width: 492px;height: 80px;font-size: 16px;line-height: 25px;padding-left: 8px;margin-top: 4px}
.text_area{position: relative}
.text_area label{position: absolute;top: 5px;left: 8px;color: #323232}
.left_content .btns{margin: 30px 0px 100px 0px; }
.left_content .btns a,.left_content .btns input[type="submit"]{outline:none;width: 150px;text-align: center;height: 50px;line-height: 50px;margin-left:30px;background: #7ac30c;color: #fff;border: none;font-size: 16px;display: inline-block }
.left_content .btns a:hover{text-decoration: none}
.btn2{cursor:pointer}
.qrCode_content{float: left;margin-top: 66px;width: 200px;text-align: center}
.qrCode_content #qrcode{width: 200px;height: 200px}
.qrCode_content span{font-size: 14px;color: #717171}

.common-container{width: 1030px;border: solid 1px #c1c1c1;overflow: hidden}
.qrCodeSj{float: right;margin-right: 30px}

.inviteList{width: 970px;margin: 20px auto 30px auto}
.inviteList ul li{height: 99px;border-bottom: solid 1px #c1c1c1;overflow: hidden}
.inviteList ul li .content{height: 70px;margin-top: 15px}
.inviteList ul li .content .basic{position: relative;display: table;height: 70px}
.inviteList ul li .content .basic .headimg{border-radius: 50%;display: block;position:absolute;left: 0; top: 0px;width: 70px;height: 70px}
.inviteList ul li .content .basic .headimg img{width: 70px;height: 70px}
.inviteList ul li .content .basic .nameCode{position: relative;left:85px;display:table-cell;vertical-align: middle}

.inviteList ul li .content .basic .nameCode .nickname {display: block;font-size: 22px;}
.inviteList ul li .content .basic .nameCode .code{ color: #707070;font-size: 18px}
.inviteList ul li .content .addtime{color: #707070;font-size: 18px;float: right;margin-right: 12px;margin-top: 45px}

<!--end-->





















