body {
  font-family : Arial, Helvetica, Sans-Serif;
  background:#fff;
}
body.mes{
	background:url('/resources/images/background.png')no-repeat;
	background-size:cover;
	width:100%;height:100%;
}
a {
  cursor: pointer;
  text-decoration:none;
}
input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol,ul {
	list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {

	content: "";
}

input {
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
     border: 0;
}

/* input[type="text"]:focus, input[type="text"]:hover, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:hover, input[type="password"]:active, textarea:hover, textarea:focus, textarea:active {
    background-color: #fff;
    border: 1px solid #19BF96;
} */
.back-login{width:100%;height:16px;font-size:14px;color:#7e7e7e;text-align:left;background:url('/resources/images/back.png')no-repeat 38px center;margin-top: 39px;text-indent:60px;}
.back-login a{color:#7e7e7e;}
.mes-add-bigdiv{margin:auto;  position:absolute; left:35.55%;top:15%;width:526px;height:auto;border: 7px solid rgba(255,255,255,0.31); border-radius:3px;}
.mes-add-bigdiv2{width:527px;height:588px;overflow:hidden;}
.mes-add-div{ background-color:#fff;width:528px;height:auto;text-align:center;margin:auto;}
.mes-add-bigdiv .mes-add-div2{width:100%;height:100%;}
.mes-add-div .add-mes-tit{margin-top:29px; width:100%; font-size:18px;color:#666666;text-align:center;font-weight:bold; }.mes-add-bigdiv .add-mes-tit span{font-size:14px;}
.mes-add-div .tit-zhishi{width:100%;font-size:12px;color:#C3C3C3;letter-spacing:0px;text-align:center;margin:8px auto;}.tit-zhishi span{color:#f96f6f;margin-right: 4px;}
.mes-add-div ul{width:100%;}.mes-add-div ul li{float:left;width:100%;height:33px;margin-top:12px;}
.mes-add-div ul li label{float:left;display:inline-block;margin-left:88px; width:75px;text-align:right;height:33px;line-height:33px;font-size:14px;color:#666;}
.mes-add-div ul li .txt{float:left;display:inline-block;margin-left:16px;font-size:14px;color:#3a3a3a; width: 253px; height: 32px;line-height: 28px;border: 1px #e6e3e3 solid;border-radius:3px; text-indent: 12px;}
.mes-add-div ul li .danspan{float:left;overflow:hidden;margin-left:29px;font-size:14px;color:#3a3a3a;height:32px;line-height:32px;}
.mes-add-div ul li .sex{float:left;display:inline-block; width:10px;height:28px; background:url('/resources/images/wxz.png')no-repeat center center;}
.mes-add-div ul li .sex:checked{float:left;display:inline-block; width:10px;height:28px; background:url('/resources/images/xz.png')no-repeat center center;}
.mes-add-div ul li .select-mz{float:left;display:inline-block;width:128px;height:32px;border:1px solid #e6e3e3;margin-left:16px;border-radius:3px;font-size:14px;color:#3a3a3a;}
.mes-add-div .submit{cursor:pointer; margin:21px auto; background:url('/resources/images/botton.png')no-repeat center center #7ac30c;border-radius:3px;width:336px;height:38px;font-size:16px;color:#ffffff;letter-spacing:18px;line-height:22px;}
.mes-add-div ul li .txt-span{float: left;overflow: hidden; margin-left: 16px;font-size: 14px;color: #3a3a3a;height: 32px;line-height: 32px;}
.mes-add-div2 .mes-jindu{ width:100%;height:135px;margin:auto;text-align:center;background:url('/resources/images/line.png') no-repeat center 85px;}
.mes-add-div2 .mes-jindu .jinduul{overflow:hidden;margin:auto;width:350px;height:135px;}
.mes-add-div2 .mes-jindu .jinduul li{width:33.3%;margin-top:72px;}
.mes-jindu .jinduul .one{display:inline-block;width:25px;height:25px; border-radius:100%;background:url('/resources/images/luse.png')no-repeat center center #99d047;font-style:inherit;color:#fff;text-align:center;line-height:25px;}
.mes-jindu .jinduul .two{display:inline-block;width:25px;height:25px; border-radius:100%;background:url('/resources/images/gray.png')no-repeat center center #d8d8d8;font-style:inherit;color:#fff;text-align:center;line-height:25px;}
.mes-jindu .jinduul .one-strong{display: block;text-align: center;font-size:14px;color:#99d047;margin-top:7px;font-weight:normal;}
.mes-jindu .jinduul .two-strong{display: block;text-align: center;font-size:14px;color:#a5a5a5;margin-top:7px;font-weight:normal;}
.mes-add-div2 .img-sh{display:inline-block;margin-top:59px;}
.mes-add-div2 .block-span{display:block;width:100%;text-align:center;}
.mes-add-div2 .suss-mes{font-size:16px;color:#7ac30c;text-align:center;margin-top:15px;}
.mes-add-div2 .suss-meszhushi{font-size:13px;color:#969696;letter-spacing:0px;line-height:20px;text-align:center;margin-top:8px;margin-bottom:-8px;}
.mes-add-div2 .sh-btn{display:inline-block;font-size:14px;color:#969696; background:url('/resources/images/sh-shop.png')no-repeat 19px center #fff; border:1px solid #eee; text-indent:30px; border-radius:3px;width:141px;height:37px;line-height:37px;margin-top:22px;}