<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="full-screen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>健康商城</title>
	<link href="$!webPath/resources/shop/css/style.css" rel="stylesheet" type="text/css" />
	<script>
		var screenWidth=window.innerWidth||document.documentElement.clientWidth;
		document.documentElement.style.fontSize = parseInt(screenWidth /7.5 ) + "px";
    </script>
    <style type="text/css" media="screen">
    	.footer-fc{
    		width:100%;
    		height:1rem;
    		line-height:1rem;
    		background:#fff;
    		overflow:hidden;
    		position:fixed;
    		bottom:0.98rem;
    	}
    	.footer-fc img{
    		display:inline-block;
    		width:0.72rem;height:0.72rem;
    		margin-left:0.42rem;
    		float:left;
    		margin-top:0.15rem;
    	}
    	.footer-fc .footer-font{
    		float:left;
    		height:1rem;
    		line-height:1rem;
			font-size:0.24rem;
			color:#19bf96;	
			margin-left:0.11rem;

    	}
    	.footer-fc .xiazaibtn{
    		float:left;
    		display:inline-block;
    		width:1.88rem;
    		height:1rem;
    		line-height:1rem;
    		background:url(./images/xiazaiapp.png) center center no-repeat;
    		background-size:1.88rem 0.58rem;
    		margin-left:0.4rem;
    	}
    	.footer-fc .fc-close{
    		float:right;
    		width:0.25rem;height:0.25rem;
    		background:url(./images/fc-close.png) center center no-repeat;
    		background-size:0.24rem 0.24rem;
    		margin-top: 0.12rem;margin-right:0.12rem;
    	}
    </style>
</head>
<body>
#set($goodscases=$!goodsCaseViewTools.queryGoodsCase("index_top"))
#if($!goodscases.size()>0)
	<div id="tab"> 
		<ul class="tab_menu floatCtro">
			#set($first=1)
          <li>
        		<!-- <a href="javascript:void(0)">$!obj.caseName</a> -->
       		    #foreach($obj in $goodscases)
         		<div #if($!first==1) #set($first=0) #end id="goodscase$!obj.id"  goods_random="1" class="fn"><a href="javascript:void(0)">$!obj.caseName</a></div>
          		#end
          </li>
	    <!--	<li class="selected">今日特价</li>
	        <li>尚品汇</li>
	        <li>超值推荐</li>
	        <li>云尚自营</li>
	        <li>分类</li>	-->
	    </ul>
	</div>
	<div class="main">
		<div class="app">
			<div id="head">
				<!-- banner -->
				 <div class="row" style="overflow: hidden;">
			        <div id="slide">
			            <div class="hd">
			                <ul><li class="on">1</li><li class="on">2</li><li class="on">3</li></ul>
			            </div>
			            <div class="bd">
			                <div class="tempWrap" style="overflow:hidden; position:relative;">
			                	<ul style="width: 100%; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translateX(-768px);">
				                	
				                	#foreach($adv in $advList)
				                	<li style="display: table-cell; vertical-align: top; width: 768px; overflow: hidden;">
				   	                    	<a href="$adv.adUrl" target="_blank">
				   	                    		<img src="$adv.adImgPath" alt="">
				   	                    	</a>
				   	                 </li>
				   	                #end
				                	</ul>
			                </div>
			            </div>
			        </div>
    			</div>
    			
		#set($divIdEnd=1)
        #foreach($obj in $goodscases)
			#set($case_list=$!goodsCaseViewTools.queryCaseGoods($obj.caseContent))
    			<div id="float0$!divIdEnd" class="float0$!divIdEnd">
    			#set($divIdEnd=$divIdEnd+1)
	    			<div class="menu-title">
	    				<img src="$!webPath/resources/shop/images/Line@2x.png" alt="">
<!-- 标题   -->
          					$!obj.caseName
          				<img src="$!webPath/resources/shop/images/Line@2x.png" alt="">
          			</div>
<!-- 商品详情bg   -->
					#set($forNu=0)
					#foreach($!casegoods in $case_list)
						#if($!casegoods.goodsMainPhotoPath)
							#set($img="$!{casegoods.goodsMainPhotoPath}")
						#else
							#set($img="$!{config.goodsImage.path}")
						#end
						#set($goods_url="$!webPath/goods_$!{casegoods.id}_gcase.htm")
						#if($!config.secondDomainOpen && $!casegoods.goodsType==1 && $!casegoods.storeSecondDomain !="")
							#set($goods_url="http://$!{casegoods.storeSecondDomain}.$!{domainPath}/goods_$!{casegoods.id}_gcase.htm")
						#end
						<div class="lanmu-goods" >	
		    			<div class="menu-title-img">
							<a href="$!goods_url">
							<!-- 商品图片   -->
		    					<img data-original="$!{img}">
							</a>
		    			</div>
		    			<div class="goods-title">
		    				<a href="$!goods_url">
		    				<!-- 字符串截取 -->
	                        #if($!{casegoods.goodsName.length()}>27)
	                           	$!{casegoods.goodsName.substring(0,28)} 
	                         #else
	                         	$!{casegoods.goodsName} 
	                         #end
		    				</a>
		    			</div>
		    			<div class="goods-price">
		    				
		    				<span class="meiy">¥</span><span class="old-price">$!casegoods.goodsCurrentPrice</span>
		    				<span class="tejia"></span>
		    				#set($thisPrice = $!casegoods.goodsShowPrice-$!selfAddPrice)
		    				<span class="huijia">¥$!thisPrice</span>
		    				<span class="bvzhi" style="display: none;">20</span>
		    			</div>
	    			</div>
					#set($forNu=$forNu+1)
					#if($forNu>1)
					#break
					#end
<!-- 商品详情ed   -->
					 #end 
					<!-- <div class="jk-more"><a href="">更多<img src="$!webPath/resources/shop/images/0.png" alt=""></a></div> -->
        #end
				<!--分类 -->
			#set($floorno=0)
			#foreach($floor in $floors)
			#set($floorno=$floorno+1)
    			<div id="float0$floorno">
	    			<div class="menu-title">
	    				<img src="$!webPath/resources/shop/images/Line@2x.png" alt="">
	    						$!{floor.gfName}
	    				<img src="$!webPath/resources/shop/images/Line@2x.png" alt="">
	    			</div>
		    		<div class="lanmu-goods" >
		    			<div class="menu-title-img">
		    				<!-- <img src="$!webPath/resources/shop/images/WeChat_1468665331@2x.png" alt=""> -->
		    				$!gf_tools.generic_adv("$!url","$!floor.gfLeftAdv")
		    			</div>
						<div class="sanjiao">
							<img src="$!webPath/resources/shop/images/jiantou.png" alt="">
						</div>
		    			<div style="">
						  	<div id="Marquee_x">
						    <ul>
						      <li>
						      #set($map=$!gf_tools.generic_goods_list("$!floor.gfListGoods"))
						      #foreach($goods in $!map.get("goodsList"))
								      #if($!goods.goodsMainPhotoPath)
								         #set($img="$!{goods.goodsMainPhotoPath}")
								      #else
								         #set($img="$!{config.goodsImage.path}")
								      #end
							        
							          #set($goods_url="$!webPath/goods_$!{goods.id}.htm")
							
							          #if($!config.secondDomainOpen && $!goods.goodsType==1 && $!goods.storeSecondDomain!="")
							          #set($goods_url="http://$!{goods.storeSecondDomain}.$!{domainPath}/goods_$!{goods.id}.htm")
						          	  #end
							        <div>
							        	<img  data-original="$!{img}" alt=""/>
										<a href="$!goods_url"><span class="lun-title">$!goods.goodsName</span></a>
							        	<a href="$!goods_url"><img  src="$!{img}" alt=""/>
										<span class="lun-title">$!goods.goodsName</span></a>
							        	<span class="lun-price">¥  <span>$!{goods.goodsShowPrice}</span> </span>
							        </div>
						        #end
						      </li>
						    </ul>
							</div>
						</div>   
						</div>
				 </div>
				 </div>
				 #end
			 </div>
		</div>
	</div>
	
	<!-- 底部浮层 -->
	<div class="footer-fc">
		<img src="./images/fd-img.png" alt="">
		<span class="footer-font">云生活 尚品质 健康与众不同</span>
		<a class="xiazaibtn" href="javascript:void(0)"><!-- 点击下载按钮 --></a>
		<a class="fc-close" href="javascript:void(0)"><!-- close --></a>
	</div>
	
	<div class="actGotop">
	<img src="$!webPath/resources/shop/images/addcar.png" alt="" style="display: block;">
	<a href="javascript:;" title="返回顶部"></a> 
	<img src="$!webPath/resources/shop/images/dinzhi.png" alt="">
	</div>
	
	<script src="$!webPath/resources/js/jquery.min.js" type="text/javascript"></script>
	<script src="$!webPath/resources/js/common.js"></script>
	<script src="$!webPath/resources/js/jQuery1.7.js" type="text/javascript" ></script>
	<script src="$!webPath/resources/js/TouchSlide.js" type="text/javascript"></script>
	<script src="$!webPath/resources/js/srcolltop.js" type="text/javascript"></script>
	<script src="$!webPath/resources/js/jquery.lazyload2.js"></script>
		<script src="$!webPath/resources/js/goToHtml.js"></script>
	
	<script type="text/javascript">
	 $('img').lazyload();
	$('#tab ul li div.fn').click(function() {
		$(this).addClass('selected').siblings().removeClass('selected');
	});


	
	<!-- 定位导航 -->
	$(function(){
		   var AllHet = $(window).height();
		   var mainHet= $('.floatCtro').height();
		   var fixedTop = (AllHet - mainHet)/2
		
		    $('ul.floatCtro li div.fn').click(function(){
				var i = $('ul.floatCtro li div.fn').index(this);
			 	var topVal = $('.float0'+parseInt(i+1)).offset().top-35;
			 	$(this).addClass('selected').siblings().removeClass('selected');
				$('body,html').animate({scrollTop:topVal},1000);	 
			});
		   
	      $(window).scroll(scrolls);

		   function scrolls(){
			  	var sTop = $(window).scrollTop();
			   	var divs=$('[class^="float"]');
			   	for(var i=0;i<divs.length;i++){

					var f=$('.float0'+parseInt(i+1)).offset().top;
				   	 if(sTop>=f-100){
				   	 	$('ul.floatCtro li div.fn').eq(i).addClass('selected').siblings().removeClass('selected');
				   	 }
			   	}
		   }
		   });
	   
	   

	TouchSlide({
		slideCell:"#slide",
		titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
		mainCell:".bd ul",
		effect:"left",
		autoPlay:true,//自动播放
		autoPage:true, //自动分页
		switchLoad:"_src" //切换加载，真实图片路径为"_src"
	});
		$(".old-price").each(function(){			
		var html=$(this).html().split('.').join(".</span><span class=\"small\">");
		$(this).html(html);
	});
	$(".lun-price-2").each(function(){			
		var html=$(this).html().split('.').join(".</span><span class=\"small\">");
		$(this).html(html);
	});
	</script>
#end
</body>
</html>