<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinco.carnation.shop.mapper.ConsultStatisMapper">
	<resultMap id="BaseResultMap" type="com.sinco.carnation.shop.model.ConsultStatis">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="delete_status" property="deleteStatus"
			jdbcType="BIT" />
		<result column="cs_consult_id" property="csConsultId" jdbcType="BIGINT" />
		<result column="cs_ip" property="csIp" jdbcType="VARCHAR" />
		<result column="cs_type" property="csType" jdbcType="INTEGER" />
		<result column="cs_user_id" property="csUserId" jdbcType="BIGINT" />
	</resultMap>
	<resultMap id="BOResultMap" type="com.sinco.carnation.shop.bo.ConsultStatisBO"
		extends="BaseResultMap" />
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, add_time, delete_status, cs_consult_id, cs_ip, cs_type, cs_user_id
	</sql>
	<select id="selectByExample" parameterType="com.sinco.carnation.shop.model.ConsultStatisExample"
		resultMap="BOResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from shop_consult_statis
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		from shop_consult_statis
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from shop_consult_statis
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.sinco.carnation.shop.model.ConsultStatisExample">
		delete from shop_consult_statis
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.sinco.carnation.shop.model.ConsultStatis"
		useGeneratedKeys="true" keyProperty="id">
		insert into shop_consult_statis (id, add_time, delete_status,
		cs_consult_id, cs_ip, cs_type,
		cs_user_id)
		values (#{id,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP},
		#{deleteStatus,jdbcType=BIT},
		#{csConsultId,jdbcType=BIGINT}, #{csIp,jdbcType=VARCHAR}, #{csType,jdbcType=INTEGER},
		#{csUserId,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.sinco.carnation.shop.model.ConsultStatis"
		useGeneratedKeys="true" keyProperty="id">
		insert into shop_consult_statis
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="deleteStatus != null">
				delete_status,
			</if>
			<if test="csConsultId != null">
				cs_consult_id,
			</if>
			<if test="csIp != null">
				cs_ip,
			</if>
			<if test="csType != null">
				cs_type,
			</if>
			<if test="csUserId != null">
				cs_user_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteStatus != null">
				#{deleteStatus,jdbcType=BIT},
			</if>
			<if test="csConsultId != null">
				#{csConsultId,jdbcType=BIGINT},
			</if>
			<if test="csIp != null">
				#{csIp,jdbcType=VARCHAR},
			</if>
			<if test="csType != null">
				#{csType,jdbcType=INTEGER},
			</if>
			<if test="csUserId != null">
				#{csUserId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.sinco.carnation.shop.model.ConsultStatisExample"
		resultType="java.lang.Integer">
		select count(*) from shop_consult_statis
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update shop_consult_statis
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.addTime != null">
				add_time = #{record.addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.deleteStatus != null">
				delete_status = #{record.deleteStatus,jdbcType=BIT},
			</if>
			<if test="record.csConsultId != null">
				cs_consult_id = #{record.csConsultId,jdbcType=BIGINT},
			</if>
			<if test="record.csIp != null">
				cs_ip = #{record.csIp,jdbcType=VARCHAR},
			</if>
			<if test="record.csType != null">
				cs_type = #{record.csType,jdbcType=INTEGER},
			</if>
			<if test="record.csUserId != null">
				cs_user_id = #{record.csUserId,jdbcType=BIGINT},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update shop_consult_statis
		set id = #{record.id,jdbcType=BIGINT},
		add_time = #{record.addTime,jdbcType=TIMESTAMP},
		delete_status = #{record.deleteStatus,jdbcType=BIT},
		cs_consult_id = #{record.csConsultId,jdbcType=BIGINT},
		cs_ip = #{record.csIp,jdbcType=VARCHAR},
		cs_type = #{record.csType,jdbcType=INTEGER},
		cs_user_id = #{record.csUserId,jdbcType=BIGINT}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.sinco.carnation.shop.model.ConsultStatis">
		update shop_consult_statis
		<set>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteStatus != null">
				delete_status = #{deleteStatus,jdbcType=BIT},
			</if>
			<if test="csConsultId != null">
				cs_consult_id = #{csConsultId,jdbcType=BIGINT},
			</if>
			<if test="csIp != null">
				cs_ip = #{csIp,jdbcType=VARCHAR},
			</if>
			<if test="csType != null">
				cs_type = #{csType,jdbcType=INTEGER},
			</if>
			<if test="csUserId != null">
				cs_user_id = #{csUserId,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sinco.carnation.shop.model.ConsultStatis">
		update shop_consult_statis
		set add_time = #{addTime,jdbcType=TIMESTAMP},
		delete_status = #{deleteStatus,jdbcType=BIT},
		cs_consult_id = #{csConsultId,jdbcType=BIGINT},
		cs_ip = #{csIp,jdbcType=VARCHAR},
		cs_type = #{csType,jdbcType=INTEGER},
		cs_user_id = #{csUserId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>