<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinco.carnation.sns.mapper.UserHealthtaskMapper">

	<resultMap id="BaseResultMap" type="com.sinco.carnation.sns.model.UserHealthtask">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="task_name" property="taskName" jdbcType="VARCHAR" />
		<result column="join_num" property="joinNum" jdbcType="BIGINT" />
		<result column="create_by" property="createBy" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="BIGINT" />
		<result column="describes" property="describes" jdbcType="VARCHAR" />
		<result column="iconURL" property="iconURL" jdbcType="VARCHAR" />
		<result column="taskType" property="taskType" jdbcType="VARCHAR" />
		<result column="signType" property="signType" jdbcType="BIGINT" />
		<result column="taskURL" property="taskURL" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="BOResultMap" type="com.sinco.carnation.sns.bo.UserHealthtaskBO"
		extends="BaseResultMap" />

	<sql id="Base_Column_List">
		id,
		task_name,
		join_num,
		create_by,
		create_time,
		update_time,
		is_deleted,
		describes,
		iconURL,
		taskType,
		signType,
		taskURL
	</sql>

	<select id="select_UserHealthtask_in_ID" parameterType="java.util.List"
		resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		from
		user_healthtask
		where
		1=1
		and
		is_deleted = 0
		and
		id in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
		ORDER BY
		id DESC
	</select>

	<select id="select_healthTask_List" resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		from
		user_healthtask
		where
		1=1
		and
		is_deleted = 0
		<if test="list!=null">
			and
			id not in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		ORDER BY
		create_time DESC
	</select>

	<select id="select_healthTaskByLike_List" resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		from
		user_healthtask
		where
		1=1
		and
		is_deleted = 0
		and
		task_name LIKE CONCAT(CONCAT('%', #{taskName}), '%')
		<if test="list!=null">
			and
			id not in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>

	<insert id="insert_userHealthTask" parameterType="com.sinco.carnation.sns.model.UserHealthtask"
		useGeneratedKeys="true" keyProperty="id">
		insert into user_healthtask

		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_time,is_deleted
			<if test="id != null">
				,id
			</if>
			<if test="taskName != null">
				,task_name
			</if>
			<if test="joinNum != null">
				,join_num
			</if>
			<if test="createBy != null">
				,create_by
			</if>
			<if test="createTime != null">
				,create_time
			</if>
			<if test="updateTime != null">
				,update_time
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			now(),0
			<if test="id != null">
				,#{id,jdbcType=BIGINT}
			</if>
			<if test="taskName != null">
				, #{taskName,jdbcType=VARCHAR}
			</if>
			<if test="joinNum != null">
				,#{joinNum,jdbcType=BIGINT}
			</if>
			<if test="createBy != null">
				,#{createBy,jdbcType=BIGINT}
			</if>
			<if test="updateTime != null">
				,#{updateTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		from
		user_healthtask
		where
		id = #{id,jdbcType=BIGINT}
	</select>

	<update id="update_JoinNum_ByPrimaryKey">
		update
		user_healthtask
		set
		join_num = join_num + 1,
		update_time = now()
		where
		id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectOne_UserHealthTask_ByID">
		select
		<include refid="Base_Column_List" />
		from
		user_healthtask
		where
		1=1
		and
		is_deleted = 0
		and
		id = #{id,jdbcType=BIGINT}
	</select>

	<select id="select_UserHealthTask_limit" resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		from
		user_healthtask
		where
		1=1
		and
		is_deleted = 0

		limit #{num,jdbcType=BIGINT}
	</select>

	<update id="update_Del_By_ID">
		update user_healthtask set is_deleted = 1 where id = #{id,jdbcType=BIGINT}
	</update>
	<!-- 获取系统创建的任务 -->
	<select id="select_SysHealthTaskList" resultMap="BOResultMap">
		select
		<include refid="Base_Column_List" />
		from
		user_healthtask
		where
		1=1
		and
		is_deleted = 0
		and
		taskType = 0
		<if test="list!=null">
			and
			id not in
			<foreach item="item" index="index" collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		ORDER BY id
	</select>

	<!-- <sql id="Example_Where_Clause" > <where > <foreach collection="oredCriteria" 
		item="criteria" separator="or" > <if test="criteria.valid" > <trim prefix="(" 
		suffix=")" prefixOverrides="and" > <foreach collection="criteria.criteria" 
		item="criterion" > <choose > <when test="criterion.noValue" > and ${criterion.condition} 
		</when> <when test="criterion.singleValue" > and ${criterion.condition} #{criterion.value} 
		</when> <when test="criterion.betweenValue" > and ${criterion.condition} 
		#{criterion.value} and #{criterion.secondValue} </when> <when test="criterion.listValue" 
		> and ${criterion.condition} <foreach collection="criterion.value" item="listItem" 
		open="(" close=")" separator="," > #{listItem} </foreach> </when> </choose> 
		</foreach> </trim> </if> </foreach> </where> </sql> <sql id="Update_By_Example_Where_Clause" 
		> <where > <foreach collection="example.oredCriteria" item="criteria" separator="or" 
		> <if test="criteria.valid" > <trim prefix="(" suffix=")" prefixOverrides="and" 
		> <foreach collection="criteria.criteria" item="criterion" > <choose > <when 
		test="criterion.noValue" > and ${criterion.condition} </when> <when test="criterion.singleValue" 
		> and ${criterion.condition} #{criterion.value} </when> <when test="criterion.betweenValue" 
		> and ${criterion.condition} #{criterion.value} and #{criterion.secondValue} 
		</when> <when test="criterion.listValue" > and ${criterion.condition} <foreach 
		collection="criterion.value" item="listItem" open="(" close=")" separator="," 
		> #{listItem} </foreach> </when> </choose> </foreach> </trim> </if> </foreach> 
		</where> </sql> <select id="selectByExample" parameterType="com.sinco.carnation.sns.model.UserHealthtaskExample" 
		resultMap="BOResultMap" > select <if test="distinct" > distinct </if> <include 
		refid="Base_Column_List" /> from user_healthtask <if test="_parameter != 
		null" > <include refid="Example_Where_Clause" /> </if> <if test="orderByClause 
		!= null" > order by ${orderByClause} </if> <if test="limit != null" > limit 
		${limit} </if> </select> <select id="selectByPrimaryKey" parameterType="java.lang.Long" 
		resultMap="BOResultMap" > select <include refid="Base_Column_List" /> from 
		user_healthtask where id = #{id,jdbcType=BIGINT} </select> <delete id="deleteByPrimaryKey" 
		parameterType="java.lang.Long" > delete from user_healthtask where id = #{id,jdbcType=BIGINT} 
		</delete> <delete id="deleteByExample" parameterType="com.sinco.carnation.sns.model.UserHealthtaskExample" 
		> delete from user_healthtask <if test="_parameter != null" > <include refid="Example_Where_Clause" 
		/> </if> </delete> <insert id="insert" parameterType="com.sinco.carnation.sns.model.UserHealthtask" 
		useGeneratedKeys="true" keyProperty="id" > insert into user_healthtask (id, 
		task_name, join_num, create_by, create_time, update_time, is_deleted) values 
		(#{id,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, #{joinNum,jdbcType=BIGINT}, 
		#{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
		#{isDeleted,jdbcType=BIGINT}) </insert> <insert id="insertSelective" parameterType="com.sinco.carnation.sns.model.UserHealthtask" 
		useGeneratedKeys="true" keyProperty="id" > insert into user_healthtask <trim 
		prefix="(" suffix=")" suffixOverrides="," > <if test="id != null" > id, </if> 
		<if test="taskName != null" > task_name, </if> <if test="joinNum != null" 
		> join_num, </if> <if test="createBy != null" > create_by, </if> <if test="createTime 
		!= null" > create_time, </if> <if test="updateTime != null" > update_time, 
		</if> <if test="isDeleted != null" > is_deleted, </if> </trim> <trim prefix="values 
		(" suffix=")" suffixOverrides="," > <if test="id != null" > #{id,jdbcType=BIGINT}, 
		</if> <if test="taskName != null" > #{taskName,jdbcType=VARCHAR}, </if> <if 
		test="joinNum != null" > #{joinNum,jdbcType=BIGINT}, </if> <if test="createBy 
		!= null" > #{createBy,jdbcType=BIGINT}, </if> <if test="createTime != null" 
		> #{createTime,jdbcType=TIMESTAMP}, </if> <if test="updateTime != null" > 
		#{updateTime,jdbcType=TIMESTAMP}, </if> <if test="isDeleted != null" > #{isDeleted,jdbcType=BIGINT}, 
		</if> </trim> </insert> <select id="countByExample" parameterType="com.sinco.carnation.sns.model.UserHealthtaskExample" 
		resultType="java.lang.Integer" > select count(*) from user_healthtask <if 
		test="_parameter != null" > <include refid="Example_Where_Clause" /> </if> 
		</select> <update id="updateByExampleSelective" parameterType="map" > update 
		user_healthtask <set > <if test="record.id != null" > id = #{record.id,jdbcType=BIGINT}, 
		</if> <if test="record.taskName != null" > task_name = #{record.taskName,jdbcType=VARCHAR}, 
		</if> <if test="record.joinNum != null" > join_num = #{record.joinNum,jdbcType=BIGINT}, 
		</if> <if test="record.createBy != null" > create_by = #{record.createBy,jdbcType=BIGINT}, 
		</if> <if test="record.createTime != null" > create_time = #{record.createTime,jdbcType=TIMESTAMP}, 
		</if> <if test="record.updateTime != null" > update_time = #{record.updateTime,jdbcType=TIMESTAMP}, 
		</if> <if test="record.isDeleted != null" > is_deleted = #{record.isDeleted,jdbcType=BIGINT}, 
		</if> </set> <if test="_parameter != null" > <include refid="Update_By_Example_Where_Clause" 
		/> </if> </update> <update id="updateByExample" parameterType="map" > update 
		user_healthtask set id = #{record.id,jdbcType=BIGINT}, task_name = #{record.taskName,jdbcType=VARCHAR}, 
		join_num = #{record.joinNum,jdbcType=BIGINT}, create_by = #{record.createBy,jdbcType=BIGINT}, 
		create_time = #{record.createTime,jdbcType=TIMESTAMP}, update_time = #{record.updateTime,jdbcType=TIMESTAMP}, 
		is_deleted = #{record.isDeleted,jdbcType=BIGINT} <if test="_parameter != 
		null" > <include refid="Update_By_Example_Where_Clause" /> </if> </update> 
		<update id="updateByPrimaryKeySelective" parameterType="com.sinco.carnation.sns.model.UserHealthtask" 
		> update user_healthtask <set > <if test="taskName != null" > task_name = 
		#{taskName,jdbcType=VARCHAR}, </if> <if test="joinNum != null" > join_num 
		= #{joinNum,jdbcType=BIGINT}, </if> <if test="createBy != null" > create_by 
		= #{createBy,jdbcType=BIGINT}, </if> <if test="createTime != null" > create_time 
		= #{createTime,jdbcType=TIMESTAMP}, </if> <if test="updateTime != null" > 
		update_time = #{updateTime,jdbcType=TIMESTAMP}, </if> <if test="isDeleted 
		!= null" > is_deleted = #{isDeleted,jdbcType=BIGINT}, </if> </set> where 
		id = #{id,jdbcType=BIGINT} </update> <update id="updateByPrimaryKey" parameterType="com.sinco.carnation.sns.model.UserHealthtask" 
		> update user_healthtask set task_name = #{taskName,jdbcType=VARCHAR}, join_num 
		= #{joinNum,jdbcType=BIGINT}, create_by = #{createBy,jdbcType=BIGINT}, create_time 
		= #{createTime,jdbcType=TIMESTAMP}, update_time = #{updateTime,jdbcType=TIMESTAMP}, 
		is_deleted = #{isDeleted,jdbcType=BIGINT} where id = #{id,jdbcType=BIGINT} 
		</update> -->
</mapper>