body {
  font-family : Arial, Helvetica, Sans-Serif;
  background:#fff;
}
a {
  cursor: pointer;
  text-decoration:none;
}
input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol,ul {
	list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {
	content: "";
}
input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
     border: 0;
}
.gysmain{
	width:100%;
	height:102px;
	background:#19bf96;
	text-align:center;
}
.gys-nav{width:1200px;margin:auto;}
.yss-top-mes{
	height:102px;
	line-height:102px;
	text-align:left;
}
.yss-top-mes img{display:inline-block;vertical-align:middle;}
.yss-top-mes .gystit{
	font-size:20px;
	color:#ffffff;
	margin-left:20px;
}
.progress img{
	display:block;margin:65px auto;
}
.title{
	text-align:center;
	font-size:24px;
	color:#000000;
	margin-top: 20px;
}
.gysxieyi{
	width:1200px;
	border:1px solid #c0c0c0;
	height:484px;
	overflow-y:scroll;
	margin-top:34px;
}
.check{
	text-align:left;
	font-size:20px;
	margin-top:27px;
}
.check .radiobox{
	width:20px;height:20px;background:url(../img/weixuanz.png) no-repeat center center;vertical-align:middle;color:#c0c0c0;background-size:20px 20px;
}
.check .radiobox:checked{width:20px;height:20px;background:url(../img/xuanzhong.png) no-repeat center center;vertical-align:middle;color:#000;background-size:20px 20px;margin-top:-4px;}
.next-one{text-align:center;}
.next-one .next-btn{margin:66px auto; display:inline-block;background:#19bf96;border-radius:12px;width:170px;height:50px;line-height:50px; font-size:24px;color:#ffffff;text-align:center;}
.jibenmes{background:url('../img/titbj.png')no-repeat center center;font-size:20px;color:#4a4a4a;margin:60px auto;width:1200px;}

.ruzhucontent{margin-top:66px;}
.gys-nav li{list-style: none;overflow: hidden;width: 100%;line-height:49px;margin-bottom:26px;}
.txt-label {
    display: inline-block;
	font-size:24px;
	color:#4a4a4a;
	float:left;
}
.txt-label .tit{float:left; width: 280px;text-align: right;margin-left:20px;}
.c_red{color:#ff2256;float:left;}
.ruzhucontent .txt {
	float:left;
    padding: 0 6px;
    border:1px solid #c0c0c0;
	width:443px;
	height:49px;
	line-height:49px;
	margin-left:26px;
	font-size:20px;
}
.ruzhucontent .txt::-webkit-input-placeholder{
        color: #c5c5c5;
        font-size:20px;
}
.ruzhucontent .txt::-moz-placeholder{  //不知道为何火狐的placeholder的颜色是粉红色，怎么改都不行，希望有大牛路过帮忙指点
        color: #c5c5c5;   font-size:20px;     
}
.ruzhucontent .txt:-ms-input-placeholder{  //由于我的IE刚好是IE9，支持不了placeholder，所以也测试不了(⊙﹏⊙)，有IE10以上的娃可以帮我试试
        color: #c5c5c5;   font-size:20px;     
}
.preview{overflow:hidden;float:left;}
.ruzhucontent .inputimgfile{
	float:left; 
	background:#f0f0f0;width:100px;
	height:100px;
	background:url('../img/imgfile.png')no-repeat center center;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
}
.ruzhu-top{
	width:1200px;
	overflow:hidden;
}
.ruzhu-top ul li{
	width:47%;
	float:left;
	background:#ffffff;
	border:1px solid #e6e6e6;
	height:592px;
}
.ruzhu-top ul li .pa1{width:100%; font-size:26px;color:#4a4a4a;margin-top:30px;text-align:center;}
.ruzhu-top ul li .pa2{font-size:18px;color:#9b9b9b;text-align:center;}
.ruzhu-top .ruzhu-top-li2{float:right;}
.ruzhu-top img{margin-top:15px;}
.ruzhu-top .ruzhubottomul{width:100%;overflow:hidden;height:110px;margin-top:36px;}
.ruzhubottomul ul li{float:left;width:33.3%;border:none;height:110px;}
.ruzhubottomul ul li img{margin-top:0px;margin-bottom:13px;}
.ruzhu-top .ruzhubottomul .bottomulspan{display:block;font-size:14px;color:#4a4a4a;width:100%;height:25px;line-height:25px;}
.ruzhu-btn-submit{margin:25px 41px;padding-top: 49px;border-top:1px dashed #d9d9d9;text-align:center;}
.ruzhu-btn-submit a{display:inline-block;background:#19bf96;border-radius:4px;width:201px;height:49px;font-size:20px;color:#ffffff;}
.jm-nav{width:100%;margin:auto;}
.jmbz{background:#fffce8;overflow:hidden;width:100%;height:auto;padding-top:40px;}
.jmbz .jmbz-tit{margin-bottom:40px; width:100%;background:url('../img/jmbz.png')no-repeat center center #fffce8;height:67px;color:#4a4a4a;font-size:24px; text-align:center;line-height:82px;}

.jmbz .jmbz-pa{width:100%; font-size:20px;color:#4a4a4a;text-align:left;margin-bottom:22px;}

.red-span{color:#FF2256; cursor:pointer;}.red-span a{color:#FF2256;}
.jmbz table{font-size:20px;color:#4a4a4a;margin-bottom:49px;}

@media screen and (min-width: 1366px) {
    .jmbz .jmbz-pa {
        padding-left:5%;
    }
    .jmbz table{margin-left:5%;}
}
@media screen and (min-width: 1920px) {
    .jmbz .jmbz-pa {
        padding-left:10%;
    }
    .jmbz table{margin-left:10%;}
}

.jmbz .table-one-line{background:#ffdb08;width:100%;height:60px;margin-left:194px;}
.jmbz2 .table-one-line{background:#51B3FC;width:100%;height:60px;margin-left:194px;}
.tda{height:61px;line-height:61px;}.tdb{height:85px;}
.table-one-td{width:84px;border-right:1px solid #979797;}
.table-two-td{width:292px;border-right:1px solid #979797;}.table-three-td{width:1045px;text-align:left;padding-left:105px;}
.jmbz .table-orter-line{background: #fffce8;width: 100%;height: 85px;margin-left: 194px;border-bottom:1px solid #979797;}
.jmbz2 .table-orter-line{background: #effbfe;width: 100%;height: 85px;margin-left: 194px;border-bottom:1px solid #979797;}

.table-three-td.tdb{width:1135px;text-align:left;padding-left:15px;}
.table-orter-line .spanblock{display:block;}


.jmbz.jmbz2{background:#effbfe;}
.jmbz2 .jmbz-tit{margin-bottom:40px; width:100%;background:url('../img/jmbz2.png')no-repeat center center #effbfe;height:67px;color:#4a4a4a;font-size:24px; text-align:center;line-height:82px;}
.rzpt-bottm{padding-bottom:43px;margin-bottom:107px; width:1200px;background:#fff;font-size:20px;color:#4a4a4a;border:1px solid #e6e6e6;margin:auto;}
.rzpt-bottm-tit{width:1118px;margin-left:41px;margin-top: 34px;padding-bottom: 40px;border-bottom:1px dashed #d9d9d9;}
.rzpt-bottm-pa{margin-left:41px;height:45px;line-height:45px;text-align:left;color:#4a4a4a;}.rzpt-bottm-pa a{color:#4a4a4a;}

.shenpijindu{margin-bottom:100px; overflow:hidden; background:#fbfbfb;border:1px solid #c0c0c0;width:1200px;height:683px;margin:auto;margin-top:62px;}
.shenpijindu .jinduiimg{height:257px;width:100%;background:url('../img/shenpiprosse.png')no-repeat center center;}
.jinduiimg ul li{float:left; width:33.3%;height:257px;line-height:257px;font-size:20px;color:#fff;text-align:center;}
.jindumes ul li{float:left;width:33%;height:400px;font-size:20px;color:#000000;padding-top: 171px;}
.jindumes ul li span{display:block;}.jindumes ul li.line{border-right:1px solid #c0c0c0;}
.ruzhucontent .img-btn{display:inline-block; float:left; margin-left:26px;margin-top:70px; background:#19bf96;border-radius:2px;width:96px;height:30px;line-height:30px; font-size:20px;color:#fff;}
.ruzhucontent .lookimg{cursor:pointer; font-size:18px;color:#ff2256;float:left;display:inline-block;margin-left:26px;margin-top:64px;}
.tijiaosqbtn{display:inline-block;margin-top:12px; width:60px;height:66px;line-height:66px;float:left;}
.noyescheckbox{background:url('../img/notij.png')no-repeat center center #f0f0f0;border:1px solid #c0c0c0;width:26px;height:26px;margin: auto;}
.noyescheckbox:checked{background:url('../img/yestij.png')no-repeat center center #f0f0f0;border:1px solid #c0c0c0;width:26px;height:26px;margin: auto;}
.falutiaowen{float:left;width:744px;}
.ruzhucontent #file{
	margin-left: -221px;
    height: 100px;opacity:0;filter:alpha(opacity=0);-moz-opacity:0;
}

.gysxieyi-tit{width:100%;height:70px;line-height:70px;color:#4a4a4a;font-size:20px;}
.gysxieyi-table table{width:97%;border:1px solid #4a4a4a;margin:0px 20px;}
.gysxieyi-table table tr{width:100%;}
.gysxieyi-table table .gysxieyi-table-tda{text-align:left; border:1px solid #4a4a4a; text-indent:15px; font-size:18px; color:#4a4a4a;height:40px;line-height:40px;}
.xieyitit{font-size:20px; color:#4a4a4a; font-weight:bold;margin:25px auto; width:100%; text-align:center;}
.xieyi-pa{font-size:20px;color:#4a4a4a; line-height:30px;text-align:left;text-indent:15px;padding-left:15px;margin-bottom:20px;}
.xieyi-pa-span{font-size:20px;color:#4a4a4a;font-weight:bold;}
#showSL{position: fixed;display: none;}