<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="email=no">
        <title>中医自测</title>
        <link rel="stylesheet" type="text/css" href="${apiPath}/resources/css/common.css"/>        
        <link rel="stylesheet" type="text/css" href="${apiPath}/resources/css/mui.min.css" />
        <link rel="stylesheet" type="text/css" href="${apiPath}/resources/css/mui.picker.min.css" />
        <link rel="stylesheet" type="text/css" href="${apiPath}/resources/css/tijian.css" />
        <style type="text/css">
        	body{
        		line-height: 12px;
        	}
        </style>
	    <script>
    		var screenWidth=window.innerWidth||document.documentElement.clientWidth;
			document.documentElement.style.fontSize = parseInt(screenWidth /7.5 ) + "px";
	    </script>
	</head>
	<body>
		<div class="progressBar">
			<span class="bar"></span>
		</div>
		<div class="tjHolder bgWhite">
			<div class="questionContent" id="questionContent">
				<div class="quesTypeArea">
					<span class="typeTit">中医体质自测</span>
				</div>
				<div class="questionList">
					<div class="timu curr">
						<div class="subject"><p>您经常饮酒吗？</p></div>
						<div class="option option-horizontal">
							<a href="javascript:;" data-score="1"><span class="circle1"></span>没有</a>
							<a href="javascript:;" data-score="2"><span class="circle"></span>经常</a>
							<a href="javascript:;" data-score="3"><span class="circle"></span>偶尔</a>
							<a href="javascript:;" data-score="3"><span class="circle"></span>有事</a>
							<a href="javascript:;" data-score="3"><span class="circle"></span>总是</a>
						</div>
					</div>
					<div class="timu">
						<div class="subject"><p>您经常饮酒吗？</p></div>
						<div class="option fn-hide">
							<a href="javascript:;" data-score="1"><span class="circle"></span>不，基本不喝酒</a>
							<a href="javascript:;" data-score="2"><span class="circle"></span>是，经常过量</a>
							<a href="javascript:;" data-score="3"><span class="circle"></span>是，但不过量</a>
						</div>
					</div>
					<div class="timu">
						<div class="subject"><p>您常吃粗粮吗？一周能吃至少4次或更多的麦片、玉米、全麦面包、杂粮杂豆吗？</p></div>
						<div class="option yesno fn-hide">
							<a href="javascript:;" data-score="5"><span class="yes"></span></a>
							<a href="javascript:;" data-score="1"><span class="no"></span></a>
						</div>
					</div>
					<div class="timu">
						<div class="subject"><p>平均一天抽几根烟</p></div>
						<div class="selectBtn popSelectBtn fn-hide" data-arr="[{value: '1',text: '选项一'}, {value: '2',text: '选项二'	}, {value: '3',text: '选项三'}]">请选择</div>
					</div>
					<div class="timu">
						<div class="subject"><p>平均一天抽几根烟</p></div>
						<div class="selectBtn popSelectBtn fn-hide" data-arr="[{value: '1',text: '选项一'}, {value: '2',text: '选项二'	}, {value: '3',text: '选项三'}]">请选择</div>
					</div>
					<div class="timu">
						<div class="subject"><p>平均一天抽几根烟</p></div>
						<div class="selectBtn popSelectBtn fn-hide" data-arr="[{value: '1',text: '选项一'}, {value: '2',text: '选项二'	}, {value: '3',text: '选项三'}]">请选择</div>
					</div>
					<div class="timu">
						<div class="subject"><p>平均一天抽几根烟</p></div>
						<div class="selectBtn popSelectBtn fn-hide" data-arr="[{value: '1',text: '选项一'}, {value: '2',text: '选项二'	}, {value: '3',text: '选项三'}]">请选择</div>
					</div>
					<div class="timu">
						<div class="subject"><p>平均一天抽几根烟</p></div>
						<div class="selectBtn popSelectBtn fn-hide" data-arr="[{value: '1',text: '选项一'}, {value: '2',text: '选项二'	}, {value: '3',text: '选项三'}]">请选择</div>
					</div>					
					<div class="fn-hide">
						<a href="javascript:;" class="submitBtn" id="submitBtn">提&nbsp;&nbsp;交</a>
						<input type="hidden" id="webPath" value="${apiPath}"/>
					</div>
				</div>
			</div>
			
		</div>
		<script src="${apiPath}/resources/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="${apiPath}/resources/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="${apiPath}/resources/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="${apiPath}/resources/js/mui.picker.min.js"></script>
		<script src="${apiPath}/resources/js/jiankangpinggu/CHMedicine.js"></script>
		<script type="text/javascript">
			 
		</script>
	</body>
</html>
