<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="email=no">
        <title>调查建议</title>
        <link rel="stylesheet" type="text/css" href="${apiPath}/resources/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="${apiPath}/resources/css/tijian.css" />
	    <script>
    		var screenWidth=window.innerWidth||document.documentElement.clientWidth;
			document.documentElement.style.fontSize = parseInt(screenWidth /7.5 ) + "px";
	    </script>
	</head>
	<body>
		<div class="appbar fn-clear">
			<a href="javascript:;" class="return"></a>
			<span class="centerTitle">调查建议</span>
		</div>
		<div class="tjHolder" style="padding-top:0.9rem">
			<div class="pingfen pingfen2">
				<div class="tit">
					<a href="javascript:;" class="reCheck">重评&nbsp;></a>
					<span><span class="left">健康评分</span><span class="score">$!bo.totalScore&nbsp;分</span></span>
				</div>
				<div class="colorBar">
					<span class="arraw"></span>
					<ul>
						<li>慢性病</li>
						<li>高风险</li>
						<li>亚健康</li>
						<li>健康</li>
					</ul>
				</div>
			</div>
			<div class="sglist">
				#foreach($!obj in $!bo.proposalDetailedBO_List)
					<div class="title">$!obj.proposalTitle :</div>
					<div class="content">
						$!obj.proposalContent。
					</div>
				#end
			</div>
			<div class="xgTask">
				<div class="tit">
					相关健康任务
				</div>
				<div class="xglist">
					<ul>
						#foreach($!obj in $!bo.userHealthtaskBO_List)
							<li>
								<a href="${apiPath}/v1/ht/taskSet?id=$!obj.id&userID=$!uid&jumpType=sys" class="addtask">+&nbsp;新任务</a>
								<div class="con">
									<div class="task">
										<span class="icon">
											<img src="${apiPath}/resources/img/task_icon.png"/>
										</span>
										<span class="tname">$!obj.taskName</span>
									</div>
									<div class="des">&nbsp;</div>
								</div>
							</li>
						#end
					</ul>
				</div>
			</div>
		</div>
		<script src="${apiPath}/resources/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="${apiPath}/resources/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="${apiPath}/resources/js/tools.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			jQuery(document).ready(function(){
				jQuery(".return").on("touchstart",function(){
					fn.requestBack();
				});
				
				jQuery(".reCheck").click(function(){
					console.log(".....重测......");
					window.location.href="${apiPath}/v1/wenjuan/questionnaire?userID=$!uid&title=true";
				});
			});
			setTimeout(function(){
				var isChronic = $!bo.groupResultBo.isChronic;
				var isHigh = $!bo.groupResultBo.isHigh;
				var isYjk = $!bo.groupResultBo.isYjk;
				var isHealthy = $!bo.groupResultBo.isHealthy;
				var type = "";
				console.log("....isChronic:"+isChronic+" isHigh:"+isHigh
							+" isYjk:"+isYjk+" isHealthy:"+isHealthy);
				if(isChronic)
				{
					type = "20%";
				}
				else if(isHigh)
				{
					type = "40%";
				}
				else if(isYjk)
				{
					type = "60%";
				}
				else if(isHealthy)
				{
					type = "80%";
				}  
				jQuery(".pingfen .colorBar .arraw").css("left",type);
			},1);			
		</script>
	</body>
</html>
