<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="email=no">
        <title>方法建议</title>
        <link rel="stylesheet" type="text/css" href="${apiPath}/resources/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="${apiPath}/resources/css/tijian.css" />
	    <script>
    		var screenWidth=window.innerWidth||document.documentElement.clientWidth;
			document.documentElement.style.fontSize = parseInt(screenWidth /7.5 ) + "px";
	    </script>
	</head>
	<body>
		<div class="tjHolder">
			#foreach($!obj in $!list)
				<div class="diet fangfa">
					<div class="tit">
						$!obj.proposalTitle
					</div>
					<div class="content">
						$!obj.proposalContent
					</div>
				</div>
			#end
		</div>
		
		<script src="${apiPath}/resources/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="${apiPath}/resources/js/common.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
