a{
	text-decoration:none;
	cursor:pointer;
}
.fl{
	display:inline;
	float:left;
}
.fr{
	display:inline;
	float:right;
}
.btn{
	cursor:pointer;
}
.btn:hover{
	text-decoration:none!important;
}
/*main*/ 
#Fixed {
	position: fixed;
	_position: absolute;
	z-index:100;
	bottom: 70px;
	left: 90%;
	margin-left:496px;
	_bottom:auto;
	_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-70);
	width:63px;
	background: #fff;
	border:1px solid #19bf96;
} 
#goCart, #goChat, #goTop, #feedback {

} 
#feedback{
	width: 63px;
	height: 59px;
	border-bottom: 2px solid #EEEEEE;
	background-position: -1px -770px;
} 
#feedback:hover {

	} 
#goCart,#goChat, #goTop {
	position: relative;
	width: 63px;
	height: 59px;
	background:-1px -1px no-repeat;
	cursor: pointer;
	line-height:59px;
	text-align:center;
} 
#goChat {
	background-position: -1px -238px;
} 
#goCart:hover {
	background-position: -1px -180px;
} 
#goChat:hover
{
	background-position:-1px -238px;
}
#goTop{
	width:63px;
	height:61px;
}
#goTop:hover{
	opacity:1;
	filter:alpha(opacity=100);
	-moz-transition:opacity 0.3s ease-in,opacity 0.3s ease-out;
	-webkit-transition:opacity 0.3s ease-in,opacity 0.3s ease-out;
	transition:opacity 0.3s ease-in,opacity 0.3s ease-out;
} 
.footer{
	position:relative;
	/* background:#605d5c; */
}
#Fixed a{
	background:#f7f7f7;
	color:#4a4a4a;
	font-size: 16px;
}
/* #Fixed a:hover{
	color:#fff;
	background:#19bf96;
} */
 #Fixed a.top-app:hover{background:url("../images/ma.png")no-repeat center center #19bf96; color: #fff}
#Fixed a.ppg-car-cb:hover{background:url("../images/gou.png")no-repeat center center #19bf96;color: #fff }
#Fixed a.go-top:hover{background:url("../images/top.png")no-repeat center center #19bf96;color: #fff } 
/* #Fixed a.go-top .topimg{display: block;margin: 10px 0px;width: 100%;height: 15px;background:url("../images/goptop.png")no-repeat center center;}
 */.ppg-car-cb{
	border-top:1px solid #19bf96;
	border-bottom:1px solid #19bf96;
}