html{font-size: 50px;height: 100%;}
body{height: 100%;position: relative;box-sizing: border-box;}
.jfjl-top{
	width:100%;
	background-color:rgba(24,191,150,0.90);
	overflow:hidden;
	border-bottom:0.2rem solid #f7f7f7;
}
.jfjl-top .title{
	width:100%;overflow:hidden;
	height:0.88rem;
	line-height:0.88rem;
	/* background:url(../img/jfjl-fanhui.png) no-repeat 0.3rem center;
	background-size:0.26rem 0.42rem; */
	text-align:center;
	font-size:0.36rem;
	color:#fff;
}
.jfjl-top .jilu{
	display: inline-block;
    width: 100%;
}
.jfjl-top .guize{
	float: right;
    margin-right: 0.28rem;
    font-size: 0.32rem;
    color: #fff;
    position: relative;
    z-index: 999;
    margin-top: -0.88rem;
}
.jfjl-top .jifen-number{
	width:100%;
	height:auto;
	text-align:center;
	overflow:hidden;
	margin:auto;
}
.jfjl-top .jifen-number .jifen-shul{
	width:100%;
	font-size:0.72rem;
	color:#ffffff;
	letter-spacing:0px;
	text-align:center;
	
}
.jfjl-top .jifen-number .jifen-shul img{
	display:inline;
	width:0.56rem;height:0.48rem;
	margin-right:0.2rem;
}
.jifen-ul,.jifen-ul ul{
	width:100%;
	overflow:hidden;
	text-align:center;
}
.jifen-ul ul li{
	list-style:none;
	display:inline-block;
	overflow:hidden;
	margin-top:-0.32rem;
}
.jifen-ul ul li:nth-child(1){
	margin-right:0.05rem;
}
.jifen-ul ul li:nth-child(2){
	margin-left:0.05rem;
}
.jifen-ul ul li a{
	display:inline-block;
	background:#ffffff;
	border-radius:0.48rem;
	width:1.68rem;
	height:0.5rem;
	font-size:0.28rem;
	color:#19be92;
	letter-spacing:0px;
	line-height:0.5rem;
}
.jfjl-body,.jfjl-body dl{
	width:100%;
	overflow:hidden;
}
.jfjl-body dl dt,.jfjl-body dl dd{
	width:100%;
	border-bottom:1px solid #f7f7f7;
	color:#4a4a4a;
	font-size:0.32rem;
	text-indent:0.28rem;
}
.jfjl-body dl dt{
	height:0.78rem;
	line-height:0.78rem;
}
.jfjl-body dl dd{
	height:1.24rem;
}
.jfjl-body dl dd .number{
	float:right;
	font-size:0.32rem;
	color:#4a4a4a;
	margin-top: 0.22rem;
	margin-right:0.28rem;
}
.jfjl-body dl dd .left-tit{
	float:left;
	font-size:0.32rem;
	color:#4a4a4a;
	margin-top: 0.22rem;
}
.jfjl-body dl dd .qiand-time{
	display:inline-block;
	width:100%;
	overflow:hidden;
	margin-top:0.14rem;
}
.jfjl-body dl dd .yuer{
	float:right;
	font-size:0.32rem;
	color:#c0c0c0;
	margin-right:0.28rem;
}
.jfjl-body dl dd .qiand-time .time{
	float:left;
	font-size:0.24rem;
	color:#c0c0c0;
}
.yunboubi-number{
	display:inline-block;
	margin-bottom:0.4rem;
}
/*绑定手机号*/
.band-susses{width:100%;height:1.4rem;background:#f7f7f7;font-size:0.28rem;color:#afafaf;}
.band-susses span{display:inline-block; margin:0.34rem;line-height:0.36rem;}
.band-phone{text-align:center;}
.band-phone,.band-phone ul{width:100%; overflow:hidden;}
.band-phone ul{background:#fff;}
.band-phone ul li{width:100%;height:1rem;border-bottom:1px solid #f7f7f7;}
.band-phone label{font-size:0.32rem;color:#4a4a4a;display: inline-block;float: left;height: 1rem;line-height: 1rem;margin-left:0.42rem;}
.band-phone ul li span{float:left;height:1rem;line-height:0.5rem;margin-left:0.5rem;}
.band-phone input{width:4.7rem;font-size:0.28rem;color:#4e4e4e;height:0.9rem;line-height:0.9rem;margin-top: -0.3rem;border:none;}
.band-phone input::-webkit-input-placeholder {
        font-size:0.28rem;color:#b0b0b0;
}
.band-phone ul li .yzm{float:right; border-radius:0.78rem;width:1.78rem;height:0.62rem;line-height:0.62rem; font-size:0.24rem;color:#b0b0b0;border:0.02rem solid #E0E0E0;margin-top: -0.85rem;text-align:center;margin-right: 0.22rem;}
.band-phone ul li  .pwd-xs-yc{width:0.55rem;height:0.62rem; float:right;margin-top:-0.85rem;text-align:center;margin-right: 0.22rem; background:url('../img/yc-pwd.png')no-repeat center center;background-size:0.38rem 0.2rem;}
.band-phone ul li  #pwd-xs-yc{background-size:0.38rem 0.24rem;}
.band-phone .tijiao{display:inline-block;margin:auto;margin-top:0.82rem; background:#5bba52;font-size:0.4rem; text-align:center; border-radius:0.12rem;width:6.94rem;height:0.96rem;line-height:0.96rem;color:#fff;letter-spacing:0.3rem;}